

{% load tags %}


    <style>
        tr td:nth-child(7n+1) {
            border-right: 1px solid #444444;
        }     
        .pie {
            border: 1px solid #ffffff;
        }
        .stl {
            position: sticky;
            left: 0
          }
        .stt {
            position: sticky;
            top: 0
        }
    </style>


    <div 
    class="overscroll-x-auto overflow-x-auto bg-zinc-900 bg-opacity-40 backdrop-blur-xl rounded border-double border-white border lg:w-[1000px]">
        <div 
        id="schedule-grid">
            <table 
            class="table table-auto">
                <thead>
                    <th 
                    class="bg-zinc-900 stl px-2"></th>
                    {% for workday in schedule.workdays.all %}
                        <th class="sticky-top text-2xs">
                            {{ workday.date }} <br/> 
                            {{ workday.wkd }}
                        </th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for shift, assignments in schedule.as_shift_dict.items %}
                        <tr>
                            <th class="stl bg-zinc-900 px-2"><div class="bg-zinc-900 rounded p-1">{{ shift }}</div></th>

                            {% for assignment in assignments %}
                                <td>
                                    <a 
                                    class="bg-inherit font-light text-2xs text-slate-400 hover:underline" 
                                    href="{{assignment.url|default:'#'}}">
                                        {{ assignment.employee|default:"." }}
                                    </a>
                                </td>
                            {% endfor %}
                            
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    