
<div class="bg-zinc-900 rounded shadow border border-slate-700">


        <div class="border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-row -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
                <li class="mr-2">
                    <div hx-get="/sch/schedule-partials/{{schedule.slug}}/view-select/" 
                        hx-target="#swap-panel"
                        class="main-tab inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group pointer"
                        aria-current="page"
                        _="on click remove .border-blue-600 .border-b-2 .active from .main-tab 
                                add .border-blue-600 .border-b-2 .active to me
                                toggle .text-sky-200 on me
                            end">

                        <i class="fa-duotone fa-eye mx-1"></i>
                        Views
                    </div>
                </li>
                <li class="mr-2">
                    <div hx-get="/sch/schedule-partials/{{schedule.slug}}/complex-table/" 
                         hx-target="#swap-panel" 
                         class="main-tab inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group pointer"
                        aria-current="page"
                        _="on click remove .border-blue-600 .border-b-2 .active from .main-tab
                                add .border-blue-600 .border-b-2 .active to me 
                                toggle .text-sky-200 on me
                            end">

                        <i class="fa-duotone fa-briefcase-medical pr-1"></i>
                        Grid Overview
                    </div>
                </li>
                <li class="mr-2">
                    <div hx-get="/sch/schedule-partials/{{schedule.slug}}/compare-and-select/" 
                         hx-target="#swap-panel"p 
                         class="main-tab inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group pointer"
                         aria-current="page"
                         _="on click remove .border-blue-600 .border-b-2 .active from .main-tab 
                                 add .border-blue-600 .border-b-2 .active to me
                                 toggle .text-sky-200 on me 
                            end">

                        <i class="fa-duotone fa-shield-check pr-1"></i>
                        Compare & Select
                    </div>
                </li>
                <li class="mr-2">
                    {% include 'sch2/schedule/partials/action-button.html' %}
                </li>
                <li>
                    <a class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">
                        
                        <i class="fa-duotone fa-trash-can"></i>
                        Delete
                    </a>
                </li>
                <li>
                    <div id="actionMarker"></div>
                </li>
            </ul>
        </div>
   
</div>