
{% load tags %} {% load static %}
   
 


        <div class="overscroll-clip overflow-x-scroll w-[95%] lg:w-[1000px] rounded border bg-zinc-900 bg-opacity-40 backdrop-blur-xl border-zinc-300">
            <div id="schedule-grid">
                <table>
                    <thead>
                        <tr>
                            <th>{{ schedule.start_date_month }}</th>

                            {% for workday in schedule.workdays.all %}
                                <th>
                                     <a href="{{ workday.url }}">
                                        {{ workday.date.day }}
                                    </a> 
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="stl bg-zinc-700 text-xs helv font-light">
                            </td>
                            {% for workday in schedule.workdays.all %}
                                <td>
                                    <span class="pie text-green-300">
                                        {{ workday.slots.filled.count }} {{ workday.slots.empty.count }}
                                    </span>
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="schedule-body">
                        {% for employee, assignments in schedule.as_empl_dict.items %}
                            <tr>
                                <!-- ROW HEADER: Employee name -->
                                <th class="stl bg-zinc-700 text-xs helv font-light">
                                    <a href="{% url 'sch:empl-schedule-detail' employee|slugify schedule.slug %}">
                                        {{ employee }}
                                    </a>
                                </th>

                                <!-- ROW BODY: Employee assignments within schedule -->
                                {% for assignment in assignments %}
                                    {% if assignment == "PTO" %}
                                    <div class="sch-grid-cell" 
                                        oncontextmenu="alert('Verify You want to delete?')">
                                        <td>
                                            <a
                                             class="bg-inherit 
                                                    font-light 
                                                    text-2xs 
                                                    text-indigo-600"
                                                href="{{ assignment.url | default:'#' }}">
                                            {{ assignment | default:"PTO" }}
                                            </a>
                                        </td>
                                    </div>
                                    {% else %}
                                        <td>
                                            <a class="bg-inherit 
                                                      font-light 
                                                      text-2xs 
                                                      text-slate-400 
                                                    {% if assignment.shouldBeTdo == True %}    
                                                            text-amber-600 font-bold 
                                                    {% endif %}
                                                    {% if assignment.pto_conflicts.exists %} 
                                                            bg-red-200 shadow w-2 bg-opacity-40 
                                                            text-shadow text-red-300 font-bold pl-1 
                                                    {% endif %}"
                                                href="{{assignment.url|default:'#'}}">
                                            {{ assignment.shift | default:"." }}

                                            {% if assignment.is_unfavorable %} 
                                                <span class="text-amber-300 font-bold">
                                                    ● 
                                                </span> 
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    

    <script>
        const el = document.getElementById('sch-grid-cell');

        el.addEventListener('contextmenu', function(ev) {
            ev.preventDefault();
            alert('success!');
            return false;
        }, false);
    </script>



    <script> 
        
        // SCRIPT : POPUP EMPLOYEE INFO
        const toggleElement = document.querySelector('.employee-header');

        toggleElement.addEventListener('contextmenu', () => {
            // get cursor position of event 
            const { clientX, clientY } = event;
            const employeeSlug = event.target.innerText;
            // create a tooltip 
            const tooltip = document.createElement('div');
            tooltip.classList.add('tooltip-mono','absolute','bg-opacity-40');
            // add anchor to tooltip
            tooltip.innerHTML = `<a href="/employee/${employeeSlug.trim()}/" class="text-amber-300">Employee Info</a>`;
            // focus on anchor
            tooltip.querySelector('a').focus();
            // add tooltip to body
            document.body.appendChild(tooltip);
            // position tooltip
            tooltip.style.left = `${clientX}px`;
            tooltip.style.top = `${clientY}px`;
            // remove tooltip on blur
            tooltip.querySelector('a').addEventListener('blur', () => {
                tooltip.remove();
            });
            
        });

    </script>

    <script> // SCRIPT : PIE CHARTS FOR DAY COLUMNS
        document.querySelectorAll(".pie").forEach(e => peity(e, "pie", {
            fill : ["white" , "gray"]
          })) ;
    </script>

    <script>
        // Add right border to every 7th column 
        document.querySelectorAll("table tr td:nth-child(7n+8)"
            ).forEach(e => 
                e.classList.add("border-r-2","border-zinc-600"));
        
    </script>
    

    
