{% load tags %}



<section id="EMPLOYEE-WEEK-BREAKDOWNS"  class="bg-zinc-900 p-3 rounded border border-zinc-500">

    <div id="scheduleid" id="{{ schedule.slug }}></div>

    <h2 class="text-2xl">Weekly Breakdown</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Employee</th>
                {% for week in schedule.weeks.all %}
                <th class="hover:bg-indigo-900"><a href="{{week.url}}">WEEK {{ week.number }}</a> </th>
                {% endfor %}
            </tr>
        </thead>

        {% for employee in employees %}

           <tr>
                <th>
                    <a 
                        href="{% url 'sch:v2-employee-schedule' employee.slug schedule.slug %}">
                        {{ employee }}
                    </a>
                </th>

                {% for week in schedule.weeks.all %}
                <td 
                    class="hours" 
                    data-value="{% weekHours employee week.workdays.first %}" 
                    data-sch="{{ schedule.slug }}" 
                    data-emp="{{ employee.slug }}" 
                    data-week="{{ week.number }}"> 
                    {% weekHours employee week.workdays.first %} hrs.
                </td>
                {% endfor %}
           </tr>

        {% endfor %}
        </table>
<div class="modalbackground z-20">
    <div id="modal" class="custommodal">
        <div class="text-2xl text-white">Week Breakdown</div>
        <div id="weeknumber"></div>
        <div id="emplname"></div>
        <div id="modalContent" class="modalContent"></div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.hours').each(function() {
            var value = $(this).data('value');
            var sch = $(this).data('sch');
            var emp = $(this).data('emp');
            var wk = $(this).data('week');
            // add .text-red-300 to class if value > 40:
            if (value > 40) {
                $(this).addClass('text-red-500');
                $(this).addClass('font-bold');
            }
            $(this).on('click', function() {
                var url = '/api/schedule/' + sch + '/week-excess/' + emp + '/' + wk + '/';
                var modal = $('#modal');
                var modalBackground = $('.modalbackground');
        
                modalBackground.css('display', 'block');
                modal.css('display', 'block');
                var data = $.getJSON(url, function(data) {
                    var content = modal.find('.modalContent');
                    var weeknumber = modal.find('#weeknumber');
                    var emplname = modal.find('#emplname');
                    content.empty();
                    $.each(data.slots, function(i,value) {
                        emplname.text(value.employee);
                        console.log(value);
                        var html = `<div class="p-3 text-center bg-zinc-300 rounded m-2 border-indigo-400 border-double border-2"><div class="shift font-bold text-blue-900">${value.shift}</div><div class="text-2xs opacity-70 text-black">${value.workday}</div></div>`;
                        var $html = $(html);
                         // Add a click event listener to the slot element
                    $html.on('click', function() {
                        var clearUrl = value.clear_url;
                        // Send a POST request to the clearUrl
                        $.ajax({
                            url: clearUrl,
                            type: 'POST',
                            success: function(data) {
                                $html.html(`<div class="bg-zinc-800 p-2 rounded">${data}</div>`);
                            },
                            error: function() {
                                alert('Error fetching data');
                            }
                        });
                    });

    content.append($html);
                    });
                });
              });
            });
          });
    // close modal on clicked background, outside modal or its children
    $('.modalbackground').on('click', function(e) {
        if (e.target !== this) {
            return;
        }
        $(this).css('display', 'none');
        $('#modal').css('display', 'none');
        // then fetch /sch/schedule-partials/{{schedule.slug}}/week-breakdown/
        // put result into #sch-view-container
        var url = `/sch/schedule-partials/{{schedule.slug}}/week-breakdown/`;
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#sch-view-container').html(data);
            },
            error: function() {
                alert('Error fetching data');
            }
        });
        
    });
  

</script>
    
</section>