
{% load tags %} {% load static %}


<script type="text/javascript" src="{% static 'piety.min.js' %}"></script>
   
 

    <div class="bg-zinc-900 rounded p-2 shadow ring ring-indigo-300">
        <div class="overscroll-x-auto overflow-x-auto">
            <div id="schedule-grid">
                <table class='table display table-auto'>
                    <thead>
                        <tr>
                            <th class="stl bg-sky-800 ring ring-sky-800"></th>

                            {% for workday in schedule.workdays.all %}
                                <th>
                                     <a href="{{ workday.url }}">
                                        {{ workday.date.day }}
                                    </a> 
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="stl bg-sky-800 ring ring-sky-800">
                            </td>
                            {% for workday in schedule.workdays.all %}
                                <td>
                                    <span class="pie text-green-300">
                                        {{ workday.slots.filled.count }} {{ workday.slots.empty.count }}
                                    </span>
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="schedule-body">
                        {% for employee, assignments in schedule.as_empl_dict.items %}
                            <tr>
                                <!-- ROW HEADER: Employee name -->
                                <th class="employee-header 
                                            stl 
                                            bg-sky-800 
                                            ring 
                                            ring-sky-800
                                            transition
                                            hover:bg-sky-600 hover:font-bold
                                            hover:scale=110
                                            text-xs
                                            h-4
                                            text-right
                                            text-slate-300">
                                            
                                    {{ employee }}

                                </th>

                                <!-- ROW BODY: Employee assignments within schedule -->
                                {% for assignment in assignments %}
                                    {% if assignment == "PTO" %}
                                    <div class="sch-grid-cell" 
                                        oncontextmenu="alert('Verify You want to delete?')">
                                        <td>
                                            <a
                                             class="bg-inherit 
                                                    font-light 
                                                    text-2xs 
                                                    text-indigo-600"
                                                href="{{ assignment.url | default:'#' }}">
                                            {{ assignment | default:"PTO" }}
                                            </a>
                                        </td>
                                    </div>
                                    {% else %}
                                        <td>
                                            <a class="bg-inherit 
                                                      font-light 
                                                      text-2xs 
                                                      text-slate-400 
                                                    {% if assignment.shouldBeTdo == True %}    
                                                            text-amber-600 font-bold 
                                                    {% endif %}
                                                    {% if assignment.pto_conflicts.exists %} 
                                                            bg-red-200 shadow w-2 h-2 bg-opacity-40 
                                                            text-shadow text-red-300 font-bold pl-1 
                                                    {% endif %}"
                                                href="{{assignment.url|default:'#'}}">
                                            {{ assignment.shift | default:"." }}

                                            {% if assignment.is_unfavorable %} 
                                                <span class="text-amber-300 font-bold">
                                                    ● 
                                                </span> 
                                            {% endif %}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        const el = document.getElementById('sch-grid-cell');

        el.addEventListener('contextmenu', function(ev) {
            ev.preventDefault();
            alert('success!');
            return false;
        }, false);
    </script>



    <script> 
        
        // SCRIPT : POPUP EMPLOYEE INFO
        const toggleElement = document.querySelector('.employee-header');
        const tooltipElement = document.querySelector('.tooltip-mono');

        function createClickOutsideTooltipListener (tooltipElement, toggleElement) {
            return function (event) {
                const isClickInsideTooltip = tooltipElement.contains(event.target);
                const isClickInsideToggle = toggleElement.contains(event.target);

                if (!isClickInsideTooltip && !isClickInsideToggle) {
                    tooltipElement.hidden = true;
                }
            }
        }

    </script>

    <script> // SCRIPT : PIE CHARTS FOR DAY COLUMNS
        document.querySelectorAll(".pie").forEach(e => peity(e, "pie", {
            fill : ["white" , "gray"]
          })) ;
    </script>
    

    
