{% load tags %}

<script type="text/hyperscript">
    behavior ClearOT 
        on click 
            add .fa-beat then fetch actions/clear-ot-slots/  
            then call showToast('All Overtime assignments removed',`success`)
            then fetch /sch/schedule-partials/{{schedule.slug}}/week-breakdown/ 
            then put result into #swap-panel
            end 
        end
    behavior ClearPRN 
        on click 
            add .fa-beat then fetch actions/clear-prn-slots/  
            then call showToast('PRN Employees Removed from all scheduled assignments',`success`)
            then fetch /sch/schedule-partials/{{schedule.slug}}/week-breakdown/ 
            then put result into #swap-panel
            end
        end
    behavior ClearOverFte
        on click
            add .fa-beat then fetch actions/clear-over-fte-maxes/ 
            then call showToast('FTE Levels Normalized.')
            then fetch /sch/schedule-partials/{{schedule.slug}}/week-breakdown/ 
            then put result into #swap-panel
            end
</script>


<section id="EMPLOYEE-WEEK-BREAKDOWNS"  class="bg-zinc-900 p-3 rounded border border-zinc-500">

    <div id="scheduleid" id="{{ schedule.slug }}"></div>

    <div id="extra-actions-bar" class="flex flex-row my-2 gap-8">
            {# ------ PRN ICON / CLEAR ----- #}
            <i 
                class="relative fa-solid fa-comment-minus hover:text-yellow-700" 
                title="REMOVE PRN ASSIGNMENTS"
                _="install ClearPRN">
            </i>
            {# ----- OVERTIME ICON / CLEAR ----- #}
            <i 
                class="relative fa-solid fa-overline hover:text-rose-500" 
                title="CLEAR OVERTIME SLOTS ASSIGNMENTS"
                _="install ClearOT">
            </i>
            {# ----- OVERTIME ICON / CLEAR ----- #}
            <i 
                class="relative fa-regular fa-circles-overlap hover:text-orange-800" 
                title="CLEAR FTE OVERAGES"
                _="install ClearOverFte">
            </i>
            
    </div>

    <h2 class="text-2xl">Weekly Breakdown</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Employee</th>
                {% for week in schedule.weeks.all %}
                <th class="hover:bg-indigo-900">
                    <a href="{{week.url}}">WEEK {{ week.number }}</a>
                </th>
                {% endfor %}
            </tr>
        </thead>

        {% for employee in employees %}

           <tr id="empl-row-{{ employee.slug }}">
                <th>
                    <a 
                        href="{% url 'sch:v2-employee-schedule' employee.slug schedule.slug %}" 
                        class="jbm hover:underline">
                        {{ employee }}
                    </a>
                    {# ----- EMPLOYEES SCHEDULE TRASH ICON ----- #}
                    <i 
                        class="fa-duotone fa-trash hover:text-rose-400 hover:scale-[115%]"
                        hx-confirm="Are you sure you want to clear all assignments for {{ employee }} for this schedule?"
                        hx-get="{% url 'flow:sch__clear_empl' schedule.slug employee.slug %}"
                        hx-trigger="click"
                        hx-target="#empl-row-{{ employee.slug }}">
                    </i>
                </th>

                {% for week in schedule.weeks.all %}
                <td 
                    class="hours" 
                    data-value="{% weekHours employee week.workdays.first %}" 
                    data-sch="{{ schedule.slug }}" 
                    data-emp="{{ employee.slug }}" 
                    data-fte="{{ employee.fte_weekly }}"
                    data-week="{{ week.number }}"> 
                    {% weekHours employee week.workdays.first %} hrs.
                </td>
                {% endfor %}
           </tr>

        {% endfor %}
        </table>
        
<div id="modal-background" class="modalbackground z-20">
    <div id="modal" class="custommodal">
        <div class="text-2xl text-white">Week Breakdown</div>
        <div id="weeknumber"></div>
        <div id="emplname"></div>
        <div class="text-2xs text-white opacity-80 jbm italic">CLICK TO CLEAR ASSIGNMENTS</div>
        <div id="modalContent" class="modalContent"></div>
    </div>
</div>

<script>
    
    $(document).ready(function() {
        $('.hours').each(function() {
            var value = $(this).data('value');
            var sch = $(this).data('sch');
            var emp = $(this).data('emp');
            var wk = $(this).data('week');
            // add .text-red-300 to class if value > 40:
            if (value > 40) {
                $(this).addClass('text-red-500');
                $(this).addClass('font-bold');
                $(this).addClass('cursor-pointer');
                $(this).addClass('hover:text-red-300');
            }
            // add .text-yellow-300 to class if value > data-fte:
            else { if (value > $(this).data('fte')) {
                $(this).addClass('text-yellow-500');
                $(this).addClass('font-bold');
                $(this).addClass('cursor-pointer');
                $(this).addClass('hover:text-yellow-300');
            } }
            $(this).on('click', function() {
                var url = '/api/schedule/' + sch + '/week-excess/' + emp + '/' + wk + '/';
                var modal = $('#modal');
                var modalBackground = $('.modalbackground');
        
                modalBackground.css('display', 'block');
                modal.css('display', 'block');
                modal.addClass('border');
                modal.addClass('backdrop-blur-sm');

                var data = $.getJSON(url, function(data) {
                    var content     = modal.find('.modalContent');
                    var weeknumber  = modal.find('#weeknumber');
                    var emplname    = modal.find('#emplname');
                    content.empty();
                    $.each(data.slots, function(i,value) {
                        emplname.text(value.employee);
                        console.log(value);
                        var html = `<div class="p-3 text-center bg-zinc-300 rounded m-2 
                                        ring ring-indigo-500 ring-offset-2 border-indigo-400 
                                        border-double border opacity-70 hover:opacity-100">
                                        <div class="shift font-bold text-blue-900">
                                            ${value.shift}
                                        </div>
                                        <div class="text-2xs opacity-70 text-black">
                                            ${value.workday}
                                        </div>
                                    </div>`;
                        var $html = $(html);
                         // Add a click event listener to the slot element
                    $html.on('click', function() {
                        var clearUrl = value.clear_url;
                        // Send a POST request to the clearUrl
                        $.ajax({
                            url: clearUrl,
                            type: 'POST',
                            success: function(data) {
                                $html.html(`<div class="bg-zinc-800 p-2 rounded">${data}</div>`);
                            },
                            error: function() {
                                alert('Error fetching data');
                            }
                        });
                    });

    content.append($html);
                   });
                });
              });
            });
          });
    // close modal on clicked background, outside modal or its children
    $('.modalbackground').on('click', function(e) {
        if (e.target !== this) {
            return;
        }
        $(this).css('display', 'none');
        $('#modal').css('display', 'none');
        // then fetch /sch/schedule-partials/{{schedule.slug}}/week-breakdown/
        // put result into #sch-view-container
        var url = `/sch/schedule-partials/{{schedule.slug}}/week-breakdown/`;
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#sch-view-container').html(data);
            },
            error: function() {
                alert('Error fetching data');
            }
        });
        
    });
  

</script>
    
</section>