
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto mb-8">
    <!-- Grid -->
    <div class="grid items-center lg:grid-cols-12 gap-6 lg:gap-12">
      <div class="lg:col-span-4">
        <!-- Stats -->
        <div class="lg:pr-6 xl:pr-12">
          <p class="text-6xl font-bold leading-10 
                    {% if schedule.percent < 90 %} text-amber-500 {% else %} text-emerald-400 {% endif %}">
            {{ schedule.percent }}%
            <span class="ml-1 inline-flex items-center gap-x-1 bg-gray-200 
                        font-medium text-gray-800 text-xs leading-4 rounded-full 
                        py-0.5 px-2 dark:bg-gray-800 dark:text-gray-300">
              {% if schedule.status == 0 %} <i class="fa-regular fa-compass-drafting"></i> DRAFT 
              {% else %} <i class="fa-regular fa-check"></i> PUBLISHED {% endif %}
            </span>
          </p>
          <p class="mt-2 sm:mt-3 text-gray-500">Schedule {{ schedule.slug }}</p>
          <a href="{% url 'sch:sch-detail-slot-table' schedule.pk %}"
                        class="text-zinc-400 text-2xs hover:border-b hover:border-white">
                    VIEW ALL SLOTS AS TABLE
            </a>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->
  
      <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-left-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:before:dark:bg-gray-700">
        <div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
          <!-- Stats -->
            {% if schedule.slots.empty.count > 0 %}
                <a  href="{% url 'sch:v2-schedule-detail-empty-slots' schedule.pk %}" 
                    class="rounded hover:transition hover:bg-slate-700 hover:scale-110">
                     <div hx-get="{% url 'sch:sch-calc-n-empty' schedule.slug %}"
                         hx-target="#empty-count-display"
                         hx-trigger="every 1s"></div>

                        <span id="empty-count-display"
                              class="text-3xl font-semibold text-amber-500"
                              >
                              <i class="fa-duotone fa-beat fa-spinner-third fa-spin"></i>
                        </span>
                      
                    <i class="fa-solid fa-person-circle-exclamation text-xl"></i>
                    <div class="mt-1 font-semibold text-gray-500">Empty Slots</div>

                </a>
            {% endif %}
            
                <a href="{% url 'sch:sch-pto-conflicts' schedule.slug %}" class="rounded hover:transition hover:bg-slate-700 hover:scale-110">
                        <p class="text-3xl font-semibold {% if schedule.pto_conflicts.count > 1 %} text-red-500
                            {% else %} text-emerald-600 {% endif %}">
                            {{ schedule.pto_conflicts.count }} 
                            
                            <span class="text-sm font-light text-gray-300">
                              ({{ schedule.pto_percent }}%)
                            </span>
                        </p>
                        <i class="text-xl fa-duotone fa-square-person-confined"></i>
                        <p class="mt-1 text-gray-500">
                            PTO Request Conflicts
                        </p>

                        <p class="text-xs text-gray-500">
                            {{ schedule.pto_requests.count }} PTO Requests Total
                        </p>
                </a>

                <a href="{% url 'sch:sch-tdo' schedule.slug %}" class="rounded hover:transition hover:bg-slate-700 hover:scale-110">
            
                    <p id="tdoConflictCount"
                        class="text-3xl font-semibold {% if schedule.slots.tdoConflicts.count > 8 %} text-red-500
                        {% elif schedule.slots.tdoConflicts.count > 1 %} text-orange-400
                        {% else %} text-emerald-600 {% endif %}">
                        {{ schedule.slots.tdoConflicts.count }} 
                    </p>
                    <i class="text-lg fa-duotone fa-comments-question"></i>
                    <p class="mt-1 text-gray-500">
                        Templated Day Off Conflicts
                    </p>
                </a>
                
                <a href="{% url 'sch:sch-emusr' schedule.slug %}" class="rounded hover:transition hover:bg-slate-700 hover:scale-110">
                    <p class="text-3xl font-semibold 
                        {% if emusr_dist > 4 %} 
                                text-yellow-600
                        {% elif emusr_dist <= 4 %} 
                                text-zinc-300
                        {% endif %}">
                        {{ emusr_dist }}

                        <!-- SCALES Icon -->
                        <i class="text-xl fa-duotone fa-scale-unbalanced"></i>

                        <!-- EQUITABLE? Badge -->
                        <span class="ml-1 inline-flex items-center gap-x-1 bg-gray-200 text-2xs rounded-full h-3 px-1
                                        {% if emusr_dist > 4 %}     text-yellow-600 
                                        {% else %}    text-gray-800 
                                        {% endif %}">
                            {% if emusr_dist > 4 %}  UNEQUITABLE 
                            {% else %}   EQUITABLE 
                            {% endif %}
                        </span><br/>
                    </p>

                    <!-- Description Text -->
                    <p class="mt-1 text-gray-500">Unfavorables Distribution</p>
                </a>

                <a href="" class="rounded hover:transition hover:bg-slate-700 hover:scale-110">
                  <p class="text-3xl font-semibold 
                          {% if uf_stdev_diff < 0 %} text-red-600
                          {% else %}  text-emerald-300   
                          {% endif %}"
                      hx-get="{% url 'sch:sch-calc-uf-distr' schedule.slug %}"
                      hx-target="#uf-stdev-diff"
                      hx-trigger="load">
                      
                      <!-- SWAP AREA FOR UF-DISTR -->
                        <span id="uf-stdev-diff">
                                  <i class="fa-loader fa-duotone fa-spin fa-beat opacity-60"></i>
                        </span>
                        <span class="opacity-80 text-sm">SDfµ</span>
                      <!-- icon ECLIPSE -->
                      <i class="fa-duotone fa-moon-over-sun"></i>
                      
                  </p>
                  <p class="mt-1 text-xs font-semibold text-gray-500">
                      Unfavorable Slots
                      <span class="italic text-xs opacity-80">(n={{ schedule.slots.unfavorables.count }} slots) </span>
                  </p> 
              </a>
          <!-- End Stats -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->

  <pre _="on load if #tdoConflictCount.innerText > 8 add .text-red-500 to #tdoConflictCount
          on load if #tdoConflictCount.innerText < 8 and #tdoConflictCount.innerText > 1 add .text-amber-500 to #tdoConflictCount
          on load if #tdoConflictCount.innerText < 2 add .text-emerald-500 to #tdoConflictCount  "></pre>