<div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 center center-content center-self gap-5 space-between"
         id="alt-view-linkbox">

        <div hx-get="/sch/schedule-partials/{{schedule.slug}}/empl-grid/"
            hx-target="#sch-view-container"
            hx-indicator="#grid-indicator"
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs pointer"
            >
            <i class="text-lg fa-duotone fa-poll-people"></i><br/>
            VIEW AS EMPLOYEE GRID 
        </div>

        <div hx-get="/sch/schedule-partials/{{schedule.slug}}/shift-grid/"
            hx-target="#sch-view-container"
            hx-indicator="#grid-indicator"
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs pointer"
            >
            <i class="text-lg fa-duotone fa-grid-dividers"></i><br/>
            VIEW AS SHIFT GRID 
        </div>

        <div hx-get="/sch/schedule-partials/{{schedule.slug}}/fte-ratios/"
            hx-target="#sch-view-container"
            hx-indicator="#grid-indicator"
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs pointer"
            >
            <i class="text-lg fa-duotone fa-chart-bullet"></i><br/>
            VIEW FTE-SCHEDULED RATIOS 
        </div>

        <div hx-get="/sch/schedule-partials/{{schedule.slug}}/week-breakdown/"
            hx-target="#sch-view-container"
            hx-indicator="#grid-indicator"
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs pointer"
            >
            <i class="text-lg fa-duotone fa-ball-pile"></i><br/>
            VIEW WEEKLY HOURS BREAKDOWN 
        </div>

</div>

<!-- LOADING INDICATOR -->
<div id="grid-indicator" class="htmx-indicator my-1">
    <i class="fa-duotone fa-spinner fa-spin fa-fade"></i>
    <span class="fa-fade mx-2">Loading...</span> 
</div>

<!--- TARGET SWAPOUT AREA -->
<div id="sch-view-container">
    <span class="opacity-90 italic">
        Select from the Options above to view more content related to this schedule...
    </span>
</div>