{% extends 'base.html' %}
{% load tags %}

{% block content %}

    <a href="/sch/employee/{{employee}}/" class="hstack">
        <div>{% backArrow %}</div>
        <div>{{employee}}</div>
    </a>

    {% regroup employees by cls as groups %}
    <div class="vstack">
        {% for grp in groups %}{{grp.grouper}}
        <div class="panel flex flex-wrap">
            {% for emp in grp.list %}
            <a href="{{emp}}/" class="btn">{{emp}}</a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}
    