{% extends 'base.html' %}
{% load tags %}

{% block body %}


    <a href="/sch/employee/{{emp1}}/" class="hstack">
        <div>{% backArrow %}</div>
        <div>{{emp1}}</div>
    </a>


<div class="vstack">

    <div class="text-center"><h1 class="text-3xl">{{emp1}}/ {{emp2}} Days Together</h1></div>

    <div class="hstack" style="align-items:start;justify-content:center;width:100%">
        <div class="panel">
            <h1 class="text-xl h1">Frequency Together</h1>
            <p>{{emp1}} works with {{emp2}} {{emp1perc}}% of the time,<br> 
               {{emp2}} works with {{emp1}} {{emp2perc}}% of the time.
            </p>
        </div>
        <table class="table table-compact">
        <thead>
            <tr>
                <td></td>
                <td>{{emp1}}</td>
                <td>{{emp2}}</td>
            </tr>
        </thead>
        {% for day in days %}
        <tr>
            <td><a href="{{day.url}}">{{day.date}}</a></td>
            <td>{{day.sft1}}</td>
            <td>{{day.sft2}}</td>
        </tr>
        {% endfor %}
    </table>
    
    </div>
</div>
    
{% endblock body %}
    