{% extends 'base.html' %}
{% load tags %}

{% block content %}


    <a href="/sch/employee/{{emp1}}/" class="hstack">
        <div>{% backArrow %}</div>
        <div>{{emp1}}</div>
    </a>


<div class="vstack">

    <div class="text-center"><h1 class="text-3xl">{{emp1}}/ {{emp2}} Days Together</h1></div>

    <div class="bg-slate-400 text-zinc-900 jbm px-2 rounded text-xs italic text-center">
        Historically, {{emp1}} has worked with {{emp2}} in <span class="font-extrabold">{{percent}}% </span>of their shifts.
    </div>

    <div class="hstack" style="justify-content:center;width:100%">
        <table class="table-striped bg-main rounded-lg">
        <thead>
            <tr>
                <th class="rounded-tl-lg"></td>
                <th class="">{{emp1}}</td>
                <th class="rounded-tr-lg">{{emp2}}</td>
            </tr>
        </thead>
        {% for day in days %}
        <tr>
            <td><a href="{{day.url}}">{{day.date}}</a></td>
            <td>{{day.sft1}}</td>
            <td>{{day.sft2}}</td>
        </tr>
        {% endfor %}
    </table>
    
    </div>
</div>
      
{% endblock content %}
    