{% extends 'base.html' %}
{% load tags %}

{% block content %}

    <a href="/sch/employee/{{employee}}/" class="hstack">
        <div>{% backArrow %}</div>
        <div>{{employee}}</div>
    </a>

    {% regroup employees by cls as groups %}
    <div class="vstack">
        {% for grp in groups %}{{grp.grouper}}
        <div class="panel flex flex-wrap">

            {% for emp in grp.list %}
                <a  href="{{emp|slugify}}/" 
                    class="bg-yellow-900 border-2 border-white rounded-lg hover:bg-yellow-700 text-yellow-100 px-8 my-2 mx-1"> 
                    {{ emp }} 
                </a>
            {% endfor %}

        </div>
        {% endfor %}
    </div>
    
{% endblock content %}
    