{% extends 'base.html' %}


{% block style %}

    <style>
        body {
            background-image: url('/static/img/IsometricDrugVial_01.png');
            background-repeat: repeat;
            background-size: 20%;
        }
    </style>
    
{% endblock style %}


{% block content %}
    <div class="text text-center">
        <h2 class='text-2xl h2'> {{employee}} </h2>
        <h3 class="text-xl h3"> Templated Scheduling </h3>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
            
        <div class="panel w-8/12 grid-7-by-2">
            {% for form in formset %}
            {{ form.as_div }}
            {% endfor %}
        </div>

        <input type="submit" value="Submit" />
    </form>    

    

{% endblock content %}

    