{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}

{% block content %}
    <a href="/">HOME</a>

    <h1>Employees</h1>
    <div class="panel w-fc">
        <div class="hstack" style="justify-content:space-between;">
            <a href="/sch/employees/new/">{% newEmployee %}</a>
            <div style="font-style:italic;color:orange;font-weight:100;font-family:'JetBrains Mono';"> {{employees|length}} Active </div>
        </div>
        {% render_table employeeTable %}
    </div>
{% endblock %}