{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}


{% block style %}
<style>
    .html {
        background-image: url("https://media.discordapp.net/attachments/1015337046509895791/1027769026396569630/jsteinbecker_isometric_environment_building_interior_pharmacy_h_36dd5a2f-55cd-4f46-8b23-5dc1e533dfc4.png");
        background-repeat: repeat;
        background-size: 45%;
        background-blend-mode:  color-dodge;
    }
</style>
    
{% endblock style %}
    

{% block content %}

    <h1 class="text-3xl text-center">Employees</h1>

    <div class="vstack">
        <div class="hstack align-content-start">
            <a href="/sch/employees/all/" class="rounded-md px-3 py-1 hover:bg-amber-900  {{allActive}}" >All</a>
            <a href="/sch/employees/cpht/" class="rounded-md px-3 py-1 hover:bg-amber-900 {{cphtActive}}" >Technicians</a>
            <a href="/sch/employees/rph/" class="rounded-md px-3 py-1 hover:bg-amber-900  {{rphActive}}" >Pharmacists</a>
        </div>


        <div class="panel w-fc">
            <div class="hstack" 
                style="justify-content:space-between;">

                {% if rphActive %} <a href="{% url 'sch:create-rph' %}"> {% newEmployee %} </a>
                {% elif cphtActive %} <a href="{% url 'sch:create-cpht' %}"> {% newEmployee %} </a>
                {% endif %}
                
                <div style="font-style:italic;color:orange;font-weight:100;font-family:'JetBrains Mono';"> 
                    {{ employees|length }} Active 
                </div>

                <input type="text" name="search-empls" id="search-empls" placeholder="Search..."
                    _="on keyup 
                            show <a/> in #empl-grid 
                            when it's @value.toLowerCase() 
                                contains my value.toLowerCase()"> 

            </div>

            {% include 'comps/card-grid.html' %}

        </div>
    </div>
{% endblock %}

<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5">

    {% for employee in employees %}
        {% include 'sch2/employee/empl-as-card-ele.html' %}
    {% endfor %}

</div>