{% extends 'base.html' %} {% load render_table from django_tables2 %}
<!--Load tags-->
{% load tags %}

<!--STYLE-->
{% block style %}
<style>
  .html {
    background-image: url("/static/img/WinterBranch_seamless.png");
    background-repeat: repeat;
    background-size: 41%;
  }
</style>

{% endblock style %}

<!--CONTENT-->
{% block content %}



  <a href="/sch/employees/all/">
    <i class="fa-duotone fa-arrow-circle-left pr-2"></i>Back to All Employees
  </a>

  <div class="flex flex-row gap-12 w-full mt-3 ml-2 md:mx-30 md:gap-40">

    <div class="flex flex-row gap-3 center-self rounded bg-blue-900 w-full md:w-5/12 h-20 text text-center ring ring-sky-300 border-2 border-indigo-500 ring-offset-2">

      <img src="{{ employee.image_url }}" alt="{{ employee.name.0 }}" 
          class="w-20 h-20 rounded-full ring-2 ring-zinc-900 ring-offset-2 pointer
                 hover:scale-[175%] hover:ring-sky-200 transition"
          hx-prompt="Set User image via URL:"
          hx-trigger="click"
          hx-post="set-image/"
         />

      <div class="flex flex-col">
        <div class="text-3xl jbm text-sky-200 center-self mx-8"> {{ employee }} </div>
        <a class= "bg-zinc-800 shadow shadow-lg 
                px-8
                rounded shadow shadow-lg w-40 justify-center
                center text-center transition mb-4
                hover:scale-125 hover:bg-indigo-700
                hover:ring hover:ring-zinc-600"
            href="{% url 'sch:employee-update' employee.pk %}"
              >
            <i class="text-2xl fa-duotone fa-mortar-pestle"></i>  
            Edit
        </a>
      </div>
    </div>
    
  
</div>  
<div class=" flex flex-col md:flex-row md:ml-32 gap-12">
   <div class="center">
     
      <div class="panel w-full md:w-fc">
        <div style="float:right">
          <a
            href="{% url 'sch:employee-edit-ssts' employee.slug %}"
            class="bg-blue-400 
                   rounded 
                   p-2 
                   hover:bg-blue-200 
                   hover:text-blue-900 
                   m-1"
          >
            Edit Shifts </a>
            <br />

        </div>

        <div style="float: right">
          <a
            href="{% url 'sch:employee-tdos' employee.slug %}"
            class="bg-gray-700 rounded p-2 hover:bg-gray-600 hover:text-gray-200 m-1"
          >
            Edit Days Off Templating </a
          ><br />
        </div>

        <h2 class="text-lg font-semibold text-yellow-600 pt-2">Templating</h2>

        <p
          class="text-xs text-sky-200 italic my-1"
          style="font-family: 'Helvetica Neue'"
        >
          {{employee}} is templated for {{sstHours}} hours / pay period.
        </p>

        <div class="grid grid-cols-7 gap-2" style="justify-content: space-around">
          <div>SUN</div>
          <div>MON</div>
          <div>TUE</div>
          <div>WED</div>
          <div>THU</div>
          <div>FRI</div>
          <div>SAT</div>
          {% for templateDay in allTemplateDays %}
            {% if templateDay.type == 'SST' %}
          <div class="bg-gray-400 ring ring-offset-2 text-small font-bold jbm text-slate-900 text-center ring-blue-300 border-3 border-blue-500 rounded-full w-6 h-6">{{ templateDay.shift }}</div>
            {% elif templateDay.type == 'TDO' %}
          <div class="bg-gray-900 ring ring-slate-700 text-xs text text-center border border-amber-500 rounded-full w-6 h-6"><sub>TDO</sub></div>
            {% else %}
          <div class="bg-gray-400 ring ring-gray-300 border border-gray-500 rounded-full w-6 h-6"> </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>
    </div>
  


      <!-- DOCUMENTS PANEL -->
      <div class="vstack">
        <div class="panel p-8 md:w-[300px]">

          <h2 class="text-lg font-semibold text-yellow-600 pt-2">Documents</h2>

          <a href="{% url 'sch:employee-choose-schedule' employee.pk %}" class="hover:text-sky-200">
            <i class="text-sky-200 fa-duotone fa-calendar-circle-plus"></i>  
            Generate Schedule
          </a>
          <br/>
          <a href="shift-preferences/" class="hover:text-orange-200">
              <i class="text-amber-600 fa-duotone fa-thumbs-up"></i>
              Shift Preferences
          </a>
          <br/>
          <a href="coworker/" class="hover:text-yellow-200">
              <i class="text-yellow-200 fa-duotone fa-people-group"></i>
              Coworker Views
          </a>
          <br/>
          <a href="{{ employee.url__tallies }}" class="hover:text-emerald-200">
            <i class="text-emerald-200 fa-solid fa-tally"></i>
            Shift Tallies
          </a>
          <br/>
          <span class="align-center text-align" class="hover:text-slate-200">
            <a href="{% url 'sch:emp-shift-sort' employee.slug %}">
              <i class="fa-duotone fa-circle-sort-up"></i>
              Shift Sort Preferences 
            </a>
              {% if employee.shift_sort_prefs.count > 0 %} 
                  {% for sft in employee.shift_sort_prefs.all %} 
                      <span class="text-2xs font-thin text-slate-500"> 
                        {{sft.shift}} 
                      </span>  
                  {% endfor %} 
              {% endif %}
          </span>

        </div>
        <div class="panel md:w-[300px]">
          <div class="hstack">
            <span> {% vacationIcon %} </span>
            <h2 class="text-lg font-semibold text-yellow-600 pt-2">PTO Requests</h2>
          </div>
          <a href="pto-request/add-range/"
             class="rounded p-1 text-2xs bg-pink-300 ring ring-pink-300 text-slate-800 hover:bg-pink-300 hover:ring hover:ring-pink-100">
              <i class="fas align-center fa-plus"></i>
              NEW
          </a>

          {% if ptoReqsExist %} {% render_table ptoTable %} {% else %}
          <p class="small" style="font-family: 'JetBrains Mono'">
            No PTO Requests are associated with this employee.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

    {% if unfavorables|length > 0 %}
    <div class="panel">
      <h2 class="text-2xl">
        <div class="hstack">
          <div>{% mortarIcon %}</div>
          <div>Unfavorables</div>
        </div>
        <div class="badge badge-primary">{{unfavorables|length}} Upcoming</div>
      </h2>
      {% regroup unfavorables by workday.iweek as ufs_week %}
      <div class="hstack">
        {% for s in ufs_week %}
        <div class="vstack panel">
          <div>WEEK {{s.grouper}}</div>
          <div>
            {% for sft in s.list %}
            <div class="badge badge-secondary">{{sft.shift}}</div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
