{% extends 'base.html' %} 
{% load render_table from django_tables2 %} 


{% block content %}

    <a href="/sch/employees/all/">Back to All Employees</a>

    <h1>{{ employee.name }}</h1>

    <a href="update">Edit Employee</a>
    <div class="hstack">
        <div class="flex flex-row">
            <table stylr="width:flex-grow;">
                <tr>
                    <th>Employee ID</th>
                    <td>{{ employee.id }}</td>
                </tr>
                <tr>
                    <th>Employee Name</th>
                    <td>{{ employee.name }}</td>
                </tr>
                <tr>
                    <th>
                        Trained Shifts <br>
                        <a href="shift-tallies/" class="small">View Tallies</a>
                    </th>
                    <td>
                    {% for shift in sfts_trained %} {% if shift in sfts_avail %}
                        <span class="green-glow"> {{ shift.name }} <br /></span> {% else %}
                        {{shift.name}} <br />
                    {% endif %} {% endfor %}
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
        <div class="panel w-fc">
            <div style="float:right;"><a href="ssts/" style="font-style:italic;">Edit</a><br></div>
            <h2>Templating</h2>
            <p>Employee templated for {{sstHours}} hours / pay period.</p>
            
            <div class="hstack">
                {% for sst in SSTGrid %}
                {% if sst.1 %}
                    <div class="panel w-70 h-50" style="background-color:#5af7;border-color:#7bf;">
                        <span>Day {{sst.0}}</span><br />
                        <span class="lg" style="font-size:22px;">{{sst.1.0.shift}}</span>
                    </div>
                {% else %}
                    <div class="panel w-70 h-50">
                        <span class="small">N/A</span>
                    </div>
                {% endif %}
                
                {% if sst.0 == 6 %}
                    </div>
                    <div class="hstack">
                    {% endif %} 
                {% endfor %}
            </div>
        </div>
        <div class="panel">
            <h2>Generate Employee Schedule</h2>
            <form action="generate-schedule/" method="post"> {% csrf_token %}
                <table>{{ employeeScheduleForm.as_table }}</table>
                <input type="submit" value="Generate Schedule"/>
            </form>
        </div>
    </div>
        <div class="panel w-fc">
            <h2>PTO REQUESTS</h2>
            <a href="pto-request/add-range/">Add PTO Range</a>
            {% render_table ptoTable %}
        </div>
    </div>
{% endblock %}
