{% extends 'base.html' %}

{% block style %}
    <style>
        .html {
            background-image: url("https://media.discordapp.net/attachments/1011557410940403822/1020869414649872475/jsteinbecker_Ukrainian_seamless_pattern_vector_design_8c86ea5d-4a6c-4094-a74e-e95a23ac5daf.webp?width=1392&height=1392");
            background-repeat: repeat;
            background-size: 41%;
        }

        #id_shifts_trained {
            display                 : grid;
            grid-template-columns   : repeat(3, 1fr);
            grid-gap                : 1rem;
            padding-top             : 3rem;
            padding-bottom          : 3rem;
        }
        #id_shifts_available {
            display                 : grid;
            grid-template-columns   : repeat(3, 1fr);
            grid-gap                : 1rem;
            padding-top             : 3rem;
            padding-bottom          : 3rem;
        }
        #id_shifts_available input[type="checkbox"]:checked {
            background: goldenrod;
            border-radius: 20%;
        }
        #id_shifts_available input[type="checkbox"]:checked::before {
            color: white;
            border-radius: 0%;
        }
        #id_shifts_trained input[type="checkbox"]:checked {
            background: cornflowerblue;
            border-radius: 20%;
        }
        #id_shifts_trained input[type="checkbox"]:checked::before {
            color: white;
            border-radius: 0%;
        }
        
    </style> 
{% endblock style %}


{% block content %}
    {# ---EMPLOYEE FORM EDIT--- #}
    <h1>{{employee}}</h1>
    <h4>Currently editing...</h4>
   
    <div class="panel">
        <form method="post"> {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}