
<div class="hstack">
    {% for sst in sstsA %}
        {{ sst }}
    {% endfor %}
</div>

<div class="hstack">
    {% for sst in sstsB %}
        {{ sst }}
    {% endfor %}
</div>

<div class="hstack">
    {% for sst in sstsC %}
        {{ sst }}
    {% endfor %}
</div>

<div class="hstack">
    {% for sst in sstsD %}
        {{ sst }}
    {% endfor %}
</div>

<div class="hstack">
    {% for sst in sstsE %}
        {{ sst }}
    {% endfor %}
</div>

<div class="hstack">
    {% for sst in sstsF %}
        {{ sst }}
    {% endfor %}
</div>