{% extends 'base.html' %}


{% block style %}

    <style>
        body {
            background-image: url('/static/img/IsometricDrugVial_01.png');
            background-repeat: repeat;
            background-size: 20%;
        }
     
        .mutated {
            background-color: #faa!important;
        }
        
    </style>
    
{% endblock style %}


{% block content %}

    <a href="{{employee.url}}">
        <i class="fa-duotone fa-arrow-circle-left"></i>
        Cancel
    </a>

    {% with "border border-amber-200 rounded transition hover:bg-amber-400 hover:text-black hover:scale-105 hover:transition" as INPUT_CSS %}
    {% with "panel w-full grid-7-by-2" as DAYWRAPPER_CSS %}
  

    <div class="text text-center">
        <h2 class='text-2xl h2'> {{ employee }} </h2>
        <h3 class="text-xl h3"> Templated Scheduling </h3>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
            
        <div class="{{ DAYWRAPPER_CSS }}">

            {% for form in formset %} 

                <div class="dayContainer rounded-lg shadow shadow-lg compact> 
                    {{ form }} 
                </div> 
                
            {% endfor %}

        </div>

        <input class="{{ INPUT_CSS }}" type="submit" value="Submit"/>
    </form>    

<script>

    let selects = document.querySelectorAll('select');

    selects.forEach(select => {
        select.addEventListener('change', (e) => {
            if (select.classList.contains('mutated')) {
                
            } else {
                select.classList.add('mutated');
            }
        })
    })

</script>

{% endwith DAYWRAPPER_CSS %} 
{% endwith INPUT_CSS %} 

{% endblock content %}

    