{% extends 'base.html' %} {% load render_table from django_tables2 %}
<!--Load tags-->
{% load tags %}

<!--STYLE-->
{% block style %}
<style>
  .html {
    background-image: url("/static/img/WinterBranch_seamless.png");
    background-repeat: repeat;
    background-size: 41%;
  }
</style>

{% endblock style %}

<!--CONTENT-->
{% block content %}

<a href="/sch/employees/all/"
  ><div class="hstack">{% backArrow %} All Employees</div></a
>

<div class="flex flex-col flex-grow center flex-center">
  <h1 class="text-3xl text-center">{{ employee.name }}</h1>
  <div>
    <a href="{% url 'sch:employee-update' employee.pk %}"> Edit Employee</a>
    <div
      class="md:flex md:flex-col lg:flex-row"
      style="align-items: flex-start"
    >
      <div class="flex flex-row">
        <table stylr="width:flex-grow;">
          <tr>
            <th>Employee ID</th>
            <td>{{ employee.id }}</td>
          </tr>
          <tr>
            <th>Employee Name</th>
            <td>{{ employee.name }}</td>
          </tr>
          <tr>
            <th>
              Trained Shifts <br />
              <a href="{{ employee.url__tallies }}" class="small"
                >View Tallies</a
              >
            </th>
            <td>
              {% for shift in sfts_trained %} {% if shift in sfts_avail %}
              <span class="green-glow"> {{ shift.name }} <br /></span>
              {% else %} {{shift.name}} <br />
              {% endif %} {% endfor %}
            </td>
          </tr>
          <tr></tr>
        </table>
      </div>
      <div class="panel w-fc">
        <div style="float: right">
          <a
            href="{% url 'sch:employee-edit-ssts' employee.slug %}"
            class="bg-blue-400 rounded p-2 hover:bg-blue-200 hover:text-blue-900 m-1"
          >
            Edit Shifts </a
          ><br />
        </div>

        <div style="float: right">
          <a
            href="{% url 'sch:employee-tdos' employee.slug %}"
            class="bg-gray-700 rounded p-2 hover:bg-gray-600 hover:text-gray-200 m-1"
          >
            Edit Days Off Templating </a
          ><br />
        </div>

        <h2 style="color: orange; font-size: 18px">Templating</h2>

        <p
          class="text-xs text-sky-200 italic my-5"
          style="font-family: 'Helvetica Neue'"
        >
          {{employee}} is templated for {{sstHours}} hours / pay period.
        </p>

        <div class="grid grid-cols-7 gap-2" style="justify-content: space-around">
          <div>SUN</div>
          <div>MON</div>
          <div>TUE</div>
          <div>WED</div>
          <div>THU</div>
          <div>FRI</div>
          <div>SAT</div>
          {% for templateDay in allTemplateDays %}
            {% if templateDay.type == 'SST' %}
          <div class="bg-gray-400 ring ring-offset-2 text-small font-bold jbm text-slate-900 text-center ring-blue-300 border-3 border-blue-500 rounded-full w-6 h-6">{{ templateDay.shift }}</div>
            {% elif templateDay.type == 'TDO' %}
          <div class="bg-gray-900 ring ring-slate-700 text-xs text text-center border border-amber-500 rounded-full w-6 h-6"><sub>TDO</sub></div>
            {% else %}
          <div class="bg-gray-400 ring ring-gray-300 border border-gray-500 rounded-full w-6 h-6"> </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>
      <div class="vstack">
        <div class="panel">
          <h2 style="font-size: 22px; color: orange">Documents</h2>
          <a href="generate-schedule/"
            ><div class="hstack">
              {% plusIcon %}<span> Generate Schedule</span>
            </div></a
          >
          <a href="shift-preferences/"
            ><div class="hstack">
              {% favoriteIcon %}<span>Shift Preferences</span>
            </div></a
          >
          <a href="coworker/">
            <div class="hstack">
              {% teamIcon %}<span>Coworker Views</span>
            </div></a
          >
          <a href="{% url 'sch:employee-sort-shift-prefs' employee.slug %}"
            >Sort Shift Preferences</a
          >
        </div>
        <div class="panel w-fc">
          <div class="hstack">
            <span> {% vacationIcon %}</span>
            <h2 style="font-size: 22px; color: orange">PTO Requests</h2>
          </div>
          <a
            href="pto-request/add-range/"
            class="btn btn-neutral btn-sm"
            style="float: right"
          >
            <div class="hstack">
              <div>{% plusIcon %}</div>
              <div>NEW</div>
            </div>
          </a>

          {% if ptoReqsExist %} {% render_table ptoTable %} {% else %}
          <p class="small" style="font-family: 'JetBrains Mono'">
            No PTO Requests are associated with this employee.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <h2 class="text-2xl">
      <div class="hstack">
        <div>{% mortarIcon %}</div>
        <div>Unfavorables</div>
      </div>
      <div class="badge badge-primary">{{unfavorables|length}} Upcoming</div>
    </h2>
    {% regroup unfavorables by workday.iweek as ufs_week %}
    <div class="hstack">
      {% for s in ufs_week %}
      <div class="vstack panel">
        <div>WEEK {{s.grouper}}</div>
        <div>
          {% for sft in s.list %}
          <div class="badge badge-secondary">{{sft.shift}}</div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
