{% extends 'base.html' %}



{% block content %}

        <div>
            <h2>{{employee}}</h2>
            <h3>{{days.first.date.year}}</h3>
            
            <div class="panel">
                    {% for day in days %}
                        <label for="id_{{day}}">{{day}} ({{day}})</label>
                        <input class="checkbox text-3xl" 
                                type="checkbox"
                                name="id_{{day}}" 
                                id="id_{{day}}"
                                _="on load if I@checked:true then add .bg-green-300 to my parent <div/> end">
                    {% endfor %}
            </div>
        </div>
    
{% endblock content %}


    