{% extends 'base.html' %}
{% load tags %}


{% block style %}
<style>
    .html {
        background-image: url("https://media.discordapp.net/attachments/1024277464945537044/1024477497284362240/jsteinbecker_Zion_National_Park_23095657-59ac-48b6-b7b8-05f2817c143e.webp?width=1392&height=1392");
        background-repeat: repeat;
        background-size: 65%;
    }
</style>
    
{% endblock style %}
    

{% block content %}

<a href="/sch/employee/{{employee}}/">Back to Employee</a>

<h1> {{employee}} </h1>

<div class="hstack" style="justify-content:space-around;">
    <div>SUN</div><div>MON</div><div>TUE</div><div>WED</div><div>THU</div><div>FRI</div><div>SAT</div>
</div>
<div class="grid-7-col">
    {% for day in days %}
    <div class="panel hstack {% if day.slot %}g-panel{% endif %} {% if day.ptoReq %}b-panel{% endif %}">
        <h5> 
            <a href="/sch/day/{{day.date}}/">{{day.date}} </a>
        </h5>
        {% if day.slot %}
            <div class="flex flex-col">
            <h3 class="green-glow" style="margin-bottom:0px;font-size:23px!important;">{{day.slot.shift}}</h3>
            <i style="font-size:8px;padding-top:0px;margin-top:0px;"> DAY{{day.slot.streak}} </i></div>
        {% endif %}
        {% if day.ptoReq %}
            <h3 class="blue-glow">{% lockIcon %} </h3>
        {% endif %}
    </div>
    {% endfor %}
</div>


    
{% endblock content %}
    