{% extends 'base.html' %}
{% load tags %}

{% block content %}

<a href="/sch/employee/{{employee}}/">Back to Employee</a>

<h1> {{employee}} </h1>

<div class="hstack" style="justify-content:space-around;">
    <div>SUN</div><div>MON</div><div>TUE</div><div>WED</div><div>THU</div><div>FRI</div><div>SAT</div>
</div>
<div class="grid-7-col">
    {% for day in days %}
    <div class="panel hstack {% if day.slot %}g-panel{% endif %} {% if day.ptoReq %}b-panel{% endif %}">
        <h5> 
            <a href="/sch/day/{{day.date}}/">{{day.date}} </a>
        </h5>
        {% if day.slot %}
            <h3 class="green-glow"> {{day.slot.shift}} </h3>
        {% endif %}
        {% if day.ptoReq %}
            <h3 class="blue-glow">{% lockIcon %} </h3>
        {% endif %}
    </div>
    {% endfor %}

</div>


    
{% endblock content %}
    