{% extends "base.html" %}
{% load tags %}



{% block style %}

    <style> 
        .html {
            background-image: url("https://cdn.discordapp.com/attachments/1022445219704225842/1033115199760248872/jsteinbecker_Jelly_Beans_delicious_food_photography_fancy_dimme_335e6cda-cf59-41cc-8e94-17a6f95da59a.png");
            background-repeat:  repeat;
            background-size:    41%;
        }
        input[type="checkbox"]:checked {
            background:     goldenrod;
            border-radius:  20%;
            width:          25px;
            height:         25px;
        }
        input[type="checkbox"]:checked::before {
            color:          white;
            border-radius:  0%;
            width:          12px;
            height:         12px;
        }
        label {
            color:          white;
            font-size:      0.6em;
            font-weight:    thin;
            font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
        
{% endblock style %}
    


{% block content %}

<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

<a href="{{employee.url}}">
    <i class="fa-duotone fa-arrow-circle-left"></i>
    Cancel
</a>


{#---HEADING---#}
<div class="text text-center">
    <h1 class="text-3xl">Templated Days Off</h1>
    <h2 class="text-lg font-bold text-indigo-300">{{employee}}</h2>
</div>


{#---MATCH COWORKER BUTTON---#}
<a href="match/" class=""><div class="hstack rounded-sm bg-gray-900 w-fc py-2 m-2 hover:bg-gray-600 px-1 border border-white">
    <div>{% robotIcon %}</div>
    <div>Match Template of Coworker</div>
</div></a>

{#---FORMSET OF CHECKBOXES ---#}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
        
    <div class="bg-slate-700 rounded-lg border border-slate-400 w-full  overflow-x-auto overscroll-x-auto grid-7-by-2">

        {% for day_of_week in DAYS_OF_WEEK %}
            <div clickCount=0 
                class="lg hover:font-bold hover:text-yellow-300" 
                _="on click if my @clickCount is '0' then set <input.{{ day_of_week }}/>@checked to 'checked' then set my @clickCount to '1' end">
                {{ day_of_week }}
            </div>
        {% endfor %}
        

        {% for form in formset %}
            <div>
                
                {{ form.as_div }}
                
            </div>
        {% endfor %}

    </div>

    <input class="border border-amber-200 rounded transition hover:bg-amber-400 hover:text-black hover:scale-105 hover:transition"
        type="submit" value="Submit"/>
</form>    
    
{% endblock content %}
    