<div class="w-full mx-6 my-2 pt-4 overflow-auto overscroll-x-auto bg-zinc-600 ring ring-zinc-400">
    <div class="flex flex-row gap-12">
        {% for instance in upcoming %}
            <a href="{{ instance.workday.url }}" 
                class="bg-zinc-900 px-3 rounded shadow ring ring-offset-2 ring-indigo-300 px-1
                    hover:scale-125 hover:transition hover:ring-white
                    {% if instance.employee == None %}  bg-red-900 text-white {% endif %}" style="width:85px!important;height:60px!important;">
                <div class="flex flex-col justify-center">
                    <span class="text-2xs bg-zinc-200 rounded text-zinc-900 px-2 font-semibold">
                        {{ instance.workday.wkd.0 }}
                        {{ instance.workday.date.month }}/{{ instance.workday.date.day }}
                    </span>
                    <span class="text-md text text-center text-sky-300 py-2 font-bold 
                                flex flex-1 p-1
                                {% if instance.employee == None %} 
                                        text-zinc-900 text-shadow 
                                {% endif %}">
                        {{ instance.employee }}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>