<div class="w-full mx-6 my-2 pt-4 overflow-auto overscroll-x-auto overflow-y-none bg-zinc-600 ring ring-zinc-400">

    <div class="flex flex-row gap-12">

        {% if upcoming|length == 0 %} 
            <div class="text-center text-2xl text-gray-300 px-4">
                <i class="fa-duotone fa-warning text-amber-300"></i>
                No schedule data is published for this date range currently...
            </div> 
        {% endif %}

        {% for instance in upcoming %}
        <div class="flex flex-col align-center">
            <a class="calendar-page bg-zinc-900 shadow shadow-lg" href="{{ instance.url }}">
                <div class="calendar-header">{{ instance.workday.wkd }}</div>
                <div class="calendar-date jbm text-2xl mb-3">{{ instance.workday.date.month }}/{{ instance.workday.date.day }}</div>
                <div class="calendar-name {% if instance.employee == None %}  text-zinc-900 text-shadow {% endif %}"> {{ instance.employee }}</div>
            </a>
            <span class="font-extrabold text-xs text-emerald-300 text text-center">{% if instance.workday.days_away == 0 %} TODAY {% endif %}</span>
        </div>
        {% endfor %}

    </div>
</div>
