<head>
            <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
	<script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Dosis">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=JetBrains+Mono">
</head>

<body>
    
<div class="flex flex-row items-center gap-2.5 font-[Raleway,_sans-serif] text-[rgba(247,250,252,1)] tracking-[-1px]">
    <label class="mb-2 block text-sm font-medium leading-5 text-gray-900 font-['jetbrains_mono',_monospace]=''
        tracking-[-1px]''='" for="website-admin">Username</label>
    <div class="flex font-[Raleway,_sans-serif] text-[rgba(247,250,252,1)] tracking-[-1px]">
        <span
            class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-3 text-sm leading-5 text-gray-900 font-[Raleway,_sans-serif] tracking-[-1px]">
            @
        </span>
        <input
            class="block w-full min-w-0 rounded-none rounded-r-lg border border-gray-300 bg-gray-50 pr-1 pl-2 text-sm leading-5 text-gray-900 font-[inherit] tracking-[-1px] font-[inherit]"
            placeholder="Bonnie Green" type="text">
    </div>
</div>
<svg class="block h-5 w-5 align-middle " fill="none">
    <path class="" fill="#4F46E5"
        d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.707-9.293a1 1 0 0 0-1.414-1.414L9 10.586 7.707 9.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4Z"
        clip-rule="evenodd" fill-rule="evenodd"></path>
</svg></body>
