

<header class='flex flex-row items-center center justify-center text-center
               mx-2 mb-4 bg-zinc-900 
               opacity-20 hover:opacity-100 hover:transition hover:scale-110 
               hover:ring hover:ring-orange-500'
        style= 'width:100%;'>
  
  <div class="bg-zinc-900 px-5 py-1 rounded opacity-60 hover:opacity-100 vstack">
       

      <div class="mx-10"
          script="on contextmenu 
          halt the event then
          log 'Got Right Click Event' then 
          toggle .hidden on (<div.user-context-menu/> in me)
           end "
          >
        <a href="#"
           class='center-self'
           
           > 
          {% avatar %} 
          
          {% if user.is_authenticated %}    
              <span class="text-2xs text-zinc-400"> LOGGED IN AS </span> <br/>
              <i class="fa-duotone fa-user-astronaut text-orange-400 text-2xl"></i> <br/>
              {{user.first_name}} {{ user.last_name }} ({{ user.username }})
          {% else %}  
              <span class="text-2xs text-zinc-400"> LOGGED IN AS </span> 
          {% endif %}
            
        </a>
          
        <div class="user-context-menu  hidden absolute  bg-zinc-300 bg-opacity-50 rounded px-2 py-1 w-fc z-25">

              <div><a href="{% url 'logout-view' %}" class="item"> Logout </a></div>
              <div><a href="{% url 'sch:empl-schedule-detail' 'Josh' '16' %}" class="item"> View current schedule  </a></div>
          
        </div>
        

      </div>


  </div>
</header>