<header class='flex flex-row items-center center justify-center text-center mx-2 mb-4' style='width:100%;'>
  
  <div class="vstack">
       

      <div class="mx-10">
        <a href="{% url 'login-view' %}" 
          class='center-self'> 
          
          {% avatar initials=user.initials %} 
        </a>
      </div>


      <div>
        <a href="{% url 'logout-view' %}" 
          class="center-self text-2xs rounded px-3 italic text-gray-400 hover:text-red-400 hover:bg-pink-800">
          
          LOGOUT
        </a>
      </div>
  </div>
</header>