{% load compress %}
{% load static %}
{% load tags %}

<!DOCTYPE html>

<html lang="en">

	<head>

    <title> Tech Schedules </title>

		<meta charset="UTF-8">
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" 
			  content="ie=edge">
		
		{% compress css %}
		{# --- FONTS --- #}
			<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">

			<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Dosis">

			<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=JetBrains+Mono">

			  <link rel="preconnect" href="https://fonts.googleapis.com"> 

				<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
				
					<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=JetBrains+Mono:ital,wght@0,300;0,700;1,100;1,800&family=Kreon:wght@300;400&family=Raleway:ital,wght@0,300;0,900;1,100&family=Yanone+Kaffeesatz:wght@300;600&display=swap" rel="stylesheet">

			<style> {% include 'my.css' %} </style>

			{% block style %} {% endblock %}
			
			<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
			
			<script src="https://cdn.tailwindcss.com"></script>

			<link rel="stylesheet" 
			  href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css">

		{% endcompress %}

	
	</head>

    <body>
        <a href="/">{% backArrow %} HOME</a>
		{% block body %}
			
		{% endblock body %}
		
		<script src="https://unpkg.com/htmx.org@1.8.2"></script>
    </body>

    </html>