{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" 
			  content="ie=edge">

		<title> FlowRate {% block title %}{% endblock %} </title>
		
		{% compress css %}
		{# --- FONTS --- #}
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Dosis">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=JetBrains+Mono">
			

			<style> {% include 'my.css' %} </style>

			{% block style %} {% endblock %}
			<link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
			<script src="https://cdn.tailwindcss.com"></script>
			<link rel="stylesheet" 
			  href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css">
			 
			
		{% endcompress %}

	
	</head>

	<body class="image">
		<div class="image">
			<div class="content">
				
				{% include 'header.html' %}

				{% block content %}
				{% endblock %}

				<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
				<script src="https://unpkg.com/htmx.org@1.8.2"></script>

			</div>
		</div>
	</body>
	<body>
		{% block body %}
		{% endblock %}
	</body>
	


</html>
