{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>

    <title> Tech Schedules </title>

		<meta charset="UTF-8">
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" 
			  content="ie=edge">

		

		{# --- FONTS --- #}
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=Dosis">
		<link rel="stylesheet"
			  href="https://fonts.googleapis.com/css?family=JetBrains+Mono">
		  
			  
		
		{% compress css %}
			<style>
				body {
					@apply bg-gray-900;
				}
				.hstack {
					@apply flex flex-row items-center justify-center;
				}

				{% include 'my.css' %}
				
			</style>
			
			{% block style %} 
			{% endblock %}
		{% endcompress %}
		<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
			<script src="https://cdn.tailwindcss.com"></script>

	
	</head>

	<body class="content">
		
		{% include 'header.html' %}

		{% block content %}
		{% endblock %}
		


		<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js">
	</body>
</html>
