{% load compress %}
{% load static %}

<!DOCTYPE html>

<html lang="en" id="htmlDocument">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" 
			  content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" 
			  content="ie=edge">

		<title> FlowRate {% block title %}{% endblock %} </title>
		
		{% compress css %}
		{# --- FONTS --- #}
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=Dosis">
			<link rel="stylesheet"
			      href="https://fonts.googleapis.com/css?family=JetBrains+Mono">
			

			<style> 
				{% include 'my.css' %} 
				{% include 'table-styles.css' %}
				<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
			</style>

			{% block style %} 
			{% endblock %}
			{% comment %} <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" 
			      rel="stylesheet" 
				  type="text/css"/> {% endcomment %}
			<link rel="stylesheet" 
			       href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css">
			 
			
		{% endcompress %}

		{% block head %}{% endblock head %}

	</head>

	<body>

			{# HEADER #}	
			{% include 'header.html' %}
			{# BANNER #}
			{% include 'banner.html' %} 

			

			<div class="content mx-3 lg:ml-60">

				{% block content %}
				{% endblock %}

				{% if messages %}
					<div class="absolute bottom-0 right-0">
						{% for message in messages %}
						<div x-data="{ notification: true }"
							x-init="$watch('notification', function(value){ if(value){ setTimeout(function(){ notification=false; }, 4000) } })"
							class="fixed right-6 bottom-4">
							<div x-show="notification" x-transition
								class="flex items-center justify-between max-w-sm p-4 bg-slate-800 border rounded-md shadow-sm">
								<div class="flex items-center">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-400" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd"
									d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
									clip-rule="evenodd" />
								</svg>
								<p class="ml-3 text-2xs jbm font-light text-green-100">{{ message }}</p>
								</div>
								<span @click="notification=false;" class="inline-flex items-center cursor-pointer">
								<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-gray-600" fill="none" viewBox="0 0 24 24"
									stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
								</svg>
								</span>
							</div>
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}

				<section class='m-3'>
				</section>
				
				{# TAILWINDCSS #}
				<script src="https://cdn.tailwindcss.com"></script>
				{# FLOWBITE #}
				<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
				{# HTMX #}
				<script src="https://unpkg.com/htmx.org"></script>
				{# HYPERSCRIPT #}
				<script src="https://unpkg.com/hyperscript.org"></script>


				
			</div>

			{% block body %}
			{% endblock %}

			{# FOOTER #}
			{% include 'footer.html' %}
			
			
	</body>


</html>
