{% load static %}
{% load tags %}

    <div class="hstack sp-btw nav-top">
        <div class="hstack">
            <img src="https://github.com/jts-bio/techn-i-cal/blob/main/templates/static/img/logo.png?raw=true" alt="LOGO: TECHN-I-CAL" style="width:70px;height:70px;"/>
            <div>
                <div class="title">TECHNI-CAL</div>
                <div class="subtitle">SHIFT SCHEDULING SOLVER</div>
            </div>
        </div>
        <div class="hstack">
            <h5><a href="/sch/day/all"> WORKDAYS </a></h5>
            <h5><a href="/sch/shifts/all"> SHIFTS </a> </h5>
            <h5><a href="/sch/employees/all/"> EMPLOYEES </a> </h5>
        </div>
        <div>
            {% goToThisWeek %}
        </div>
    </div>
