{% extends 'base.html' %} {% load static %}
 {% block title %} {{ title }} {% endblock %} 
 
 
{% block style %}

<style>
  body {
    background-image: url('/static/img/AbstractBackground.png');
  }
</style>

{% endblock style %} 

{% include 'header.html' %} 

{% block content %}

<div class="flex-col">
  <div class="flex flex-col text-center">
    <div class="vstack">
      <div
        style="
          font-size: 50px;
          font-family: 'JetBrains Mono';
          letter-spacing: 2px;
          color: #fff6;
          font-style: italic;
          line-height: 120%;
        "
      >
        PHARMACY SCHEDULING
      </div>

      <div
        class="text-xs text-orange-400 font-light"
        style="font-style: italic"
      >
        {% now "j F Y H:i" %}
      </div>
    </div>
  </div>

  <div class="flex flex-row align-center"></div>

  <div
    class="flex flex-col md:flex-row flex-1 overscroll-x-auto mx-12 md:mx-52 gap-20"
  >
    {% #dense-card title='Schedules' img='static/img/ScheduleImg.png' link='/sch/v2/schedule/list' %}
    <!---->
    <p class="text-2xs">
      Workdays, weeks, pay periods, and schedules, as well as tools to build and
      edit schedule instances.
    </p>
    {%/dense-card%} {% #dense-card title='Shifts' img='/static/img/ChemistBackground.png' link='/sch/shifts/all/' %}

    <p class="text-2xs">
      Manage information about shifts and when they are scheduled.
    </p>
    {%/dense-card%} {% #dense-card title='Employees' img='/static/img/Orchestra.png' link='/sch/employees/all/' %}

    <p class="text-2xs">
      Manage employee information, preferences, scheduling constraints, and
      more.
    </p>
    {%/dense-card%}
  </div>

  {% #toggle-section title="View Messages" %}

  <div>
    THERE ARE EMPTY SLOTS COMING UP SOON. SEE THEM IN
    <a href="{% url 'sch:v2-current-schedule' %}">IN THE SCHEDULE VIEW</a>
  </div>

  {%/toggle-section%} {% include 'sch/comp/display/carousel.html' %}
</div>

{% endblock %}
