{% extends 'base.html' %} {% load static %}
 {% block title %} {{ title }} {% endblock %} 
 
 
{% block style %}

<style>
  body {
    background-image: url('/static/img/AbstractBackground.png');
  }
</style>

{% endblock style %} 

{% include 'header.html' %} 

{% block content %}

<div class="flex-col">
  <div class="flex flex-col text-center">
    <div class="vstack">
      <div
        style="
          font-size: 50px;
          font-family: 'JetBrains Mono';
          letter-spacing: 2px;
          color: #fff6;
          font-style: italic;
          line-height: 120%;
        "
      >
        PHARMACY SCHEDULING
      </div>

      <div
        class="text-xs text-orange-400 font-light"
        style="font-style: italic"
      >
        {% now "j F Y H:i" %}
      </div>
    </div>
  </div>

  <div class="flex flex-row align-center"></div>

  <div
    class="flex flex-col md:flex-row flex-1 md:flex-0 overscroll-x-auto mx-12 md:mx-52 gap-10 my-3"
  >
    <a href="/sch/v2/schedule/list">
      <div class="relative max-w-xs overflow-hidden rounded-lg shadow-lg hover:ring">
        <img class="object-cover w-full h-48" src="static/img/ScheduleImg.png" alt="Schedules"/>
        <div class="absolute top-0 left-0 px-6 py-4">
          <h4 class="mb-3 text-xl font-semibold tracking-tight text-white">Schedules</h4>
        </div>
      </div>
      <p class="leading-normal mt-2 text-sm jbm text-zinc-300 text-shadow">All your schedules organized into Pay Periods, Weeks, Workdays, and individual Slots.</p>
    </a>

    <a href="/sch/shifts/all/">
      <div class="relative max-w-xs overflow-hidden rounded-lg shadow-lg hover:ring">
        <img class="object-cover w-full h-48" src="/static/img/ChemistBackground.png" alt="Shifts"/>
        <div class="absolute top-0 left-0 px-6 py-4">
          <h4 class="mb-3 text-xl font-semibold tracking-tight text-white">Shifts</h4>
        </div>
      </div>
      <p class="leading-normal mt-2 text-sm jbm text-slate-300 text-shadow">Manage information about shifts and when they are scheduled.</p>
    </a>

    <a href="/sch/employees/all/">
      <div class="relative max-w-xs overflow-hidden rounded-lg shadow-lg hover:ring">
        <img class="object-cover w-full h-48 backdrop-contrast-200" src="/static/img/Orchestra.png" alt="Employees"/>
        <div class="absolute top-0 left-0 px-6 py-4">
          <h4 class="mb-3 text-xl font-semibold tracking-tight text-white">Employees</h4>
        </div>
      </div>
      <p class="leading-normal mt-2 text-sm jbm text-slate-300 text-shadow">Manage employee information, preferences, scheduling constraints, and more.</p>
    </a>

  </div>

  <div class="w-full place-content-center">

      {% #toggle-section title="Messages" %}

      <div class="p-3 bg-slate-700 rounded border-1 border-slate-500 text-xs text-slate-200 font-light w-full my-2">
        THERE ARE EMPTY SLOTS COMING UP SOON. SEE THEM IN
        <a href="{% url 'sch:v2-current-schedule' %}">IN THE SCHEDULE VIEW</a>
      </div>
  
      {%/toggle-section%} 
  </div>
</div>
</div>

{% endblock %}
