#app
  .appbar
    .appbar-inner

      .left
        a.button.button-small.button-outline(href="#")
        a.button.button-small.button-outline.margin-left-half(href="#")

      .center.margin-horizontal-half
        a.button.button-small.button-outline(href="#")
        .segmented.margin-left-half
          a.button.button-small.button-outline(href="#")
          a.button.button-small.button-outline(href="#")

        .segmented.margin-left-half
          a.button.button-small.button-outline(href="#")
          a.button.button-small.button-outline(href="#")

        a.button.button-small.button-outline.margin-left-half(href="#")
        a.button.button-small.button-outline.margin-left-half(href="#")
          span Move to ...
          
      .right
        .searchbar.searchbar-inline.searchbar-init
          .searchbar-input-wrap
            input(type="text", placeholder="Search")
            span.input-clear-button

  .appbar.appbar-small
    .appbar-inner
      .left
        a.button.button-small.panel-open(href="#", data-panel="left")
          i.fas.fa-calendar
          span SCHEDULE
        a.button.button-small.button-active.color-gray.margin-left-half(href="#")
          i.fas.fa-envelope
          span Inbox
        a.button.button-small.margin-left-half(href="#")
          i.fas.fa-syringe
          span SHIFTS
        a.button.button-small.margin-left-half(href="#")
          i.fas.fa-user
          span EMPLOYEES
        a.button.button-small.margin-left-half(href="#")
          span Drafts (1)
