include ../partials/nav-tile.pug
//- navItem (icon, text, link)

div.flex.h-screen.w-16.flex-col.justify-between.border-r.bg-zinc-900.absolute.top-0.left-0.z-20
  div
    div.inline-flex.h-16.w-16.items-center.justify-center.text-white
      span.grid.h-10.w-10.place-content-center.rounded-lg.bg-zin-800.text-xs.text-gray-100.text-opacity-60
        | #{user.username}
    div.border-t.border-gray-100
      nav(aria-label="Main Nav" class="flex flex-col p-2")
        div.py-3
          +navItem("calendar",        "Schedules",  "/schedule/")
          +navItem("syringe",         "Shifts",     "/shift/")
          +navItem("user-astronaut",  "Employees",  "/employee/")
