extends 'base.html'

block content
  h1 New Employee
  form(method='POST')
    input(type="hidden"  name="csrfmiddlewaretoken" value="#{csrf_token}")
    table
      tbody
        | #{form.as_table}
    button.submit(type='submit') Submit

