
{% extends 'base.html' %}
{% load tags %}

{% block content %}

    <a href="{{ pto.employee.url }}">
        <i cls="fas">{% backArrow %}</i>
        Back to Employee
    </a>

    <h1>{{ pto.employee }}</h1>
    <h2>{{ pto.workday }} PTO Request </h2>

    <div class="panel">
    {% for slot in pto.slot_conflicts %}
        <a href="{{ slot.url }}">
        <div class="border border-gray-200 rounded p-1 w-fc">
            <div class="text-2xs uppercase">CONFLICTING SLOT</div>
            <div>{{ slot }}</div>
            <div class="text-2xs text-gray-400 font-thin">SCHEDULE VERSION {{ slot.schedule.version }}</div>
        </div>
        </a>
    {% endfor %}
    </div>
    <form action="delete/" method="POST">
        {% csrf_token %}
        <button type="submit" class="bg-red-100 text-red-600 border border-red-400 hover:bg-red-300 hover:text-red-800 rounded"> 
            <i class="fas">{% clearIcon %}</i>
            Delete Slot Assignment
        </button>
    </form>

    
{% endblock content %}
    