
.relative 
    input.border.rounded-l.bg-gray-100.bg-opacity-20.mr-0(
        type="number" 
        id="MaxWeekHours"
        value=employee.wk_hours)

    .bg-gray-100.bg-opacity-20.mr-0.border.rounded-r 
        | hrs.
