<div class="btn-group">
    <button type="button" 
            class="text-zinc-300 bg-zinc-900 hover:bg-zinc-700 px-3 py-2 jbm rounded mt-3" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
        <i class="fa-duotone fa-lightbulb-exclamation-on mx-1"></i>
        Actions
        <i class="fa-duotone fa-chevron-down px-1"></i>
    </button>

        <ul class="dropdown-menu z-20 absolute overflow-y-visible">
        <li>
            <div id="favorable-finished" 
                 class="dropdown-item hover:bg-amber-300 font-bold pointer"
                 _="on click 
                        add .active to me 
                        call showWaitIndicator(event) then
                        then send recheck to me then 
                        fetch actions/fill-with-favorables/  
                        then put result into #swap-panel then wait 1s then 
                        log `swapping...` then 
                        call window.location.reload() 
                        end 
                    on recheck   
                        repeat while 
                            #favorable-finished matches .active
                        trigger recheck on #n-empty-check 
                        wait 1s
                        end">
                 <i class="fa-regular fa-smile text-lg text-amber-500"></i> MAXIMIZE SATISFACTION <span id="favorable-indicator" class="fa-spinner fa-pulse htmx-indicator"></span>
                    <div class="text-2xs font-thin text-amber-700"> 
                        ASSIGNMENTS WILL BE MADE ONLY ON 
                        <br/>PREFFERED TIME OF DAY
                    </div>
                </div>
        </li>
        <li>
            <div id="template-finished" 
                 class="dropdown-item hover:bg-indigo-200 font-bold cursor-pointer" 
                 hx-get="actions/set-templates/"
                 hx-swap="none"
                 _="on click 
                        call showWaitIndicator(event) then
                        remove .hidden from #action-button-indicator
                        add .active to me 
                        then send recheck to me end 
                 on recheck 
                        repeat while #template-finished matches .active
                            trigger recheck on #n-empty-check 
                            wait 1s
                 end">
                 <i class="fa-duotone fa-folder-open text-amber-500"></i> Fill Templates <span id="template-indicator" class="fa-spinner fa-pulse htmx-indicator"></span>
                    <div class="text-2xs font-thin text-amber-700"> 
                        ASSIGNMENTS WILL BE MADE ONLY ON 
                        <br/>PREFFERED TIME OF DAY
                    </div>
                </div>
        </li>
        <li> <div class="dropdown-item hover:bg-indigo-200 font-bold pointer" 
                hx-get="{{ schedule.url__solve_b }}"
                hx-target="#actionMarker"
                hx-trigger="click"
                id="solveA"
                 _="on click 
                        call showWaitIndicator(event) then
                        remove .hidden from #action-button-indicator
                        add .active to me then send recheck to me end 
                    on recheck repeat while #solveA matches .active
                        trigger recheck on #n-empty-check 
                        wait 1s
                    end">
                                        <i class="fa-duotone fa-user-robot text-lg text-indigo-500"></i>
                                            Solve: Method A
                                        <div class="text-2xs font-thin text-indigo-700"> 
                                            USING A.I. TRAINED ON PREVIOUS 
                                            <br/>SCHEDULES
                                        </div> 
                                    </div>
                                </li>
        <li> <a class="dropdown-item hover:bg-indigo-200 font-bold pointer" 
                href="{{ schedule.url__solve }}"
                _="on click call showWaitIndicator(event) then 
                        remove .hidden from #action-button-indicator 
                        fetch modal/ then append result to end of body end"> 
                                        <i class="fa-duotone fa-function text-lg text-indigo-500"></i>
                                            Solve:  Method B 
                                        <div class="text-2xs font-thin text-indigo-700">
                                            USING
                                            QUASI-ALGORITHMIC METHOD
                                        </div>
                                    </a>
                                </li>
        <li> <div class="dropdown-item hover:bg-indigo-200 font-bold pointer" 
                hx-post="actions/solve-tca/"
                hx-trigger="click"
                hx-target="#actionMarker"
                id="solveC"
                _ ="on click call showWaitIndicator(event) then
                        remove .hidden from #action-button-indicator
                        add .active to me then send recheck to me end 
                    on recheck repeat while #solveC matches .active
                        trigger recheck on #n-empty-check 
                        wait 1s
                    end">
                                        <i class="fa-duotone fa-clock text-lg text-indigo-500"></i>
                                            Solve:  Method C
                                        <div class="text-2xs font-thin text-indigo-500">
                                            USING TIME-AWARE VARIANT 
                                        </div>
             </div>
        </li>

        <hr/>

        <li><div class="dropdown-item hover:bg-sky-200 font-bold pointer"
                data-link="{% url 'sch:sch-clear-over-fte' schedule.slug %}"
                _="on click 
                        call showWaitIndicator(event) then
                        remove .hidden from #action-button-indicator
                        call prompt('This action will delete some assigned slots within the schedule. To continue, please type `verify`') 
                        then set x to result 
                        then log x
                        if x != 'verify' 
                            go to the top of body smoothly 
                            then call showToast('Action canceled','warn') 
                        if x == 'verify' 
                            call showToast('Maintainance script is running.','info') 
                            then log my.dataset.link 
                            then fetch my.dataset.link 
                            end">
                                        <i class="fa-duotone 
                                            fa-inboxes text-sky-400 text-lg"></i>
                                        Maintain
                                        <span class="text-2xs font-thin text-sky-700">
                                            CLEAR OUT ASSIGNED<br/> 
                                            SLOTS RESULTING IN OVERTIME
                                        </span>
                                    </div>
                                </li>
        
        <li><hr class="dropdown-divider"></li>
        <li><div class="dropdown-item hover:bg-red-300 bg-opeacity-90 font-bold font-red-300 pointer"
                hx-target="#actionMarker"
                _="on click remove .hidden from #action-button-indicator
                        call confirm ('Clear ALL slot assignments? This action cannot be undone.')
                        if result is true fetch actions/clear-all/ with method:'POST' then 
                        wait 200ms then call window.location.reload() end">
                    <i class="fa-duotone fa-eraser text-red-800"></i>
                        Clear Slots
                </div>
            </li>
        </ul>
    </div>