<div class="grid grid-cols-7 overflow-x-scroll">

    {% for option in options %}
        
        <div class="border rounded p-4"
            _="on click 
                    toggle .border-blue-200 .shadow .shadow-blue-100 .bg-blue-400 .bg-opacity-10 on me
                    then toggle .hidden on .fa-check-circle in me end
                    then fetch ${fetchurl} then call alert(:result) end
                on mouseover toggle .ring .ring-sky-700 until mouseleave end">
            <div class="flex flex-row">
                <i class="fa-duotone fa-circle-check hidden"></i>
                <div class="text-md text-zinc-300">{{ title }}</div>
            </div>
            <div class="text-xs">{{ description }}</div>
        </div>
    
    {% endfor %}

</div>
