block pre 
    script(type="text/coffeescript").
        

block content

    nav
        h3 Documents 
        span(hx-get='/schedule/partials/2023-S2A/log/' hx-target='#swap-panel') View Log 

        h3 Stats 
        ul
            li 
                include figures/n-empty.html
            li 
                include figures/emusr.html
            li 
                include figures/turnarounds.html
            li 
                include figures/pto-rate.html
            li 
                include figures/overtime.html
            li 
                include figures/unfavorables.html
            li 
                include figures/untrained.html
            li 
                include figures/mistemplated.html
        