{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load tags %}



{% block style %}
    <style>
        html {
            background-image: url("https://media.discordapp.net/attachments/1022445219704225842/1027660608579055626/jsteinbecker_shiny_polished_oak_wood_35f58c7a-b086-400c-a835-6f87d8844ae4.png?width=1392&height=1392");
            background-repeat: repeat;
            background-size: 85%;
        }
    </style>
{% endblock style %}
    

{% block content %}

    <div>
        <a href="/sch/shifts/all">
            Back to Shifts
        </a>
    </div>

    <div>
        <h1>{{ shift }}</h1>
    </div>

    <div class="hstack" style="align-items:start;">
    <div class="panel w-fc" style="height:520px;">
        <h2>Shift Details</h2>
        <div class="vstack align-r w-fc">
            <div>
                <a href="/sch/shift/{{shift}}/update/">Edit Shift</a>
            </div>
            <table>
                <tr>
                    <th>START TIME</th>
                    <td>{{ shift.start }}</td>
                </tr>
                <tr>
                    <th>END TIME</th>
                    <td>{{ shift.end }}</td>
                </tr>
                <tr>
                    <th>DURATION</th>
                    <td>{{ shift.duration }}</td>
                </tr>
                <tr>
                    <th>ON DAYS</th>
                    <td style="font-size:8px;">{{ shift.on_days_display }}</td>
                </tr>
                <tr>
                    <th>TRAINED EMPLOYEES</th>
                    <td>
                        {{count}}
                    </td>
                </tr>
            </table>
        </div>
            <a href="trained/update" class="btn btn-xs btn-compact btn-neutral"><div class="hstack">
                <span>{% syringeIcon '20px' '20px' '#1199aa' %}</span>
                <span>Manage Training Information</span>
            </div></a>
      
    </div>
    
    <div class="panel">
        <h2>Preferences by Employee</h2>
        {% for pref in prefs %}
        <div>
            {% if pref.score == -2 %}<span class="jbm" style="color:coral;">{% endif %}
            {% if pref.score == -1 %}<span class="jbm" style="color:orange;">{% endif %}
            {% if pref.score == 0 %} <span class="jbm" style="color:gray;">{% endif %}
            {% if pref.score == 1 %} <span class="jbm" style="color:aquamarine;">{% endif %}
            {% if pref.score == 2 %} <span class="jbm" style="color:greenyellow;">{% endif %}
                {{pref.employee}}</span>
        </div>
        {% endfor %}
    </div>
    <div class="panel vstack">
        <a href="upcoming/" class="btn btn-secondary btn-xs">
            <div class="hstack">
                <div>{% staffIcon '15px' '15px' '#ffffff' %}</div>
                <div>View Upcoming Occurances</div>
            </div>
        </a>
        <a href="tallies/" class="btn btn-neutral btn-xs">
            <div class="hstack">
                <div>{% mortarIcon '15px' '15px' '#ffffff' %}</div>
                <div>View Employee Tallies</div>
            </div>
        </a>
    </div>

</div>

<div class="panel w-fc" style="height:320px;">
    <div style="float:right;"><a href="template/" style="font-style:italic;margin-bottom:20px;">Edit</a><br></div>
    <h2 style="font-size:24px;color:orange;" class="jbm">Templating</h2> 
    <div class="hstack">
        {% for sst in ssts %}
        {% if sst.1 %}
            <div class="panel" style="background-color:#5af7;border-color:#7bf;height:90px;width:125px;">
                <span style="font-size:11px;">Day {{sst.0}}</span><br/>
                <span class="lg" style="font-size:13px;color:#fff7">{{sst.1.0.employee}}</span>
            </div>
        {% else %}
            <div class="panel w-70" style="height:90px;width:125px;">
                <span class="small">N/A</span>
            </div>
        {% endif %}
        
        {% if sst.0 == 6 %}
            </div>
            <div class="hstack">
            {% endif %} 
        {% endfor %}
    </div>
   
</div>

{% endblock content %}

    