{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}

{% block style %}
    <style>
        html {
            background-image: url("https://media.discordapp.net/attachments/1022445219704225842/1027965543262724196/jsteinbecker_HD_Fish_scales_transleucent_rainbow_bright_and_shi_83998ed5-48e6-4be7-a230-ddbcb4ef5262.png?width=1392&height=1392");
            background-repeat: repeat;
            background-size: 30%;
        }
    </style>
{% endblock style %}

{% block content %}

    {% include 'sch/shift/popover.html' %}

    <a href="/sch/sst-by-day/" class="btn btn-xs btn-info">Day Templating</a>

    <h1 class="text-center" style="font-size:32px;">MANAGE SHIFTS</h1>
    
    <div class="lg:hstack center sm:vstack">
    <div class="w-fc">

            <a href="/sch/shifts/new/" 
               class="bg-blue-900 border px-4 hover:bg-blue-700 border-blue-300 rounded " style="float:right;"> 
                <div class="hstack">
                    <div>{% plusIcon %}</div>
                    <div> NEW</div>
                </div>
                </a>
    
        <div class="panel">
            <div>{% render_table shiftTable %}</div>
        </div>

    </div>

</div>
{% endblock content %}
    