{% extends 'base.html' %}

{% block content %}

    <a href="/">HOME</a>

    <h1>MANAGE SHIFTS</h1>
    
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Shifts</h3>
        </div>
        <div class="panel-body">
            <div>
                <a href="/sch/shifts/new/" class="btn btn-primary">
                    Create Shift
                </a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Shift</th>
                        <th>Start Time</th>
                        <th>Duration</th>
                        <th>Occurs On Days</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for shift in shifts %}
                        <tr>
                            <td> <a href="{{shift.url}}">{{ shift.name }}</span></td>
                            <td>{{ shift.start }}</td>
                            <td>{{ shift.duration }}</td>
                            <td> {% for d in shift.occur_days %}
                                    {{d.0}} {% endfor %} </td>
                            <td>
                                <a href="/sch/shift/{{shift}}/update/" class="btn btn-primary">Edit</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
    