{% extends 'base.html' %}
{# View --- SHIFT.ShiftUpdateView #}

{% block style %}
    <style>
        html {
            height: 100%;
            background-image: url("https://i.mj.run/94941d7c-8b6f-4acd-803a-a400606a21a4/0_0.png");
            background-size: 40%;
            background-repeat: repeat;
            background-blend-mode: color-dodge;
            }
    </style>

{% endblock %}

{% block content %}

    <h1>{{shift}}</h1>
    <form method="post">
        
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        
        <input type="submit" value="Update">

    </form>

{% endblock %}
