{% extends "base.html" %}
{% load tags %}


{% block content %}

<a href="/sch/shift/{{shift}}/" class="hstack">
    <div>{% backArrow %}</div><div>BACK</div>
</a>

<div class="center text-center">
    <h1 class="h1 text-3xl">{{shift}}</h1>
    <h3>Tally by Employee</h3>
</div>


<div class="flex flex-wrap flex-row" style="gap:9px;">
    {% for empl in employees %}
        {% if empl.tally != 0 %}
        <div class="panel w-40" style="gap:9px;">
            <div class="vstack">
                <div>{{empl.name}}</div>
                <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                         style="width:{{emply.tallyPerc}}%"> {{ empl.tally }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
    
{% endblock content %}
    
  
