{% extends "base.html" %}
{% load tags %}


{% block content %}

<a href="{{ shift.url }}" 
   class="hstack">
    <div> {% backArrow %} </div>
    <div> BACK </div>
</a>

<div class="center text-center">
    <h1 class="h1 text-3xl">{{shift}}</h1>
    <h3>Tally by Employee</h3>
</div>

<div class="w-full">
    <div class="place-self-center grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4" style="gap:9px;">
        {% for empl in employees %}
            {% if empl.tally != 0 %}
            <div class="panel place-self" style="gap:9px;">
                <div class="vstack">
                    <div>{{empl.name}}</div>
                    <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                        <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                            style="width:{{ empl.percentMax }}%"> 
                            {{ empl.tally }} <br/>
                            ({{ empl.percentMax }}%)
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    
{% endblock content %}
    
  
