{% extends "base.html" %}


{% block style %}
    <style>
    html {
    background-image: url("https://media.discordapp.net/attachments/1024277464945537044/1030072085436968980/jsteinbecker_mountain_cliffs_4d8a20f2-3ff0-489f-b30f-233a43cdf9ca.png?width=952&height=1391");
    background-repeat: repeat;
    background-size: 24%;

    }
    input {
        @apply bg-indigo-700 text-indigo-300 text-xl hover:bg-indigo-400 hover:text-indigo-900;
    }
    </style>    
{% endblock style %}
    


{% block content %}

<div class="text-center align-items center mb-12">
    
    <h1 class="text-2xl">Trained Employees</h1>
    <h2 class="text-xl"> {{ shift }} </h2>

    <img src="https://cdn.discordapp.com/attachments/1015337046509895791/1029759264690032650/jsteinbecker_small_stream_that_passes_through_the_middle_of_the_18a3d37a-1619-40e8-985e-ef7d66365c85.png" style="float:left;width:30%;height:30%;border-radius:20px;box-shadow:1px 1px 3px #0003;"  alt="">
</div>

<form method="post">  {% csrf_token %}

    <div class="panel hstack flex flex-wrap"> 
    {{ formset.management_form }}

    
        {% for form in formset %}
            <div class="panel" 
                     _="on click toggle @checked on <input/> in me">
            <span class="text-indigo-900 bg-indigo-300 rounded-sm pr-2 pl-1 font-bold text-sm">
                {{form.initial.employee}}
            </span>
            {{form.as_div}}
            </div>
        {% endfor %}
   

        <input type="submit" value="Submit All">

</div>
    
</form>
    
{% endblock content %}

    