{% extends "base.html" %}


{% block style %}
<style>
html {
background-image: url("https://media.discordapp.net/attachments/1015278074197200957/1029849425289429082/jsteinbecker_fine_Cocobolo_wood_texture_macro_photography_HD_8k_b4e92ee8-fc4d-406f-8d7b-08f5a2d396d5.png?width=952&height=1391");
background-repeat: repeat;
background-size: 10%;

}
}
</style>    
{% endblock style %}
    


{% block content %}
<div class="text-center" style="align-items:center;margin-bottom:25px;">
<h1 class="text-2xl">Trained Employees</h1>
<h2 class="text-xl">{{shift}}</h2>
    <img src="https://cdn.discordapp.com/attachments/1015337046509895791/1029759264690032650/jsteinbecker_small_stream_that_passes_through_the_middle_of_the_18a3d37a-1619-40e8-985e-ef7d66365c85.png" style="width:30%;height:30%;border-radius:20px;box-shadow:1px 1px 3px #0003;"  alt="">
</div>
<form method="post">  {% csrf_token %}
    <div class="hstack flex flex-wrap"> {{ formset.management_form }}

    {% for form in formset %}
    <div class="panel">
        <div class="emph">{{form.initial.employee}}</div>
        {{form.as_div}}
    </div>
    {% endfor %}

</div>
    <input type="submit" value="Submit All" class="btn btn-lg btn-primary">
</form>
    
{% endblock content %}

    