{% extends 'base.html' %}
{% load tags %}


{% block content %}
<a class="hstack" href="/sch/shift/{{shift}}/">
    <div>{% backArrow %}</div>
    <div>Back</div>
</a>

<div class="hstack" style="justify-content:space-around;">
    <div class="text-center text-3xl">{{shift}}</div>
</div>
<div class="panel hstack" style="justify-content:space-around;">
    <table class="table table-compact">
    {% for day in days %}
    <tr>
        <td>{{day.date}} {{day.weekday}}</td>
        <th>{{day.employee}}</th>
    </tr>
    {% endfor %}
</table>
</div>
    
{% endblock content %}
    