
<div id="preview-backdrop" class="bg-zinc-900 border border-zioc-400 rounded w-fc p-2 m-1">
    <div id="preview-title" class="text-lg font-semibold text-center">PREVIEW CURRENT</div>
    <div id="preview-grid" class="grid grid-cols-7 gap-3">
        {% for i in tdos %}
            {% if i == 0 %}  <div class="h-[22px] w-[22px] bg-zinc-800 border border-zinc-200 rounded-full"></div>
            {% elif i > 0 %} <div class="h-[22px] w-[22px] bg-indigo-200 border border-indigo-500 rounded-full text-center text-2xs text-slate-600 pt-1">Off</div> {% endif %}
        {% endfor %}
    </div>
</div>