{% extends 'base.html' %} {% load tags %}

{% block style %}
<style>
  body {
    background-image: url("/static/img/jade-forest-tile-2.png");
    background-repeat: repeat;
    background-size: 40%;
  }
  .spinner {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #f3f3f3;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
</style>

{% endblock style %} 

{% block content %}

  <script>
    document.querySelectorAll(".content").forEach((item) => {
      item.classList.add("bg-zinc-900");
      item.classList.add("bg-opacity-90");
      item.classList.add("backdrop-blur-sm");
    });
     document.querySelectorAll("table").forEach((table) => {
      table.classList.add("bg-zinc-800");
      table.classList.add("bg-opacity-40");
      table.classList.add("border");
    });
  </script>

  <div class="w-fc sticky t-2 -r-0 mt-3 mr-3">
    {% #toggle-section title="New Schedule Dialog" %}
    <div class="border-2 border-slate-300 rounded mt-2">
      <div class="px-3 py-2 bg-zinc-900 rounded">
        <h2 class="text-lg">New Schedule Wizard</h2>
      </div>
      <div class="px-3 py-2 bg-slate-700">
        <p class="font-light text-sm">
          Select the start date for a new schedule to Generate. <br/>
          <span class="text-indigo-200">
            Note, you can have more than one schedule for the same <br/>
            date range in order to test multiple scenarios.
          </span>
        </p>
      </div>
      <form method="POST">
        {% csrf_token %} 
        {{ new_schedule_form }}
        <input type="submit" 
               value="Generate Schedule Draft"
               class="transition hover:scale-105 hover:text-indigo-300 hover:font-bold" />
      </form>
    </div>
    {% /toggle-section %}


  </div>

<div class="hidden md:block list list-view overflow-y-scroll">
  <div class="column p-8 m-8">
    <h2 class="text-2xl mt-3 mx-4 font-semibold text-slate-300 shadow">Schedule List</h2>
    <a href="grouped/"
       class="text-yellow-300 hover:underline float-right text-xs">Switch to Grouped View</a>
    <table class="table my-7">
      <tr>
        <th>Schedule</th>
        <th>Version</th>
        <th>Start Date</th>
        <th>Slots Filled</th>
        <th>Draft Status</th>
      </tr>

      {% for sch in schedules %}

      <tr class="transition
                 hover:bg-slate-600 
                 hover:bg-opacity-90 
                 hover:shadow
                 active:fa-beat">
        <td>
          
          <a href="detail/{{sch.slug}}/"
            class="bg-{{ sch.color }}-600 rounded-sm shadow-lg
                   transform border-black border text-lg hover:border-white hover:scale-110"
            id="button-{{sch.slug}}">
            Schedule {{sch.slug}}
          </a>
        </td>
        <td>
          <span class="text-{{sch.versionColor}}-600 mx-3">
            {{sch.version}}
          </span>
          {% if sch.is_best_version %}
            <i class="animate-beating-brief-o fa-solid fa-star text-{{sch.color}}-300"></i>
          {% endif %}
        </td>
        <td>{{ sch.start_date }}</td>
        <td class="p-1">
          <span class="text-indigo-200 border-indigo-200 border-1 px-4 text-xs">
            <sub class="jbm"
              >{{sch.slots.filled.count}}/{{sch.slots.all.count}}</sub
            >
          </span>
          <div class="my-1">
            <div class="flex flex-row">
             <span class="font-light opacity-60 text-lg"> {{ sch.percent }}% </span> 
             {% progressBar  sch.percent   sch.color   %}
            </div>
          </div>
        </td>
        <td>
          {% if sch.status == 0 %} DRAFT 
          {% elif sch.status == 1 %} FINAL 
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="block md:hidden">
  <div class="flex flex-row flex-wrap gap-7 m-7">
    {% for sch in schedules %}
    <a
      href="detail/{{sch.slug}}/"
      class="panel grow hover:bg-slate-500 hover:ring-{% scoreColor sch.percent %}-400 hover:ring"
      id="myButton"
    >
      <h3 class="text-indigo-400 font-extrabold text-shadow">
        Schedule {{sch.slug}}
      </h3>
      <div
        class="h-8 w-8 text-xs pt-2 m-2 ring ring-{% scoreColor sch.percent %}-500 bg-{% scoreColor sch.percent %}-100 ring-offset-2 text-slate-600 font-light text-center align-text rounded-full"
      >
        {{ sch.percent }}%
      </div>
      <div class="text-xs">{{ sch.start_date }}</div>
      <div>{% if sch.status == 0 %} DRAFT {% endif %}</div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
