{% extends 'base.html' %}




{% block content %}
    <div class="panel text text-center mt-2">
        <div>
            <a class="transition hover:scale-105" href="{% url 'schd:detail' schedule.previous.slug %}">
                <i class="fa-arrow-circle-left fa-duotone transition hover:scale-105"></i>
            </a>
            <a class="transition hover:scale-105"  href="{% url 'schd:detail' schedule.next.slug %}">
                <i class="fa-arrow-circle-right fa-duotone"></i>
            </a>
        </div>
        <h1 class="text-3xl text-zinc-400 font-bold">
            Schedule {{ schedule.number }} ({{ schedule.year }})
        </h1> 
        <h3 class="text-lg text-zinc-100 font-light">
            VERSION <span id="scheduleVersionId">{{ schedule.version }}</span>
        </h3>
        {% include 'sch2/schedule/partials/action-button.html' %}
    </div>

    <div class="flex flex-col">

        <section>
            {% include 'sch2/schedule/partials/sch-tabBar.html' %}
        </section>

        <section>
            <div class="flex flex-col-reverse md:flex-row md:flex-row mb-1 md:mb-3">
                {% include 'stats.html' %}
                <div id="swap-panel"
                    class="container overflow-x-scroll overscroll-x-auto  
                           px-1 md:px-4 md:ml-2 bg-zinc-900 rounded shadow 
                           border-zinc-300 border-2">
                        <i class="fas fa-spinner fa-spin fa-beat htmx-indicator"></i>
                </div>
            </div>
        </section>
        
    </div>
    

{% endblock %}



