{% load static %}

<div class="flex items-center space-x-4">
    <div class="flex-shrink-0">
        <div id="color-cicle-{{ name }}"
            class="h-7 w-7 pl-[3.5px] pt-[1.5px] 
                  rounded-full border border-white 
                  bg-zinc-300
                  {{ color }}">
                  
            <i class="fa-duotone 
                      text-black 
                      {{ icon }}">
            </i>
        </div>
    </div>
    <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-zinc-700 truncate">
            {{ title }}
        </p>
        <p class="text-2xs font-light italic text-gray-400">
            Goal: {{ goal_descr }}
        </p>
    </div>
    <div class="inline-flex items-center text-base font-semibold text-gray-400"
        id="fig-{{ name }}"
        hx-get="{{ url }}"
        hx-trigger='load'
        hx-target="#fig-{{ name }}">
    </div>
</div>

<!-- Path: schedule/templates/stats__figure.html -->
<!--
    * VARIABLES
       - title         - icon 
       - goal_descr    - url 
    -->

<script src="{% static 'statFigureColorize.js' %}"></script>
