{% extends 'base.html' %}
{% load tags %}

{% block style %}
    <style>
        html {
            background-image: url("https://media.discordapp.net/attachments/1024277464945537044/1028363533169217596/jsteinbecker_crowded_city_street_Denver__Pride_celebration_Prid_14b559ec-41ec-435d-85e9-221dd8251bd1.png?width=1392&height=1392");
            background-repeat: repeat;
            background-size: 20%;
        }
    </style>
{% endblock style %}

{% block content %}

    <h1 class="text-4xl text-center">   Pay Period {{year}} #{{period}}  </h1>
    <div class="hstack" style="width:100%;justify-content:space-around;">
        <a href="{{prevPeriodUrl}}">{% backArrow %}   </a>
        <a href="{{nextPeriodUrl}}">{% forwardArrow %}</a>
    </div>



    <div class="panel">
        <a href="fill-template/">{% fillTemplateIcon %}</a>
        <a href="solve-slots/">  {% robotIcon %}       </a>
    </div>





    <div class="panel" style="text-align:center;font-size:10px;">
        <a href="{{ weekA_url }}" style="letter-spacing:4px;" class="link pb-2">
             WEEK A 
        </a> 
        <div class="hstack" style="width:100%;">
            {% for day in weekA %}
                <div class="panel" style="flex-grow:2;background-color:#aaa4;">
                    <h5 style="font-size:16px;">
                        <a href="/sch/day/{{day.slug}}"> {{day.date}} </a>
                    </h5>
                    <div class="radial-progress {% if day.percent_coverage == 100 %}green-glow{%endif%}" 
                    style="--value:{{day.percent_coverage}};">
                    <span class="text-lg"> {{day.percent_coverage}}% </span>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel" style="text-align:center;font-size:10px;letter-spacing:4px;">
        <a href="{{ weekB_url }}" style="letter-spacing:4px;" class="link mb-2">
            WEEK B </a> 
        <div class="hstack" style="width:100%;">
            {% for day in weekB %}
                <div class="panel" style="flex-grow:2;background-color:#aaa4;">
                    <h5 style="font-size:16px;">
                        <a href="/sch/day/{{day.slug}}"> {{day.date}} </a>
                    </h5>
                    <div class="radial-progress {% if day.percent_coverage == 100 %}green-glow{%endif%}" 
                         style="--value:{{day.percent_coverage}};">
                        <span class="text-lg"> {{day.percent_coverage}}% </span>
                    </div>
                    
                </div>
        {% endfor %}
        </div>
    </div>

    <div class="hstack flex flex-row flex-wrap" style="width:100%;justify-content:space-around;">
    {% for emp in employees %}
        <a class="card p-3 h-30" href="/sch/employee/{{emp}}/generate-schedule/{{firstDay}}/{{lastDayPlusOne}}">
            <div style="font-size:13px;font-weight:light;" class="jbm">
                {{emp}}:
                {% if emp.period_fte_percent > 100 %} <span class="jbm" style="color:#a55c;background-color:#3115;font-size:15px;">{{emp.period_fte_percent}}% </span>{% else %}
                {{emp.period_fte_percent}}%{% endif %}
            </div>
        </a>
    {% endfor %}
    </div>


{% endblock content %}