{% extends 'base.html' %}
{% load tags %}



{% block content %}
    
    
<ol class="items-center m-7 sm:flex">

    {% for slot in streak %}

    {% if slot.pk == mainSlot.pk %}

    <li class="relative mb-6 sm:mb-0">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-orange-200 rounded-full ring-0 ring-white dark:bg-orange-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <svg aria-hidden="true" class="w-3 h-3 text-blue-600 dark:text-blue-300 transition hover:scale-125" fill="orange" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pr-8">

            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
                {{ slot.shift }}: 
                <a href="{{slot.employee.url}}">{{ slot.employee }}</a>
            </h3>

            <a
            href="{% url 'wday:detail' slot.workday.slug %}"
            class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                {{ slot.workday.wkd }} {{ slot.workday.date }} 
            </a>
            <p class="text-base transition will-change font-normal text-gray-500 dark:text-gray-400">Day {{ slot.streak__display }}</p>
            {% if slot.pto_conflicts.count > 0 %}
                <form action="{% url 'sch:slot-clear-action' slot.pk %}" method="POST"
                    class="text-base text-2xs text-red-800 bg-red-200 rounded-full px-2 py-1"
                    _="on mouseover wait 100ms then remove .hidden from the first button in me 
                        end 
                       on mouseleave wait 400ms then add .hidden to the first button in me 
                        end"> 
                       {% csrf_token %}
                    <i class="fas align-top">{% warnIcon %}</i>
                    PTO Conflict Exists
                    <button type='submit' class="fas align-top deletebutton"
                        _= "on mouseover
                                remove .hidden from <span.deletemetooltip/> end
                            on mouseleave 
                                add .hidden to <span.deletemetooltip/> end ">
                        {% clearIcon '15px' '15px' fill='red' %}
                    </button>
                    <span class="deletemetooltip float-right hidden text-2xs jbm text-white bg-black opacity-50 leading-none shadow p-2 absolute z-50">
                        Remove {{ slot.employee }} from slot
                    </span>
                </form>
               
                
            {% endif %}
        </div>
    </li>

    {% else %}

    <li class="relative mb-6 sm:mb-0 opacity-85">
        <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-6 h-6 bg-blue-200 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                <a href="{{ slot.url }}">
                    <svg aria-hidden="true" class="w-3 h-3 text-blue-600 dark:text-blue-300 transition hover:scale-125" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
        </div>
        <div class="mt-3 sm:pr-8">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-slate-400">{{ slot.shift }}: {{ slot.employee }}</h3>
            <a
            href="{{ slot.workday.url }}"
            class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                {{ slot.workday.wkd }} {{ slot.workday.date }}
            </a>
            <p class="text-base font-normal text-gray-500 dark:text-zinc-500">Day {{ slot.streak__display }}</p>
            {% if slot.pto_conflicts.count > 0 %}
                <p class="text-base text-2xs text-red-800 bg-red-200 rounded-full px-2 py-1"
                    _="on mouseover  toggle .hidden on the next .deletebutton until mouseleave">
                    <i class="fas">{% warnIcon %}</i>
                    PTO Conflict Exists
                    <i class="fas hidden"
                        _="on mouseover toggle .hidden on the next .tooltip until mouseleave">{% clearIcon %}</i>
                    <span class="tooltip hidden bg-gray-100 text-gray-800 rounded shadow p-2 absolute z-50">
                        Remove {{ slot.employee }} from slot
                    </span>
                </p>
            {% endif %}
        </div>
    </li>

    {% endif %}

    {% endfor %}
  
</ol>

{% endblock content %}