
{% extends 'base.html' %}


{% block content %}

            <div class="main">
            
                    <h1 class="text-3xl bg-blue-900 rounded-sm p-3 m-3">
                        Pharmacy Scheduling
                    </h1>

                    <div class="panel">
                                    <div class="hstack">
                                            <div class="panel">{{schedule}}</div>
                                            <div class="panel">{{urlEmployees}}</div>
                                            <div class="panel">{{urlShifts}}</div>
                                    </div>
                    
                    </div>
            
            </div>


    
{% endblock content %}
    