{% load wtags %}



<div class="relative inline-block text-left">
    <span class="hidden undo-btn hover:text-sky-300 cursor-pointer text-2xs px-1"
                _="on click 
                      fetch actions/clear-slot/{{slot.workday}}/{{slot.shift}}/ 
                      with method:'POST' then 
                      put result into closest .swap-tgt then
                      add .hidden to me then 
                      wait 1s then set swaptarget to closest .swap-tgt
                      then tell swaptarget 
                      transition *height to 0px over 3s
                      then tell swaptarget remove you
                      end">
                UNDO
            </span>
    <button type="button" class="dd-button inline-flex w-full justify-center rounded-md border border-gray-300 
                                  {% if slot.n_options == 0 %} bg-gray-400 opacity-90 {% else %} bg-white {% endif %}
                                  px-4 py-1 my-1 text-sm font-medium text-gray-700 shadow-sm hover:ring-2
                                  w-[12.5rem]
                                  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 
                                  focus:ring-offset-gray-100" 
            aria-expanded="true" aria-haspopup="true"
            {% if slot.n_options == 0 %} disabled {% endif %}
            onclick="showDropdownOptions(event)"
            data-slot="{{slot}}"
            data-n="{{slot.n_options}}"
            _="on click go to previous .dd-button smoothly end 
               on minusOne(slot)
                 if slot == @data-slot set @data-n to @data-n - 1 then put `${[@data-n]} options` into me end">
      {{ slot.n_options }} options
      <!-- Heroicon name: mini/chevron-down -->
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
    <div class="dd-options absolute hidden right-0 z-10 mt-2 w-56 
                origin-top-right rounded-md bg-sky-900 shadow-lg 
                cursor-pointer
                border border-sky-200 drop-shadow drop-shadow-white
                ring-1 ring-black ring-opacity-5 focus:outline-white" 
                role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
          _="on signal send fsignal to .fetcher in me">
      <div class="py-1" role="none">
        {% for empl in slot.fills_with %}
            <div data-workday="{{slot.workday}}"
                 data-slot="{{slot}}"
                 data-employee="{{empl}}"
                  _="on click 
                      fetch /api/employee/{{empl}}/week-hours/{{slot.schedule}}/{{slot.workday}}/
                        then set emphours to result
                        then log emphours
                        then set undobtn to previous .undo-btn
                        if emphours >= 40 
                          call confirm('This will put {{ empl }} into overtime status. Do you want to continue?')
                          if result == true 
                            fetch actions/update/{{slot.workday}}/{{slot.shift}}/{{empl}}/ 
                            with method:'POST' then
                            set response to result
                            then log response
                          else 
                            exit
                            end
                          end
                        if emphours < 40 
                          fetch actions/update/{{slot.workday}}/{{slot.shift}}/{{empl}}/ 
                          with method:'POST' then
                          set response to result 
                          then log response
                          end
                        if emphours == 'None'
                          fetch actions/update/{{slot.workday}}/{{slot.shift}}/{{empl}}/ 
                          with method:'POST' then
                          set response to result 
                          then log response
                          end
                        then make a <td/> 
                        then set newtd to result 
                        then put response into newtd 
                        then put undobtn at end of newtd
                        then set newtd@colspan to 3 
                        then add .h-12 .text-center to newtd
                        then put newtd into closest .swap-tgt 
                        then remove .hidden from .undo-btn in newtd
                        then send recheck to #n-empty 
                        then send removeEmployeeOnDay(empl:@data-employee,wd:@data-workday) to .employee-choice
                        end
                      on removeEmployeeOnDay(empl,wd) 
                        if @data-employee == empl and @data-workday == wd
                          remove me 
                          then send minusOne(slot:@data-slot) to #dd-button
                        end"
                  class="employee-choice text-gray-200 block px-4 py-2 text-sm hover:bg-sky-700" 
                  id="menu-item-0" >

                {% if slot.template_employee == empl %} 
                    <i class="fas fa-star"></i> 
                {% endif %}

                {{ empl }}

                <span class="text-xs opacity-70 italic">
                  <span class="fetcher"
                  _="on fsignal fetch /api/employee/{{empl}}/week-hours/{{slot.schedule}}/{{slot.workday}}/ then
                        if result is not 'None'
                          put result into me 
                        else
                          put 0 into me 
                          end"> ~
                  </span>/ 
                  <span class="fetcher"
                  _="on fsignal fetch /api/employee/{{empl}}/period-hours/{{slot.schedule}}/{{slot.workday}}/ then
                        if result is not 'None'
                          put result into me 
                        else
                          put 0 into me 
                          end"> ~
                  </span>
                  <span> hrs. </span>
                </span>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
  

