<div class="bg-zinc-400 text-zinc-900 text-xs px-2 rounded-full hover:bg-sky-600 cursor-pointer w-fc my-2"
    hx-post="actions/retemplate-all/"
    hx-trigger="click"
    hx-target="#swap-panel"
    hx-indicator="#retemplateIndicator">
    Retemplate All 
</div>

<span id="retemplateIndicator" class="htmx-indicator fa-duotone fa-spinner animate-spin"></span>

<table>
    <tr>
        <th>Day</th>
        <th>Employee</th>
        <th>Actions</th>
        <th>Template</th>
    </tr>
    {% for slot in data %}
    <tr>
        <td>
            <a class="bg-transparent" 
               href="wd/{{ slot.workday }}">{{ slot.workday }} {{ slot.shift }}</a>
        </td>
        <td>
            <div class="current-empl py-1 pl-2 rounded-sm bg-zinc-300 text-zinc-900">{{ slot.employee }}</div>
        </td>
        <td> 
            <span class="swap-btn" 
                 hx-post="actions/override-slot/{{ slot.workday }}/{{ slot.shift }}/{{ slot.template_employee }}/"
                 hx-trigger="click" 
                 hx-swap="innerHTML"
                 data-tmplt="{{ slot.template_employee}}"
                 _="on click hide the next .bell-btn
                    then put @data-tmplt into previous .current-empl 
                    then add .bg-emerald-200 to previous .current-empl">
                <i class="fa-light fa-arrow-turn-down-left hover:fa-solid hover:text-emerald-300" 
                    title="Swap In Templated Employee ({{ slot.template_employee }})"></i>
            </span>
            <span class="bell-btn"
                hx-get="/api/slot/{{ slot.slug }}/actions/ignore-mistemplate/"
                _="on click hide the previous .swap-btn
                   then add .bg-amber-300 to previous .current-empl 
                   then put '' into next <td/>">
                <i class="fa-solid fa-bell-slash hover:text-orange-300" 
                   title="Ignore Mistemplated Flag"></i>
            </span>
        </td>
        <td>{{ slot.template_employee }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    
</script>