{% load tags %}
<h1 class="text-2xl">PTO Management</h1>

<div class="bg-slate-300 text-slate-800 font-bold rounded border border-white h-7 w-[32em] px-3">
    Total PTO Requests: {{ pto.count }}
</div>

{% if ptoconflicts %}
    <div class="border rounded border-sky-200 p-3 m-4">
        <h3 class="text-lg">{{ ptoconflicts.count }} PTO Conflicts </h3>

        <table id="conflict-table">
            <tr>
                <th>Employee</th>
                <th>Workday</th>
                <th>
                    Actions
                    <div class="bg-gray-600 rounded-full hover:bg-green-700 text-2xs px-2 cursor-pointer"
                        hx-post="actions/clear-all-pto-conflicts/"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        hx-target="#conflict-table">EMPTY ALL</div>
                </th>
            </tr>
            {% for slot in ptoconflicts %}
                <tr>
                    <td class="empl-cell">
                        <i class="fa-duotone fa-triangle-exclamation"></i>
                        {{ slot.employee }}
                    </td>
                    <td><a href="{{ slot.workday.slug }}">{{ slot.workday }}</a></td>
                    <td id="actions-{{ slot.slug }}">
                        <span hx-post="actions/clear-slot/{{ slot.workday_slug }}/{{ slot.shift.name }}/"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            hx-target="#actions-{{ slot.slug }}"
                        _="on click 
                                add .line-through to previous .empl-cell">
                        <i class="mx-1 fa-duotone fa-island-tropical text-xl hover:text-emerald-400"
                            title="Grant PTO and Resolve"></i>
                        </span>
                        <i class="mx-1 fa-duotone fa-hospital text-xl hover:text-rose-600"
                        title="Deny PTO and Schedule Slot" ></i>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}

<div class="border rounded border-1 p-3 m-4">

    <h3 class="text-lg">Manage Requests by Employee</h3>
    
    <div class="flex flex-row flex-wrap">
        {% for employee in schedule.employees.all %}
            <span class="empl-selector static bg-zinc-800 rounded p-1 hover:bg-orange-900 m-1"
                hx-get="{% url 'schd:pto-grid' schedule.slug employee.slug %}" 
                hx-trigger="click"
                hx-target="#emp-pto"
                _="on click 
                        remove .bg-orange-800 from .empl-selector then 
                        add .bg-orange-800 to me">
                {{ employee }}
                <span class="pto-count rounded bg-gray-200 text-black"
                    data-count="{% ptoCount employee schedule %}"></span>
            </span>
        {% endfor %}
    </div>
    <div id="emp-pto"></div>

</div>




<script>
    // if .pto-count innerHTML is > 0, add .bg-orange-800 .text-white to .empl-selector
    document.querySelectorAll('.pto-count').forEach(function(el) {
        if (el.dataset.count != "0") {
            el.innerHTML = el.dataset.count;
            el.classList.add('bg-yellow-800', 'text-white', 'text-2xs', 'p-1', 'h-5', 'w-5', 'text-center','right-0','top-0','m-1');
        }
    });
</script>