
<h2 class="text-xl text-sky-200 font-bold">Schedule Log</h2>

{% for log in schedule.routine_log.events.all %}

    <div class="bg-zinc-300 text-black font-thin jbm">
        {{ log.event_type }} 
    </div>

    <div class="text-zinc-300 jbm text-xs flex flex-row overflow-x-scroll">
        {% for k,v in log.data.items %}
            <div class="flex flex-col border rounded-sm border-sky-200 m-1 px-2">
                <div class="font-bold">{{ k }}</div>
                <div>{{ v }}</div>
            </div>
        {% endfor %}
        {% if log.created_at  %}
                <p class="italic text-2xs text-sky-300 pt-3">{{ log.created_at|timesince }} ago</p>
        {% endif %}
    </div>

{% endfor %}

