// TURNAROUNDS TABLE TEMPLATE 

h3.text-xl Turnarounds 

table.table.table-hover
  thead
    tr
      th Employee 
      th Slot
  tbody
    each turnaround in turnarounds
      tr.bg-zinc-800.tr-hover
        td= turnaround.employee
        td
          a(href=turnaround.workday.url())= turnaround
        
        