<table>

    <tr>    
        <th>Workday</th>
        <th>Shift</th>
        <th>Employee</th>
        <th>Actions</th>
    </tr>

    {% for slot in data %}
    <tr>
        <td>{{ slot.workday }}</td>
        <td>{{ slot.shift }}</td>
        <td>{{ slot.employee }}</td>
        <td>
            <div  hx-post="actions/clear-slot/{{slot.workday}}/{{slot.shift}}/"
                  hx-trigger="click"
                  hx-swap="innerHTML">
                <i class="clear-icon fas text-zinc-300 rounded-full p-1 fa-trash"></i>
                <i id="{{slot.workday}}-{{slot.shift}}-indicaator" class="fa-spinner fas fa-fade fa-spin htmx-indicator"></i>
            </div>
        </td>
    </tr>
    {% endfor %}

</table>

<script>
    // if a td in table is in the workday column (3nd column) of a <tr> then wrap with a <a> tag
    var table = document.getElementsByTagName('table')[0];
    var rows = table.getElementsByTagName('tr');
    var version = document.getElementById('scheduleVersionId').innerHTML.trim();
    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName('td');
        for (var j = 0; j < cells.length; j++) {
            if (j == 0) {
                var a = document.createElement('a');
                a.href = '/wday/' + cells[j].innerHTML + version + '/';
                a.innerHTML = cells[j].innerHTML;
                cells[j].innerHTML = '';
                cells[j].appendChild(a);
            }
        }
    }
</script>