{% load tags %}
{% load wtags %}


<div id="{{ employee.pk }}" 
    class="employee employee-chip cursor-move
            relative w-24 h-14 
            backdrop-blur bg-white/20 border border-gray-200 rounded-lg
            {% if desig == 'PTO' %}   opacity-60   {% endif %}
            {% if desig == 'TDO' %}   opacity-80   {% endif %}
            {% getAllowedFills employee workday %}"
    draggable="true" 
    available="{% for s in employee.shifts_available.all %}{% if s != slot.shift %} {{ s }} {% endif %}{% endfor %}"
    data-trained="{% for s in employee.shifts_trained.all %} {{ s }} {% endfor %}"
    turnarounds="{% for s in employee.turnarounds %}{{ s }} {% endfor %}"
    week-hours="{% weekHours employee workday %}"
    period-hours="{% periodHours employee workday %}"
    slotted-as="{{ slot.shift }}"
    _="init if @week-hours >= 40 add .bg-red-500 to .clock in me end
       init if @period-hours >= 80 add .bg-red-500 to .clock in me end
       on dragstart if @slotted-as != `` remove .hidden from .trashbin end 
       on dragstart set $emp to @id then set $empCard to me end
       on dragstart set $allow to @available.split(' ') then put $allow into <div#dragged-allowed /> end
       on dragstart send hlAllowed to .slot end
       on dragstart add .dragging end
       on dragstart call event.dataTransfer.setData('text/plain', target.outerHTML) end 
       on dragstart set $empCard to me end
       on dragend remove .ring-green-500 from .slot then remove .dragging from me end
       on dragend put `` into <div#dragged-employee-name /> then
                  put `` into <div#dragged-employee-shift /> then 
                  put `` into <div#dragged-allowed /> end
       on dragend set $allow to `` end
       on dragend send hideHl to .slot end
       on dragend add .hidden to .trashbin end">
    <span id="{{employee.pk}}-ind-prev-am"
        class="hidden bg-yellow-400 text-xs font-medium text-amber-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute -translate-y-1/2 -translate-x-1/2 right-auto top-0 left-0">
        <i id="Prev-AM-Arrow" 
            class="fa-duotone fa-arrow-circle-left text-black"></i>
    </span>
    <span id="{{employee.pk}}-ind-next-am"
        class="hidden bg-yellow-400 text-xs font-medium text-amber-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute -translate-y-1/2 translate-x-1/2 left-auto top-0 right-0">
        <i class="fa-duotone fa-arrow-circle-right text-black"></i>
    </span>
    <span class="bg-slate-200 clock text-2xs font-light scale-[0.9] text-zinc-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute translate-y-1/2 translate-x-1/2 bottom-0 right-1/2">
        <i class="fas fa-stopwatch text-black"></i>
        <br/>
        {% weekHours employee workday %}/
        {% periodHours employee workday %}
    </span>
    <span 
        class="text-3xl font-thin italic opacity-40 text-zinc-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute -translate-y-1/2 -translate-x-1/2 top-1/4 left-1/2 z-20
               {% if desig == 'PTO' %} text-rose-900 bg-amber-400 p-1 rounded shadow {% endif %}
               {% if desig == 'TDO' %} text-yellow-800 bg-rose-200 p-1 rounded shadow {% endif %}">
        {{ desig }}
    </span>
    <span class="text-sm font-bold text-zinc-800 center text-center p-0.5
               px-2 absolute -translate-y-3/4 -translate-x-1/2 top-2/4 left-1/2 truncate">
        <img src="{{employee.image_url}}" alt="{{employee}}" draggable=false class="w-10 h-10 rounded-full mx-auto border-2 border-white shadow">
        {{ employee.slug }}
        
    </span>
    <span id="{{employee.pk}}-ind-prev-pm"
        class="hidden bg-blue-200 text-xs font-medium text-blue-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute translate-y-1/2 -translate-x-1/2 right-auto bottom-0 left-0">
        <i class="fa-duotone fa-arrow-circle-left text-black"></i>
    </span>
    <span id="{{employee.pk}}-ind-next-pm"
        class="hidden bg-blue-200 text-xs font-medium text-blue-800 text-center p-0.5 leading-none rounded-full 
               px-2 absolute translate-y-1/2 translate-x-1/2 left-auto bottom-0 right-0">
        <i class="fa-duotone fa-arrow-circle-right text-black"></i>
    </span>
</div>

