{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ workday.date }}</h1>
    <p>{{ workday.wkd }}</p>

    <h2>Slots</h2>

    {% for slot in workday.slots.all %}

        <div class="bg-zinc-900 px-5 py-2 rounded-lg shadow">
            <span _="on load 
                set avbl to [{{slot.employee.shiftsAvailable}}] as Array
                set trnd to [{{slot.employee.shiftsTrained }}] as Array
                set slottedAs to `{{slot.shift.name}}` as String end
                    on click
                call console.log(slottedAs)">{{ slot.employee }}>
            {{ slot.employee }}
            </span>
        </div>
    
    {% endfor %}

    <script type="text/hyperscript" src="{% static 'drag-race._hs' %}"></script>
        
    {% endblock %}

