{% load tags %}
{% load wtags %}

<div
    data-popover
    id="{{ slot.slug }}--tooltip"
    role="tooltip"
    class="popover absolute z-10 transition-opacity transition invisible 
          inline-block w-64 text-sm font-light opacity-0 text-gray-400 
          bg-gray-800 border-gray-600 rounded-lg"
  >
    <div class="p-3">
      <div class="flex items-center justify-between mb-2">
        <a href="{{ slot.employee.url }}">
          <img
            class="w-10 h-10 rounded-full"
            src="{{ slot.employee.image_url | default:'/static/img/IsometricDrugVial_01.png' }}"
            alt="{{ slot.employee.name }}"
          />
        </a>

        <div>
          {% if slot.employee %}
          <a
            href="{% url 'wday:slot-delete'   slot.workday.slug   slot.shift.pk %}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 
            focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 
            dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none 
            dark:focus:ring-red-800"
          >
            CLEAR
          </a>
          {% endif %}
        </div>
      </div>
      <p
        class="text-base font-semibold leading-none text-gray-900 dark:text-white"
      >
        <a href="#">{{ slot.employee }}</a>
      </p>
      <p class="text-xs leading-none text-gray-700">
        {% if slot.employee %} 
            {% weekHours slot.employee slot.workday %}/ 
            {% periodHours slot.employee slot.workday %} hrs. 
        {% endif %}
      </p>
      <p class="mt-4 text-sm font-light">Fillable with these employees:</p>
      <ul class="flex flex-col text-xs font-light">
        {% for can_fill_emp in slot.fills_with.all %}
        <li class="mr-2">

          <a href="{% url 'wday:slot-update' slot.workday.slug  slot.shift.name  can_fill_emp.slug %}"
              class="hover:underline"
              value="{{ can_fill_emp }}"
              >
            <span class="font-semibold text-gray-900 dark:text-white">
              {{ can_fill_emp }}
            </span>
            <span class="text-xs italic">
              ({% weekHours can_fill_emp slot.workday %}/ 
              {% periodHours can_fill_emp slot.workday %} hrs.)
            </span>
          </a>

        </li>
        {% endfor %}
      </ul>
    </div>
    <div data-popper-arrow></div>
  </div>