
{% extends 'base.html' %}



{% block content %}

        <a href="{{ week.url }}">Main View</a>

        <section class="text text-center">

            

            <h1 class="text-3xl">{{week.slug}} WEEKLY SHIFT ASSIGNMENTS POTENTIAL ASSIGNMENTS</h1>

            
            {% for day  in  week.workdays.all %}
                    
                <div class="panel">
                <a href="{{ day.url }}" class="capitalize italic text-sm text-slate-300">{{day.date}}</a>

                <div class="grid grid-cols-4">

                {% for slot in day.slots.all %}
                <div class="hstack w-fc m-2">
                    <div class="badge">{{ slot.shift }}</div>
                    <div class="border-gray-200 rounded">{{ slot.employee }}</div>

                    <div class="grid-row-3 grid">
                    {% for possibleEmployee in slot.fillable_by %}
                        <div class="bg-gray-700 text-bg-slate-300 text-2xs upper">{{ possibleEmployee }} </div>
                    {% endfor %}
                    </div>

                </div>
                {% endfor %}

                </div>

            </div>

            {% endfor %}
                
        </section>


    
{% endblock content %}
    