{% extends 'base.html' %}
{% load tags %}



{% block style %}

    <style>
        .mytooltip {
            position: absolute;
            display: none;
            border-bottom: 1px dotted black;
            font-family: 'JetBrains Mono', sans-serif;
            letter-spacing: 0.1em;
            z-index: 1;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin-top: 0px;
            background-color: #f1f5f9;
            color: #1f2937;
            border-radius: 0.25em;
        }
        .mytooltip:hover {
            display: block;
        }

    </style>
    
{% endblock style %}
    



{% block content %}


    <a href="{{week.schedule.url}}" class="hstack">
        <div> {% backArrow %} </div>
        <div> Schedule {{ week.schedule.number }}</div>
    </a>
    
    <!-- NAV ARROWS & TITLE --->
    <div class="flex flex-row gap-4">

        <a href="{% url 'sch:prev-week' week.pk %}">
            <i class="fas">{% backArrow %}</i></a>

        <h1 class="text-2xl text-amber-300">{{ week }}</h1>

        <a href="{% url 'sch:next-week' week.pk %}">
            <i class="fas">{% forwardArrow %}</i></a>

    </div>
    

    <a href="{% url 'sch:week-fillable-by' week.pk %}"
        class="italic text-2xs 
               text-indigo-100 text-light 
               hover:text-indigo-300 underline">
            Go to week's Fillable By View
    </a>


    {% if week.slots.empty.count > 0 %}
        <div class="flex grow flex-grow mx-12 bg-red-300 
                    py-4 mt-2 mb-12 text-red-800 font-light 
                    text-xs px-7 rounded border border-red-700"

            _="on mouseover toggle .bg-red-400 .text-white .animate-pulse .rounded
                    on <tr.empty-slot/> 
                    until mouseleave end
               on mouseover toggle .text-white .font-bold 
                    on <td.empty-slot/> 
                    until mouseleave end"
            >
            <i class="fas">{% warnIcon %}</i>
            {{ week.slots.empty.count }} empty slots
        </div>
    {% endif %}
    
    <div class="overflow-auto">
    <div class="flex flex-row my-2">
    
    {% for workday in workdays %}
    <div class="hover:ring hover:ring-yellow-200 hover:bg-slate-700  transition ">
    <a href="{% url 'wday:detail' workday.slug %}">
        <div class="panel">
            <div 
            class= "text-2xs text-bold text-amber-300">
            {{ workday.weekday }}</div>

            <h3 
            class="text-lg"> 
            {{ workday.date }} Schedule</h3>

                <table class='x-overflow-scroll'>
                    {% for slot in workday.slots.all %}
                        <tr class="{% if slot.employee == None %} empty-slot {% endif %}">
                            <td class="text-indigo-300 px-2 transition
                                    {% if slot.employee %} {% else %} 
                                            empty-slot 
                                    {% endif %}">  
                                    {{ slot.shift.name }} 
                            </td>
                            <td class="{{slot.employee.slug}}-slot"> 
                                {% if slot.employee %} {{ slot.employee }}
                                {% else %} -- {% endif %} 
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="text-2xs badge px-5">{{ workday.percent }}% Filled</div>
        </div>
    </a>
        <div class="text-sm mx-4">
            {% for ptor in workday.pto %} 
                {% if pto.stands_respected %}
                    <span class="text-sky-500"
                        _="on mouseenter toggle .hidden  on the next .tooltips until mouseleave 
                            end ">
                     ◉ 
                    </span>
                {% else %} 
                    <span class="text-rose-500"
                    _="on mouseenter
                            toggle .hidden 
                            on the next .tooltips
                        until mouseleave 
                        end "> ◉ </span>
            {% endif %}
                <div class="tooltips hidden -translate-y-4">{{ptor.employee}}</div>
            {% endfor %}
        </div>
    </div>    
    {% endfor %}
    
     </div>
    </div>
    <div>

        <div class="hstack bg-slate-800">
            <form action="{% url 'sch:v2-week-fill-templates' week.pk %}"
                  method="POST"> {% csrf_token %}
            <button type="submit"
                class="bg-sky-100 text-sky-800 hover:bg-sky-200 p-2 m-2 rounded">
                 FILL TEMPLATES
            </button>
            </form>
            
            <form method="POST" 
                hx-post="{% url 'sch:v2-week-clear-slots' week.pk %}"
                hx-confirm="Verify {{week.slots.all.count}} slots will be cleared out."> 
                {% csrf_token %}
                <button type="submit"
                
                class="bg-red-100 text-red-800 hover:bg-red-200 p-2 m-2 rounded" >
                    <span id="spinner" class="hidden animate animate-spin">{% include 'sch/comp/spinners/spinner-1.svg' %}</span> CLEAR SLOTS (WITHIN WEEK)
                </button>
            </form>
        </div>

    {% regroup slots by employee as slotCount %}

    {% for empl in slotCount %}

        <p> 
        {{ empl.grouper }} 
            <span class="bg-gray-200 text-gray-800 text-xs rounded-sm px-3 m-1"> 
                {% sumSlotHours empl.list %} hrs.
            </span> 
        </p> 

       
        {% for slot in empl.list %}
            <a 
                draggable=true 
                ondragstart="dragStartSlot(event);" ondragend="dragEndSlot(event);"
                data-slot="{{slot.employee.slug}}"
                href="{{ slot.url }}">

                {% if slot.shouldBeTdo %}
                    <span 
                        class='slot bg-amber-600 ring border-2 border-amber-100 ring-offset-3 ring-amber-300  px-2 rounded-lg'> 
                {% elif slot.shouldBePto %}
                    <span 
                        class='slot bg-red-600 ring border-2 border-red-100 ring-offset-3 ring-red-300  px-2 rounded-lg'> 
                {% else %}
                    <span 
                        class='slot bg-blue-600 px-2 rounded-lg'>
                {% endif %}
                        <span class='text-white italic text-xs'>
                            {{ slot.workday.date.month }}/{{ slot.workday.date.day }}
                        </span>
                        <span class="text-xs text-indigo-200">
                            {{ slot.shift }} 
                        </span>
                    </span>
            </a>  
                

        {% endfor slot %}     

      
    {% endfor empl %}
    
    </div>

   
        

    {% include 'sch2/week/wk-needed-hours.html' %}


<script type="text/hyperscript">

    def pingEmptySlots ()
        toggle .scale-125 .text-md 
                .font-bold .m-1 
                .animate-pulse .bg-red-100 
                .text-red-700 
        end

</script>


    <script>
        function dragStartSlot(event) {
            event.dataTransfer.setData("slotId", event.target.dataset.slotFor);
            var trashcan = document.createElement("div");
            trashcan.outerHTML = `<div class="trashbin text-center bg-red-700 rounded-lg border border-red-800 ring ring-red-300 w-20 h-8" ondragover="event.preventDefault();"ondragenter="dragEnterTrash(event);"ondragleave="dragLeaveTrash(event);"ondrop="dropInTrash(event);"ondragend="backdropDragEnd(event);"data-trashbin-for="{{ slot.employee.slug }}"><i class="fa-duotone fa-trash-can text-2xl"></i><div class="text-2xs italic fa-beat fa-fade"> Drop here to remove...</div></div>` ;
            trashcan.classList.add("trashcan");
            event.target.parentNode.appendChild(trashcan);
            console.log(trashcan);
        }
        
        function dragEndSlot(event) {
            var trashcan = event.target.parentNode.querySelector(".trashcan");
            if (event.relatedTarget == trashcan) {
                // Delete the slot from the data source
            }
            trashcan.remove();
        }
    </script>



    
{% endblock content %}