{% extends 'base.html' %}
{% load tags %}



{% block style %}

    <style>
        .tooltip {
            position: absolute;
            display: inline-block;
            border-bottom: 1px dotted black;
            font-family: 'JetBrains Mono', sans-serif;
            letter-spacing: 0.1em;
            z-index: 1;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin-top: 0px;
            background-color: #f1f5f9;
            color: #1f2937;
            border-radius: 0.25em;
        }

    </style>
    
{% endblock style %}
    



{% block content %}
    <a href="{{week.schedule.url}}" class="hstack">
        <div> {% backArrow %} </div>
        <div> Schedule {{ week.schedule.number }}</div>
    </a>
    

    <div class="flex flex-row gap-4">

        <a href="{% url 'sch:prev-week' week.pk %}">
            <i class="fas">{% backArrow %}</i></a>

        <h1 class="text-2xl text-amber-300">{{ week }}</h1>

        <a href="{% url 'sch:next-week' week.pk %}">
            <i class="fas">{% forwardArrow %}</i></a>

    </div>
    

    <a href="{% url 'sch:week-fillable-by' week.pk %}"
        class="italic text-indigo-100 text-light hover:text-indigo-300 underline">Go to week's Fillable By View</a>


    {% if week.slots.empty.count > 0 %}
        <div class="flex grow flex-grow mx-12 bg-red-300 py-4 mt-2 mb-12 text-red-800 font-light text-xs px-7 rounded border border-red-700"
            _='on mouseenter
                   toggle .scale-125 .text-md .font-bold .m-1 .animate-pulse .bg-red-100 .text-red-700 
                   on <td.emptyslot/>
                until mouseleave
                end'
            >
            <i class="fas">{% warnIcon %}</i>
            {{ week.slots.empty.count }} empty slots
        </div>
    {% endif %}
    
    <div class="overflow-auto">
    <div class="flex flex-row">
    
    {% for workday in workdays %}
    <div class="hover:scale-105 hover:-translate-x-2 hover:transition ">
    <a href="{{workday.url}}">
        <div class="panel">
            <div 
            class= "text-2xs text-bold text-amber-300">
            {{ workday.weekday }}</div>

            <h3 
            class="text-lg"> 
            {{ workday.date }} Schedule</h3>

                <table class='x-overflow-scroll'>
                    {% for slot in workday.slots.all %}
                        <tr>
                            <td class="text-indigo-300 px-2 transition
                                    {% if slot.employee %} {% else %} 
                                            emptyslot 
                                    {% endif %}">  
                                    {{ slot.shift.name }} 
                            </td>
                            <td class="{{slot.employee.slug}}-slot"> 
                                {% if slot.employee %} {{ slot.employee }}
                                {% else %} -- {% endif %} 
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="text-2xs badge px-5">{{ workday.percent }}% Filled</div>
        </div>
    </a>
        <div class="text-sm mx-4">
            {% for ptor in workday.pto %} 
                {% if pto.stands_respected == True %}
                    <span class="text-sky-500"
                        _="on mouseover remove .hidden from the next <div.tooltip/>
                        on mouseleave add .hidden to the next <div.tooltip/> ">◉</span>
                {% else %} 
                    <span class="text-rose-500"
                        _="on mouseover remove .hidden from the next <div.tooltip/>
                        on mouseleave add .hidden to the next <div.tooltip/>">◉</span>
            {% endif %}
                <div class="tooltip hidden">{{ptor.employee}}</div>
            {% endfor %}
        </div>
    </div>    
    {% endfor %}
    
     </div>
    </div>
    <div>

        <div class="hstack bg-slate-800">
            <form action="{% url 'sch:v2-week-fill-templates' week.pk %}"
                  method="POST"> {% csrf_token %}
            <button type="submit"
                class="bg-sky-100 text-sky-800 hover:bg-sky-200 p-2 m-2 rounded">
                 FILL TEMPLATES
            </button>
            </form>
            
            <form action="{% url 'sch:v2-week-clear-slots' week.pk %}"
                  method="POST"> {% csrf_token %}
            <button type="submit"
            hx-confirm="Verify {{week.slots.all.count}} slots will be cleared out."
                class="bg-red-100 text-red-800 hover:bg-red-200 p-2 m-2 rounded" 
                _="on mousedown 
                        remove .hidden from the next <span#spinner/> 
                    end"/>
                    <span id="spinner" class="hidden animate animate-spin">{% include 'sch/comp/spinners/spinner-1.svg' %}</span> CLEAR SLOTS (WITHIN WEEK)
            </button>
            </form>
        </div>

    {% regroup slots by employee as slotCount %}

    {% for empl in slotCount %}

        <p> 
        {{ empl.grouper }} 
            <span class="bg-gray-200 text-gray-800 text-xs rounded-sm px-3 m-1"> 
                {% sumSlotHours empl.list %} hrs.
            </span> 
        </p> 

       
        {% for slot in empl.list %}
        <a href="{{ slot.url }}">
            {% if slot.shouldBeTdo %}
                <span class='bg-amber-600 ring border-2 border-amber-100 ring-offset-3 ring-amber-300  px-2 rounded-lg'> 
            {% else %}
                <span class='bg-blue-600 px-2 rounded-lg'>
            {% endif %}
                <span class='text-white italic text-xs'>
                    {{ slot.workday.date.month }}/{{ slot.workday.date.day }}
                </span>
                <span class="text-xs text-indigo-200">
                    {{ slot.shift }} 
                </span>
            </span>
        </a>
        {% endfor %}     

    {% endfor %}
    
    </div>

   
        

    {% include 'sch2/week/wk-needed-hours.html' %}

    
{% endblock content %}