{% extends 'base.html' %}


{% block content %}

<h1 class="text-3xl">Weeks</h1>


<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-200 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Week 
                </th>
                <th scope="col" class="py-3 px-6">
                    Schedule
                </th>
                <th scope="col" class="py-3 px-6">
                    Filled Slots
                </th>
            </tr>
        </thead>
        <tbody>
        {% for week in weeks %}
            <tr class="{%cycle 'bg-gray-900' 'bg-gray-700'%} border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="{{week.url}}">{{week}}</a>
                </th>
                <td class="py-4 px-6">
                    {{week.schedule}}
                </td>
                <td class="py-4 px-6">
                    {{week.nFilled}} Filled (-{{week.nEmpty}})
                </td>
            </tr>
        {% endfor %}
            
        </tbody>
    </table>
</div>

    
{% endblock content %}
    