<a href="{{ link }}">
<div class="stretch max-w-16 rounded-lg border shadow-md 
            bg-gray-800 border-gray-700 hover:bg-gray-700 hover:ring hover:ring-gray-600">

        <img class="rounded-t-lg" src="{{ img }}" alt="">
    
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
            {{title}}</h5>
      
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{children}}
        </p>
    </div>
</div>
</a>