
<div class="flex items-center justify-center -m-6 overflow-hidden w-fc bg-gray-900 rounded-full">
            <svg class="w-32 h-32 transform translate-x-1 translate-y-1" aria-hidden="true">
              <circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="50" cx="60" cy="60" data-noir-inline-fill="" style="--noir-inline-fill: rgba(232, 230, 227, 0);"></circle>
              <circle class="text-blue-600" stroke-width="10" :stroke-dasharray="circumference" :stroke-dashoffset="circumference - percent / 100 * circumference" stroke-linecap="round" stroke="currentColor" fill="transparent" r="50" cx="60" cy="60" stroke-dasharray="314.1592653589793" stroke-dashoffset="62.83185307179585" data-noir-inline-fill="" style="--noir-inline-fill: rgba(232, 230, 227, 0);"></circle>
            </svg>
            
            <span class="absolute text-2xl text-blue-700" x-text="`${percent}%`">{{progress}}%</span>
</div> 

  
