{% load tags %}



<a href="{% url 'sch:sch-emusr' schedule.slug %}"
class="bg-zinc-900 rounded-lg w-fc p-4 vstack hover:bg-zinc-800 hover:ring-pink-600 hover:ring-3 hover:transition hover:scale-110">

    <div class="text-lg font-light tracking-wider text-indigo-200" title="Expected Morning Shift Unfavorable Requirement">
        <i class="fas">{% sunMoon '20px' '20px' 'cornflowerblue' %}</i>
        EMSUR
    </div>
    <div class="text-2xs jbm text-left">
            {% for emp_emusr in emusr %}
                {{ emp_emusr.name }}: 
                {{ emp_emusr.emusr|floatformat:0 }} shifts<br/>
            {% endfor %}
    </div>
    
</a>