
mixin Icon (clsAsString, color)
    span.inline-flex.justify-center.items-center.rounded-full.border-4(
        class="w-[46px] h-[46px] border-"+color+"-200 bg-"+color+"-400"+" text-"+color+"-700"
        )
            i(class=clsAsString)


block content 
    +Icon("fa-palm-tree", "emerald")
