{% load static %}


<div class="flex items-center space-x-4 cursor-pointer"
    hx-get="/schedule/partials/{{schedule.slug}}/turnarounds/"
    hx-trigger="click"
    hx-target="#swap-panel">
    <div class="flex-shrink-0">
        <div id="nTurnaroundsBadge"
            class="h-7 w-7 pl-[1px] pt-[.5px] rounded-full border border-white  bg-amber-300">
            <i id="sleepIcon" class="fa-regular text-lg scale=[120%] left-[0.3em] text-black top-[1.5em] fa-face-sleeping"></i>
        </div>
    </div>
    <div class="flex-1 min-w-0">
        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
            Turnarounds
        </p>
        <p class="text-2xs font-light italic text-gray-500 truncate dark:text-gray-400">
            Goal: n = 0
        </p>
    </div>
    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
        id="n-turnarounds-check"
        _="on load or recheck fetch /api/schedule/{{schedule.slug}}/n-turnarounds/ 
                put result into #n-turnarounds then set @n to result end
            on mutation of anything 
                if @n == 0 add .bg-green-300 to #nTurnaroundsBadge 
                else if @n >= 3 add .bg-red-300 to #nTurnaroundsBadge
                end">
        <span id="n-turnarounds"></span>
        <span class="opacity-70 text-2xs font-light italic pl-1"> instances</span>
    </div>
</div>
