{% extends 'base.html' %}

{% block style %}

<style>
    html {
        height: 100%;
        background-image: url('https://media.discordapp.net/attachments/1008667809724776479/1017086590662746142/jsteinbecker_progressive_Insignia_vector_designs_for_Pharmacy_T_96caee14-6deb-4b88-9edc-4654d5de159f.png?width=1392&height=1392');
        background-repeat: repeat;
        background-position-x: 50%;
        background-position-y: center;
        background-size: 65%;
        background-blend-mode: luminosity;
    }
</style>
    
{% endblock style %}
    

{% block content %}

<h1>Add Workdays</h1>


    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

    
{% endblock content %}

    