{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}

{% block title %} Schedule: Days (List) {% endblock %}
 
{% block style %}
    <style>
        .image {
            background-image: url("https://media.discordapp.net/attachments/1022445219704225842/1024232577416052796/jsteinbecker_Kyiv_Ukraine_Victory_Cyrillic_d4c1dce9-6ce4-4624-a96b-bea81ea3e854.png?width=1392&height=1392");
            background-repeat: repeat;
            background-size: 25%;
        }
    </style>
{% endblock style %}

{% block content %}
<h1 class="text-center" style="font-size:32px;"> Workdays </h1>
    <section style="vstack" style="align-items:center;">
        <div class='flex flex-row'>
            <div class="flex flex-col">
            <h3>Attention Needed</h3>
            <div class="panel">
                <div class="btn btn-accent" style="width:fit-content;"><a href="/sch/turnarounds/">Turnarounds<div class="badge badge-primary" style="float:right top;">{{n_turnarounds}}</div></a>
                    </div>
                </div>
            </div>
            
            <div class="panel hstack mx-20">
                <div class="green-glow" style="font-size:28px;">{{firstUnfillednDays}}</div>
                <div>
                    <div style="opacity:65%;font-size:12px;letter-spacing:3px;">FIRST UNFILLED SLOT OCCURS IN</div>
                    <div style="font-size:16px;">days</div>
                </div>
            </div>
        </div>
    <div class="hstack" style="align-items: flex-start;">
        

        <div class="vstack">

            <div class="active-tab">
                BY WORKDAY</div>

            <a href="/sch/week/all-weeks/" 
               class="inactive-tab">
               BY WEEK</a>

               
        </div>


        <div class="panel w-fc">

            <div>
                <a href="/sch/days/new/"> 
                   Add Workdays </a>
                </div>

            {% render_table table %}       

        </div>
        
    </div>

    </section>
{% endblock content %}
    
