{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}

{% block title %} Schedule: Days (List) {% endblock %}
 

{% block content %}
    <section style="vstack" style="align-content:center;">


        <h1 style="font-size:32px;"> Workdays </h1>
    <div class="hstack" style="align-items: flex-start;">
        

        <div class="vstack">

            <div class="active-tab">
                BY WORKDAY</div>

            <a href="/sch/week/all-weeks/" 
               class="inactive-tab">
               BY WEEK</a>
        </div>


        <div class="panel w-fc">

            <div>
                <a href="/sch/days/new/"> 
                   Add Workdays </a></div>

            {% render_table table %}       

        </div>
        <div>
            <h3>Attention Needed</h3>
            <div class="panel">
                <div class="red-glow panel" style="width:fit-content;"><a href="/sch/turnarounds/">Turnarounds<div class="badge" style="float:right top;">{{n_turnarounds}}</div></a>
                    </div>
            </div>
            <h3>Summary Data</h3>
            <div class="panel hstack">
                <div class="green-glow" style="font-size:28px;">{{firstUnfillednDays}}</div>
                <div>
                    <div style="opacity:65%;font-size:12px;letter-spacing:3px;">FIRST UNFILLED SLOT OCCURS IN</div>
                    <div style="font-size:16px;">days</div>
                </div>
            </div>
        </div>
    </div>

    </section>
{% endblock content %}
    
