{% extends 'base.html' %}

{% block content %}

<h2>OPTIONS</h2>

<div class="panel">
    <span style="font-family:'JetBrains Mono';color:orange;">EMPTY SLOT</span>
    <span class="small" style="letter-spacing:2px;">
        Remove {{slot.employee}} from the
        slot for {{slot.shift}} on {{slot.workday}}. 
    </span><br>
    <span style="font-family:'JetBrains Mono';color:orange;">DENY PTO REQUEST</span>
    <span class="small" style="letter-spacing:2px;">
        Deny the PTO request for {{slot.employee}} 
        on {{slot.workday.date}}, who will remain in the
        slot for {{slot.shift}}.
    </span>
</div>

<div class="panel">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
</div>

{% endblock %}