{# --- WORKDAY_DETAIL.HTML --- #}
{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% with workday as wd %}

{% block content %}

  <a href="/">HOME</a>

  <section>

      <div>
          {% include 'sch/workday/dayChanger.html' %}  
      </div>
      <div class="hstack">
      <div>
          <table>
            <tr>
              <th>WEEKDAY:<br> {{ wd }}</th>
              <td>{{ wd.weekday }}</td>
            </tr>
            <tr>
              <th>WEEK</th>
              <td> 
                <a href="/sch/week/{{wd.date.year}}/{{wd.iweek}}/"> {{ wd.iweek }} </a>
              </td>
            </tr>
            <tr>
              <th>PAY PERIOD DAY</th>
              <td>{{ wd.ppd_id }}</td>
            </tr>
            <tr>
              <th>PAY PERIOD</th>
              <td>{{ wd.iperiod }}</td>
            </tr>
            <tr>
              <th>SHIFTS</th>
              <td>{% for shift in shifts %} {{ shift }} {% endfor %} </td>
            </tr>
          </table>
      </div>

      <div class="panel">
        <h3>SHIFTS</h3>
        <div class="hstack">
          {% for sft in unfilled %} 
            <a href="slot/{{sft}}/new/"><div class="y-circle f-sb"> 
              {{ sft }} 
            </div></a>
          {% endfor %} 
        </div>
        <a href="fill-template/">Fill Templated Slots</a>
        <div>
          {% render_table table %}
        </div>
        <div style="margin-top: 10px;">
          <span> PTO: </span>
          {% if ptoReqs %}
            {% for req in ptoReqs %} {{ req }} {% endfor %}
          {% else %}
            None
          {% endif %}
        </div>
      </div>
    </div>

  </section>

{% endblock %}
{% endwith %}