{# --- WORKDAY_DETAIL.HTML --- #} 
{% extends 'base.html' %} 

{% load render_table from django_tables2 %} 
{% load tags %} 
{% with workday as wd %} 


{% block content %}

<a href="/sch/week/{{wd.date.year}}/{{wd.iweek}}/">{% backArrow %} WEEK</a>
<section>

  <div class="hstack">
    <div class="vstack" style="align-items:center;">
      <div style="justify-content:center;">
        {% nDaysAway wd.date %}
      </div>
      <div>{% include 'sch/workday/dayChanger.html' %}</div>
      <div>
        <table>
          <tr>
            <th>
              WEEKDAY
            </th>
            <td>{{ wd.weekday }}</td>
          </tr>
          <tr>
            <th>WEEK</th>
            <td>
              <a href="/sch/week/{{wd.date.year}}/{{wd.iweek}}/">
                {{ wd.iweek }}
              </a>
            </td>
          </tr>
          <tr>
            <th>PAY PERIOD DAY</th>
            <td>{{ wd.ppd_id }}</td>
          </tr>
          <tr>
            <th>PAY PERIOD</th>
            <td>{{ wd.iperiod }}</td>
          </tr>
          <tr>
            <th>SHIFTS</th>
            <td>{% for shift in shifts %} {{ shift }} {% endfor %}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel">
      <h3>SHIFTS</h3>

      <div class="hstack">
        {% for sft in unfilled %} <a href="{{sft}}/new/">
          <div class="y-circle f-sb">
            {{ sft }}<sup>{{ sft.n_can_fill }}</sup>
          </div></a>{% endfor %}
      </div>

      <a style="float:right;" href="fill-template/">
        {% fillTemplateIcon %} 
      </a>
      
      {% comment %} <div>{% render_table table %}</div> {% endcomment %}
        {% include 'sch/workday/shiftTable.html' %}
      <div style="margin-top: 10px">
        <span> PTO: </span>
        {% if ptoReqs %} {% for req in ptoReqs %}
           {{ req.employee__name }} 
        {% endfor %} {% endif %}
        {% if badPtoReqs %}<br> Conflicting PTO Requests: {% for req in badPtoReqs %}
            <a href="{{req.name}}/resolve-pto-request/"> 
              <div class="vstack y-square">
                <span style="height:10px;">{{ req.name }}</span><span style="height:10px;font-size:8px;">CLICK TO RESOLVE</span>
              </div>
              
            </a>
         {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %} {% endwith %}
