{% extends "base.html" %}


{% block content %}

<div class="hstack">
    <h2 class="h2">Slot</h2>
    <table class="table">
        <tr>
            <th>Workday</th>
            <td>{{slot.workday}}</td>
        </tr>
        <tr>
            <th>Employee</th>
            <td>{{slot.employee}}</td>
        </tr>
    </table>
</div>

<div class="panel">
    <h3 class="h3">Employee's Surrounding Days</h3>
    <div class="hstack">
        <div class="badge">{{e_prevDay_slot}}</div>
        <div class="h3">{{slot.employee}}</div>
        <div class="badge">{{e_nextDay_slot}}</div>
    </div>
</div>

    
{% endblock content %}
    