{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

<a href="/sch/day/{{date}}/">Cancel</a>

<h1>
    {{date}}
    <span class="emph-2">{{shift}}</span>
</h1>

<table>

    <form method="post"> {% csrf_token %}

        {{ form.as_table }}
        <input type="submit" value="Submit">

    </form>

    {% for slot in slots %}
    <tr>
        <td>{{slot.shift}}</td>
        <td>{{slot.employee}}</td>
    </tr>
    {% endfor %}
    
</table>

    
{% endblock content %}

    