{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

<a href="/sch/day/{{date.slug}}/">Cancel</a>

{{ sst_holder }}

<h1>
    {{date}}
    <span class="emph-2">{{shift}}</span>
</h1>

{{mslot.fillableBy}}

<div class="hstack" style="justify-content:space-around">
    <div class="panel">
    <table>

        <form method="post"> {% csrf_token %}

            {{ form.as_table }}
            <input type="submit" value="Submit">

        </form>

        {% for slot in slots %}
        <tr>
            <td> {{slot.shift}}    </td>
            <td> {{slot.employee}} </td>
        </tr>
        {% endfor %}
        
    </table>
</div>

<div>
    <h2 class="text-xl text-amber-300 bg-amber-800 rounded-full px-4">Suggestion:</h2>
    <table class="table table-compact table-2xs">
        {% for emp in posEmpls %} {% if emp == bestFill %}
            <tr>
                <th><span class="text-yellow-200 text-xs bg-yellow-900 rounded-full pr-1 pl-2">{{ emp }}</span></th>
                <td><div class="vstack" style="gap:0px;">
                    <span>{{emp.weeklyPercent}}x</span>
                    <span class="text-3xs" style="font-size:9px;">STD. WEEKLY HOURS</span>
                </div></td>
                <td>{{emp.weeklyHours}} hrs.</td>
                <td>{{emp.periodHours}} hrs.</td>
            </tr>
        {% else %}
            <tr>
                <th>{{emp}}</th>
                <td><div class="vstack" style="gap:0px;">
                    <span>{{emp.weeklyPercent}}x</span>
                    <span class="text-3xs" style="font-size:9px;">STD. WEEKLY HOURS</span>
                </div></td>
                <td>{{emp.weeklyHours}} hrs</td>
                <td>{{emp.periodHours}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

    <div class="vstack">

        <div class="panel">
            <h3 class="text-xl text-rose-100">Templated Off:</h3>
            
            <p>These employees are templated to not work shifts on this workday-- 
               take special note before scheduling one of them.</p>
            <div class="flex flex-wrap">
            {% for tdo in tdos %}
                <div class="bg-rose-700 text-rose-300 px-2 mx-2 rounded text-xs italic">{{ tdo }}</div>
            {% endfor %}
            </div>
        </div>

        <div class="panel">
            <h3>Need More or Different Options to fill this slot?</h3>
            <h1 class="text-lg">Override Overtime Guardrails</h1>
            <a href="ot-allowed/" class="btn">Approve and View Options</a>
        </div>
    </div>
</div>    
{% endblock content %}

    