{% extends 'base.html' %}
{% load render_table from django_tables2 %}


{% block content %}

<a href="/sch/day/{{date}}/">Cancel</a>

<h1>
    {{date}}
    <span class="emph-2">{{shift}}</span>
</h1>
<div class="hstack" style="justify-content:space-around">
    <div class="panel">
    <table>

        <form method="post"> {% csrf_token %}

            {{ form.as_table }}
            <input type="submit" value="Submit">

        </form>

        {% for slot in slots %}
        <tr>
            <td>{{slot.shift}}</td>
            <td>{{slot.employee}}</td>
        </tr>
        {% endfor %}
        
    </table>
</div>

<table class="table table-compact table-2xs">
    {% for emp in posEmpls %}
        <tr>
            <th>{{emp}}</th>
            <td>{{emp.weeklyHours}} hrs</td>
            <td>{{emp.periodHours}}</td>
        </tr>
    {% endfor %}
</table>


<div class="panel">
    <h3>Need More or Different Options to fill this slot?</h3>
    <h1 class="text-lg">Override Overtime Guardrails</h1>
    <a href="ot-allowed/" class="btn">Approve and View Options</a>
</div>
</div>
    
{% endblock content %}

    