{% extends 'base.html' %}
{% load tags %}


{% block content %}
<div class="center text-center">
    <h1 class="text-4xl">
        Turnarounds
    </h1>
</div>
<div class="hstack" style="justify-content:space-around;align-items:start;">

<img src="https://media.discordapp.net/attachments/1011557410940403822/1023856790724689920/jsteinbecker_Darth_Vader_works_as_an_employee_of_a_drive_thru_P_f82c9c03-ec75-49cf-9acb-3dccf62e2d1a.png?width=1392&height=1392" 
alt="Darth Vader, RPh" style="width:300px;height:300px;border-radius:10px;">

{#---GRID of CARDS repr TURNAROUNDS ---#}
<div class="flex flex-wrap w-200" style="justify-content:space-around;gap:10px;">
    {% for slot in slots %}
        <div>
            {% iconCard  slot.employee  slot.workday.date   slot.workday.url  slot.shift  %}
        </div>
    {% endfor %}
</div>

{#---NO TURNAROUNDS MESSAGE---#}
{% if slots|length == 0 %}
<div class="vstack">
    <p>No Turnarounds are scheduled! </p>
        <a class="btn btn-accent" style="color:orange;font-style:italic;" href="/sch/day/all/">
           <div class="hstack"><div style="color:orange">{% dateIcon '18px' '18px' 'orange' %}</div><div> Back to the calendar.</div></div>
        </a> 
    </div>
{% endif %}

<img src="https://media.discordapp.net/attachments/1005308963539144787/1020903200192204830/jsteinbecker_a_hospital_IV_Making_Robot_d97dd908-4423-4b25-be6f-5712658ef736.png" 
alt="Robot CPhT" style="width:300px;height:300px;border-radius:10px;">
</div>

    
{% endblock content %}
    