{% extends "base_blank.html" %}
{% load tags %}


{% block body %}

<div>

    <a id="back-home" href="/">
        <div class="hstack">
            <div>{% backArrow %} </div>
            <div> HOME </div>
        </div>
    </a>

    {#---SCHEDULE VIEW NAVIGAtION---#}
    <div class="hstack" style="justify-content:space-between;align-items:center;width=90%;">
        <a href="{{prevSch_url}}">
            <div class="bg-indigo-400 text-indigo-800 rounded px-4 w-fc font-bold italic hover:bg-indigo-100 hover:rounded">PREVIOUS SCHEDULE</div>
        </a>

        <div>
            <h1 class="text-3xl h1 bg-indigo-900 px-4 m-2 rounded text-bold">{{schedule}}</h1>
        </div>

        <a href="{{nextSch_url}}">
            <div class="bg-indigo-400 text-indigo-800 rounded px-4 w-fc font-bold italic hover:bg-indigo-100 hover:rounded">NEXT SCHEDULE</div>
        </a>
    </div>

    {#---TOOLBAR---#}
    <div class="panel" id="toolbar">

        <div class="hstack" style="justify-content:space-between;width=90%;align-items:center;">
        <a class ="btn" hx-get="delete-all-slots/" hx-confirm="Please verify: You will delete all {{ tot }} shift assignments for the current schedule for pharmacists and technicians. ">
            Delete All Slots
        </a>
        <div class="spinner"></div>

        

        <button class="btn btn-lg hover:bg-yellow-700" 
            hx-confirm="By confirming, the algorithm will take control of the 696 slots in this Schedule and attempt solutions, which will involve manipulating & deleting existing data."
            href="/sch/v2/schedule-solving/{{schedule.pk}}/"
         {% comment %}
            _="on click 
                    alert ('By confirming, the algorithm will take control of the 696 slots in this Schedule and attempt solutions, which will involve manipulating & deleting existing data')
               then go to /sch/v2/schedule-solving/{{schedule.pk}}/ "
         {% endcomment %}
               >
            <div class="vstack">
                <span class="font-extrabold">SOLVE</span>
                <span class="font-light text-xs italic"> Start Solution</span> 
            </div>
        </button>

        <div 
            hx-get="generate-random-pto/" 
            hx-trigger="click">
            <button  
                type="button"
                id="randomPTOButton"
                class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 dark:hover:text-white dark:hover:bg-yellow-900 inline-flex items-center"
                > 
                <div class="hstack">
                    <div> {% plusIcon %}      </div>
                    <div> Random PTO Requests </div>
                </div> 
            </button>
        </div>
        
        <a  id="DeletePtoConfl"
            class="py-3 px-2 mr-2 text-xs font-light text-gray-400 bg-gray-900 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-purple-700 focus:z-10 focus:ring-2 focus:ring-purple-700 focus:text-purple-700 dark:bg-gray-800 dark:text-indigo-300 dark:border-indigo-600 dark:hover:text-white dark:hover:bg-indigo-900  dark:hover:text-boldinline-flex items-center"
            href="del-pto-conflict-slots/">

        Clear Out PTO Conflicting Assignments
        
        </a>
        
        <div class="float-right">
            {% figCard 'Empty Slots' nEmpty "SLOTS" percComplete tot  %}
        </div>

    </div>
    </div>
    {#---ALERTS---#}
    <div id="messages-container">
        {% if messages %}{% for msg in messages %}
            {{message}}
        {% endfor %}{% endif %}
    </div>

    {#--- TOAST ALERT ---#}
    {% #toast-wrapper %}
        <div class="m-2">
            {% #toast  title="ALERT" %} 
                <p class="text-2xs jbm">
                    THIS SCHEDULE LOOKS LIKE IT COULD BE IMPROVED.<br>
                    Want the SolveBot to take a look?
                </p>
            {% /toast %}
        </div>
    {% /toast-wrapper %}

    <div class="overflow-x-auto">
        
    {#---MAIN APP TABLE---#}
    <table class="table table-compact table-xs w-full" style="width:100%;">
        <thead>
            <tr>
                <th>EMPLOYEES</th>
                {% for day in days %}
                    <th><span style="font-family:Raleway;opacity:50%;font-weight:100;">
                        <a href="/sch/day/{{day.slug}}/">{{day.date.month}}/{{day.date.day}}</a> </span>
                    <div style="font-family:Raleway;font-weight:700;opacity:85%;">{{day.weekday.0}}</div></th>
                {% endfor %}
            </tr>
        </thead>

    {% for empl in employees %}
    <tr>
        <th>
            <a href="/sch/employee/{{ empl }}/generate-schedule/{{ day0.slug }}/{{ dayN.slug }}/"> {{ empl }} </a>
        </th>
        {% for day in empl.schedule %}
            
            {% if day.1 == None %} 
                {% if day.3 == None %}
                    <td style="opacity:30%;">
                        *
                    </td> 
                {% else %}
                    <td style="background-color:#5d85d059;color:#ffffffa0;text-shadow:1px 1px 1px black;font-size:9px;">
                        PTO
                    </td>
                {% endif %}
            {%else%}
                {% if day.0 in weekendlist %} 
                    <td style="background-color:#e3727233;">
                        <span> {{day.1}} <sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}
                    </td>
                {% elif day.3 != None %}
                    <td style="background-color:#d43b3b;">
                        <span>{{day.1}}<sub style="font-size:9px;opacity:50%;color:white;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}
                    </td>
                {% else %}
                    <td><span>{{day.1}}<sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span> 
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}</td>
                {% endif %}
            {%endif%}
        {% endfor %}
    </tr>

    {% endfor %}
    <tr>
        <th>Unfilled Shifts</th>
        {% for dy in unfilled  %}
            <td>{% for uf in dy %} <span class="border m-1 border-gray-400 rounded m1"> {{uf.shift.name}}</span><br><br><br> {% endfor %}</td> 
        {% endfor %}   
    </tr>
    </table>
    </div>

<div class="panel">

    <div>
        {{tdoEmpties|length}}  {{tdoEmpties}}
    </div>

    <div class="hstack wrap">
    {% for uf,count in unfavorables.items %}
        <div class="vstack">
            <div> {{uf}} </div>
            <div> {{count}} </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="flex flex-wrap">
    <div class="bg-blue-900 rounded border-blue-800 border-2 m-3">
        CONFLICTED SLOTS: {{ conflicted.count }}
    </div>
</div>

</div>
{% endblock body %}

    
    