{% extends "base_blank.html" %}
{% load tags %}


{% block body %}

<div id="content" hx-get="#" hx-trigger="load delay:2s" hx-target="#content"  hx-swap="innerHTML">
    <a id="back-home" href="/">{% backArrow %} HOME</a>
    {#---TOOLBAR---#}
    <div class="panel" id="toolbar">

        <div class="avatar indicator">
            <span class="indicator-item badge badge-secondary">typing…</span> 
            <div class="w-20 h-20 rounded-lg">
              <img src="https://placeimg.com/160/160/people" />
            </div>
          </div>

        <div class="hstack">
        <a class ="btn" hx-get="delete-all-slots/" hx-confirm="Please verify: You will delete all {{ tot }} shift assignments for the current schedule for pharmacists and technicians. ">
            Delete All Slots
        </a>
        <div class="spinner"></div>

        <a hx-get="/sch/htmx/spinner" hx-trigger="click once" hx-target="solveIndicator" hx-swap="'innerHTML"></a>
        <button 
            href="solve/" 
            type="button" 
            id="htmxTargetButton"
            class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 
            hover:bg-gray-100 hover:text-blue-700 
            focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 
            dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 
            dark:hover:text-white dark:hover:bg-yellow-600 
            inline-flex items-center"
            hx-get="solve/"
            hx-trigger="click delay:500ms"
            hx-target="#content #solveIndicator"
            src="/sch/schedule/load_button.html">
            <div id="solveIndicator"></div>
        Solve
        </button>
        <a hx-get="generate-random-pto/" hx-trigger="click delay:1000ms">
        <button  
            type="button"
            id="randomPTOButton"
            class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 
            hover:bg-gray-100 hover:text-blue-700 
            focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 
            dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 
            dark:hover:text-white dark:hover:bg-yellow-900 
            inline-flex items-center"
            hx-get="/sch/spinner/"
            hx-trigger="click"
            hx-target="#indicator"]>
        + Random PTO Requests <div id="indicator">{% include 'sch/test/spinner.html' %}</div>
        </button>
        </a>
        <a  id="DeletePtoConfl"
            class="py-3 px-2 mr-2 text-xs font-light text-gray-400 bg-gray-900 rounded-lg border border-gray-200 
            hover:bg-gray-100 hover:text-purple-700 
            focus:z-10 focus:ring-2 focus:ring-purple-700 focus:text-purple-700 
            dark:bg-gray-800 dark:text-indigo-300 dark:border-indigo-600 
            dark:hover:text-white dark:hover:bg-indigo-900  dark:hover:text-bold
            inline-flex items-center"
            href="del-pto-conflict-slots/">
        Clear Out PTO Conflicting Assignments
        </a>
        
        <div class="float-right">
            {% figCard 'Empty Slots' nEmpty "SLOTS" percComplete tot  %}
        </div>

    </div>
    </div>
    {#---ALERTS---#}
    <div id="messages-container">
        {% if messages %}{% for msg in messages %}
            {{message}}
        {% endfor %}{% endif %}
    </div>

    <div class="overflow-x-auto">
        
    {#---MAIN APP TABLE---#}
    <table class="table table-compact table-xs w-full" style="width:100%;">
        <thead>
            <tr>
                <th>EMPLOYEES</th>
                {% for day in days %}
                    <th><span style="font-family:Raleway;opacity:50%;font-weight:100;">
                        <a href="/sch/day/{{day.slug}}/">{{day.date.month}}/{{day.date.day}}</a> </span>
                    <div style="font-family:Raleway;font-weight:700;opacity:85%;">{{day.weekday.0}}</div></th>
                {% endfor %}
            </tr>
        </thead>
    {% for empl in employees %}
    <tr>
        <th><a href="/sch/employee/{{empl}}/">{{empl}}</a></th>
        {% for day in empl.schedule %}
            
            {% if day.1 == None %} 
                {% if day.3 == None %}
                    <td style="opacity:30%;">
                        *
                    </td> 
                {% else %}
                    <td style="background-color:#5d85d059;color:#ffffffa0;text-shadow:1px 1px 1px black;font-size:9px;">
                        PTO
                    </td>
                {% endif %}
            {%else%}
                {% if day.0 in weekendlist %} 
                    <td style="background-color:#e3727233;">
                        <span>{{day.1}}<sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}
                    </td>
                {% elif day.3 != None %}
                    <td style="background-color:#d43b3b;">
                        <span>{{day.1}}<sub style="font-size:9px;opacity:50%;color:white;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}
                    </td>
                {% else %}
                    <td><span>{{day.1}}<sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span> 
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}</td>
                {% endif %}
            {%endif%}
        {% endfor %}
    </tr>

    {% endfor %}
    </table>
    </div>

<div class="panel">
    <div class="hstack wrap">
    {% for uf,count in unfavorables.items %}
        <div class="vstack">
            <div> {{uf}} </div>
            <div> {{count}} </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="flex flex-wrap">
    {% for c in conflicted %} {{c}} {% endfor %}
</div>

</div>
{% endblock body %}

    
    