{% extends "base_blank.html" %}
{% load tags %}


{% block body %}

<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>

<p id="first">Hello</p>
<p id="second">World</p>
<button class="btn primary" _="on click set my.innerText to #first.innerText + ' ' + #second.innerText">
Concat
</button>


<div>

    <a id="back-home" href="/">
        <div class="hstack">
            <div>{% backArrow %} </div>
            <div> HOME </div>
        </div>
    </a>

    {#---SCHEDULE VIEW NAVIGAtION---#}
    <div class="hstack center-content space-around">
        <a href="{{ schedule.url__previous }}">
            <div class="bg-indigo-400 text-indigo-800 rounded px-4 w-fc font-bold italic hover:bg-indigo-100 hover:rounded">PREVIOUS SCHEDULE</div>
        </a>

        <a href="{{ schedule.url__next }}">
            <div class="bg-indigo-400 text-indigo-800 rounded px-4 w-fc font-bold italic hover:bg-indigo-100 hover:rounded">NEXT SCHEDULE</div>
        </a>
    </div>

    {#---TOOLBAR---#}
    <div class="panel" id="toolbar">

        <div class="hstack">
            <div class ="btn" 
               hx-get="{{schedule.url__clear}}" 
               hx-confirm="Please verify: You will delete all {{ tot }} shift assignments for the current schedule for pharmacists and technicians. "
               hx-swap="none"
               href="{% url 'sch:v1-schedule-detail' schedule.slug %}">
            Delete All Slots

            </div>
        <div class="spinner"></div>

        

        <button class="btn btn-lg hover:bg-yellow-700" 
            hx-confirm="By confirming, the algorithm will take control of the 696 slots in this Schedule and attempt solutions, which will involve manipulating & deleting existing data."
            hx-get="{% url 'sch:v2-schedule-solve-alg2' schedule.slug %}"
            hx-swap="none"
            _="on click 
                    alert ('By confirming, the algorithm will take control of the 696 slots in this Schedule and attempt solutions, which will involve manipulating & deleting existing data')
               then post to start/ 
               then set my innerHTML to 'Solving...'" >
            <div class="vstack">
                <span class="font-extrabold">SOLVE</span>
                <span class="font-light text-xs italic"> Start Solution</span> 
            </div>
        </button>

        
            <a href="{% url 'sch:gen-rand-pto' schedule.pk %}" 
                type="button"
                id="randomPTOButton"
                class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-100 dark:border-gray-600 dark:hover:text-white dark:hover:bg-yellow-900 inline-flex items-center"
                > 
                <div class="hstack">
                    <div> {% plusIcon %}      </div>
                    <div> Random PTO Requests </div>
                </div> 
            </a>
        
        
        <a  id="DeletePtoConfl"
            class="py-3 px-2 mr-2 text-xs font-light text-gray-400 bg-gray-900 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-purple-700 focus:z-10 focus:ring-2 focus:ring-purple-700 focus:text-purple-700 dark:bg-gray-800 dark:text-indigo-300 dark:border-indigo-600 dark:hover:text-white dark:hover:bg-indigo-900  dark:hover:text-boldinline-flex items-center"
            href="del-pto-conflict-slots/">

        Clear Out PTO Conflicting Assignments
        
        </a>
        
        <div class="float-right">
            {% figCard 'Empty Slots' nEmpty "SLOTS" percComplete tot  %}
        </div>

    </div>
    </div>
    {#---ALERTS---#}
    <div id="messages-container">
        {% if messages %} 
        {% for msg in messages %}
            {{message}}
        {% endfor %}
        {% endif %}
    </div>

    {#--- TOAST ALERT ---#}
    {% #toast-wrapper %}
        <a href="{% url 'sch:v2-schedule-detail' schedule.slug %}"
         class="m-2">
            {% #toast  title="ALERT" %} 
                <p class="text-2xs jbm">
                    AN ALTERNATE VIEW FOR SCHEDULES IS AVAILABLE<br>
                    Click here to view.
                </p>
            {% /toast %}
        </a>
    {% /toast-wrapper %}

    <div class="overflow-x-auto">
        
    {#---MAIN APP TABLE---#}
    <table class="table table-compact table-xs w-full" style="width:100%;">
        <thead>
            <tr>
                <th>EMPLOYEES</th>
                {% for day in days %}
                    <th><span style="font-family:Raleway;opacity:50%;font-weight:100;">
                        <a href="/sch/day/{{day.slug}}/">{{day.date.month}}/{{day.date.day}}</a> </span>
                    <div style="font-family:Raleway;font-weight:700;opacity:85%;">{{day.weekday.0}}</div></th>
                {% endfor %}
            </tr>
        </thead>

    {% for empl in employees %}
    <tr>
        <th>
            <a href="{% url 'sch:v2-employee-schedule' empl.slug schedule.slug %}"> {{ empl }} </a>
        </th>
        {% for day in empl.schedule %}
            
            {% if day.1 == None %} 
                {% if day.3 == None %}
                    <td style="opacity:30%;">
                        *
                    </td> 
                {% else %}
                    <td style="background-color:#5d85d059;color:#ffffffa0;text-shadow:1px 1px 1px black;font-size:9px;">
                        PTO
                    </td>
                {% endif %}
            {%else%}
                {% if day.0 in weekendlist %} 
                    <td style="background-color:#e3727233;">
                        <span> {{day.1}} <sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span class="shadow-lg" style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;"><sup>!</sup></span>
                        {% endif %}
                    </td>
                {% elif day.3 != None %}
                    <td style="background-color:#d43b3b;">
                        <span>{{day.1}}<sub style="font-size:9px;opacity:50%;color:white;">{{day.2}}</sub></span>  
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}
                    </td>
                {% else %}
                    <td><span>{{day.1}}<sub style="font-size:9px;opacity:50%;">{{day.2}}</sub></span> 
                        {% if day.4 < day.2 %}
                        <span style="color:black;background-color:#f3f314cc;border-radius:40px;box-shadow:1px 1px 3px black;">!!</span>
                        {% endif %}</td>
                {% endif %}
            {%endif%}
        {% endfor %}
    </tr>

    {% endfor %}
    <tr>
        <th>Unfilled Shifts</th>
        {% for dy in schedule.workdays.all  %}
            <td>{% for uf in dy.slots.empty %} {{uf.shift}}<br><br> {% endfor %}</td> 
        {% endfor %}   
    </tr>
    </table>
    </div>

<div class="panel">

    <div>
        {{tdoEmpties|length}}  {{tdoEmpties}}
    </div>

    <div class="hstack wrap">
    {% for uf,count in unfavorables.items %}
        <div class="vstack">
            <div> {{uf}} </div>
            <div> {{count}} </div>
        </div>
    {% endfor %}
    </div>
</div>

<div class="flex flex-wrap">
    {% for c in conflicted %} {{c}} {% endfor %}
</div>

</div>
{% endblock body %}

    
    