
{% extends 'base.html' %}
{% load tags %}


{% block content %}
    
    <div class="panel">
    
            <h3 class="text-2xl text-sky-200 bg-sky-800 rounded w-fc p-2">
            {{schedule}}
            </h3>

            <div>
            {% for week in schedule.weeks.all %}
                <h2 class="text-lg text-sky-800 text-bold">{{week}} </h2>
                <div class="hstack">
                    {% for workday in week.workdays.all %}
                            <a 
                            href="/sch/day/{{workday.slug}}/"
                            class="text-2xs bg-sky-800 rounded-lg p-1 text-white vstack">
                                <div class="text-sm italic">{{workday.slug}}</div>
                                <div> {% showPercent workday.percFilled %} % </div>
                            </a>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>

            
    
    </div>

{% endblock content %}
    