{% extends 'base.html' %}


{% block title %}
    Please Wait... Solving Schedule
{% endblock title %}
    


{% block style %}
<style>
    .image {
        background-image: url('https://media.discordapp.net/attachments/1005308963539144787/1035137409035292762/jsteinbecker_a_hospital_IV_Making_Robot_5edf5c82-af08-415e-aaff-ca1c8f96429b.png?width=1298&height=1298');
        background-repeat: true;
        background-size: 40%;
    }
</style>
{% endblock style %}
    

{% block content %}

<h1 class="h1">Please Wait...</h1>

{% endblock content %}

    