


mixin Employee(employee)
    .employee.cursor-move.snap-always.relative.w-24.h-14(
        draggable=true 
        data-id=employee.slug 
        data-week-hrs="{% weekHours employee workday %}"
        _="install Employee"
    )