{% extends 'base.html' %}

{% load tags %}
{% load wtags %}
{% load static %}



{% block content %}



    {% include 'wday/partials/SPWD.html' %}

    <div class="w-fc flex flex-col">

        <div class="mx-auto">{% include 'wday/partials/week-dots.html' %}</div>
        
        <div class="container w-full mx-auto">
            <div class="text text-center flex flex-row">

                <a href="{{ workday.prevWD.url }}" class="hover:scale-[110%]">
                    <i class="fa-duotone fa-circle-arrow-left"></i>
                </a>

                <div class="flex flex-col center text-center">
                    <span class="text-3xl mt-2 font-semibold text-orange-500">{{ workday.date }}</span>
                    <span class="text-sm font-thin">{{ workday.wkd }}</span>
                    <span id="wdId" class="hidden">{{ workday.slug }}</span>
                </div>

                <a href="{{ workday.nextWD.url }}" class="hover:scale-[110%]">
                    <i class="fa-duotone fa-circle-arrow-right"></i>
                </a>
                
            </div>
        </div>

   </div>

    {# _____ SECTION: SLOT GRID ______ #}
    <div class="all-shifts  grid sm:grid-cols-2 md:grid-cols-4">

        {% for slot in workday.slots.all %}
        <div>
            
            {# _____ OBJECT: SLOT ______ #}
            <div class="slot w-11/12 bg-zinc-600 bg-opacity-30 bg-blur flex flex-row h-20
                        {% if slot.employee == None %} bg-amber-800 {% endif %}"
                 id="{{ slot.shift }}" 
                 available="{% for e in slot.fillable_by %}{{ e }} {% endfor %}"
                 current="{{ slot.employee }}"
                 data-time-of-day="{{ slot.shift.group }}"
                 template-employee="{{ slot.template_employee }}"
                 a='0' b='0'
                 _="on dragover or dragenter if $allow.includes(@id) 
                        halt the event 
                        else add .bg-red-300 .bg-opacity-30 .ring .ring-red-600 end
                    on dragover or dragenter if $allow.includes(@id) add .bg-emerald-400 .ring .ring-emerald-300 end
                    on dragleave set $empCardSecondary to `` end
                    on dragleave or dragend remove .ring .ring-2 .ring-green-400 
                                    .bg-emerald-400 .bg-opacity-80 .ring-emerald-300 
                                    .bg-red-300 .ring-red-600 end
                    on drop remove .ring .ring-2 .ring-green-400 end
                    on fetch:beforeRequest(headers) set headers['empId'] to $emp end
                    on drop send addcard to #inner-slot-{{slot.shift}} then
                        fetch slot/{{slot.shift}}/update/ then 
                        call window.location.reload() end
                    on drop tell .dragging remove you then add .fa-fade .fa-beat to me end
                    on hlAllowed if $allow.includes(@id) add .bg-green-600 .ring .ring-green-500 end
                    on hideHl remove .bg-green-600 .ring .ring-green-500 end">

                <a href="/sch/v2/workday-detail/{{slot.workday.slug}}/{{slot.shift}}/" 
                    class="shift px-1 {% if slot.employee == None %} text-yellow-400 {%endif%}"> 
                    {{ slot.shift }} 
                </a>

                <span id="indicator-{{slot.id}}" class="htmx-indicator"> 
                    <i class="fa-duotone fa-circle-notch fa-spin fa-fade"></i>
                </span>
                <div id="inner-slot-{{ slot.shift}}" class="inner-slot"
                    _="on addcard put $emp into me end">
                        {% if slot.employee %} 
                            {% with slot.employee as employee %}
                                {% include 'wday/partials/employeeChip.html' %}
                            {% endwith %}
                        {% else %}
                                <i data-slot="{{slot.shift.name}}"
                                data-group="{{slot.shift.group}}"
                                class="fa-duotone text-zinc-100 fa-circle-ellipsis mt-2"
                                _="on mouseover or mouseenter add .fa-beat .bg-green-300 to .allowed-to-fill-{{ slot.shift.name }} end
                                    on mouseleave remove .fa-beat .bg-green-300 from .allowed-to-fill-{{ slot.shift.name }} end">
                                </i>
                                {% if slot.template_employee %}
                                    <div class="bg-rose-900 text-white text-2xs uppercase rounded-full px-2">
                                        FILL WILL TEMPLATE EMPLOYEE
                                    </div>
                                {% endif %}
                        {% endif %}
                </div>
                
            </div>
        </div>
        {% endfor %}

        {# _____ OBJECT: TRASHCAN ______ #}
        <div class="trashbin hidden .fa-fade .fa-beat border text-center bg-red-700 rounded-lg"
            _="on dragenter or dragover add .ring .ring-red-200 then halt the event then 
            call event.dataTransfer.getData('text') log result end
            on fetch:beforeRequest(headers) set headers['empId'] to $emp end
            on dragleave remove .ring .ring-red-200 end
            on drop js event.dataTransfer.dropEffect = 'move' end
            on drop remove .hidden from me then put `Removing $emp` into #trash-message end
            on drop tell .dragging remove you then add .fa-fade .fa-beat to me end 
            on drop call event.dataTransfer.getData('text/plain') then put result into me end
            on drop fetch delete/ end
            on drop call window.location.reload() end">
            <i class="fa-duotone fa-trash-can text-2xl"></i>
            <div id="trash-message" class="text-2xs italic fa-beat fa-fade"> Drop here to remove...</div>
        </div>

    </div>

    <hr class="text-white my-3"/>
    
    {# _____ SECTION: ON DECK ______ #}
    <div class="container flex flex-rows-1 gap-[50px] bg-zinc-900 snap-mandatory scroll-px-1 
                shadow-inner border border-white shadow-xl overflow-x-scroll overscroll-x-auto h-50 snap-x">

            <!---- Employees: ON DECK ----->
            {% for employee in workday.on_deck.all %}
                <div class="shrink-0 snap-start snap-always my-6">
                    {% include 'wday/partials/employeeChip.html' %}
                </div>
            {% endfor %}

            <!---- Employees: PTO ----->
            {% for empl in workday.pto.all %}
                {% with empl.employee as employee %} 
                {% with 'PTO' as desig %}
                    <div class="shrink-0 snap-start snap-always my-6">
                        {% include 'wday/partials/employeeChip.html' %}
                    </div>
                {% endwith %} 
                {% endwith %}
            {% endfor %}
            
            <!---- Employees: TDO ----->
            {% for empl in workday.tdo.all %}
                {% with empl.employee as employee %}
                {% with 'TDO' as desig %}
                    <div class="shrink-0 snap-start snap-always my-6">
                        {% include 'wday/partials/employeeChip.html' %}
                    </div>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        
        </div>
    
    <div id="dragged-data-display" class="text text-center border border-zinc-300 opacity-50 rounded p-2">
            <div id="dragged-employee-name" class="text-2xs italic"></div>
            <div id="dragged-employee-shift" class="text-2xs text-blue-500"></div>
            <div id="dragged-allowed" clas="text-green-900 bg-green-300 rounded px-2 text-2xs"></div>
    </div>
        

    <div class="text text-center text-2xs opacity-75 italic"> 
        USING TEMPLATE: WD-DEFAULT 
    </div>
    
{% endblock %}


{% block style %}

    <style>
        .all-shifts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 50px;
        }
        .slot {
            width: 175px;
            height: 50px;
            border: 1px solid white;
            border-radius: 10px;
            margin: 10px;
            padding-left: 10px;
            padding-top: 2px;
        }
        .employee {
            color: #aacc99;
            font-style: bold;
            margin-right: 10px;
        }
        .shift {
            font-style: italic;
            font-size: 22px;
            color: #ffffff;
            
        }
        .hold {
            opacity: 0.5;
        }
        .allowed-drop {
            background-color: #33ffaa;
            border: 1px dashed #00cc66aa;
        }
        .over-allowed-drop {
            background-color: #77ffcc;
            border: 2px solid #00cc66aa;
        }
        .over-prohibited-drop {
            background-color: #ffaa77;
            border: 2px solid #cc6600aa;
        }
        .dragging {
            opacity: 0.5;
        }
    </style>

{% endblock %}