{% extends 'base.html' %}
{% load tags %}

<head>
    <style>
        {% include 'sch/css/_wikitable.css' %}
    </style>

</head>

<!----------------------------
TEMPLATE VARIABLES
    *   workday
------------------------------>

{% block content %}

    <div class="vstack center items-center">

       
            <h1 class="text-3xl text-indigo-300"> 
                <span class="bg-sky-800 bg-sky-300 shadow-sky-500 rounded px-1 m-2 mr-3 text-slate-900 jbm">
                    {{ workday.wkd }}
                </span>
                {{workday.date}} 
            </h1>
            
    </div> 

        <div class="hstack">
            <a href="{{workday.week.url}}" class="rounded-md p-5 hover:bg-blue-800 text text-center vstack text-center">
                <div class="text-2xs text-gray-400">WEEK</div>
                <div class="text-xl text-blue-200">{{workday.week.number}}</div>
            </a>
            <a href="{{workday.period.url}}" class="rounded-md p-5 hover:bg-indigo-800 text text-center vstack text-center"">
                <div class="text-2xs text-gray-400">PAY PERIOD</div>
                <div class="text-xl text-indigo-200">{{workday.period.number}}</div>
            </a>
            <a href="{{workday.schedule.url}}" class="rounded-md p-5 hover:bg-purple-800 text text-center vstack text-center">
                <div class="text-2xs text-gray-400">SCHEDULE</div>
                <div class="text-xl text-purple-200">{{workday.schedule.number}}</div>
            </a>
        </div> 
        <div class="rounded-lg shadow shadow-lg px-3 py-1 m-3 mb-12 border border-slate-300 bg-zinc-900 lg:w-[70%]">
            <span class="shrink text-3xl font-semibold text-blue-400 text-shadow"> 
              Schedule
              <span class="text-lg font-light text-white">
                for {{ workday.date}}
              </span>
        </span>
        
        <div id="workday-schedule"
            class="text text-center">
            
            {% regroup workday.slots.all by cls as slots_list %}
            <div class="hstack text center-text my-4">
                <a class="mr-20" href="{{workday.prevWD.url}}"> {%backArrow%} </a>
            
            {% for cls in slots_list %}
                <div class="grid grid-cols-2 md:grid-cols-3 w-full my-10">
                {% for slot in cls.list %}

                <!----------------------------------
                |  SLOT CONTAINER                  |
                .==================================.
                ----------------------------------->
                <div>
                    <a href="{{ slot.url }}"
                        draggable='false'
                        class="{{ slot.css__all }} w-full h-full"
                        >
                        <div class="bg-slate-200 px-2 rounded-sm m-1 text-slate-800">{{ slot.shift }}</div>
                        {% if slot.employee %}
                            {% with slot.employee as empl %}
                                
                                <div id="{{ empl.slug }}" 
                                    draggable="true"
                                    class= "employee
                                            rounded px-2 mx-1 text-sm text-zinc-900 bg-sky-600">

                                    <div class="font-bold text-zinc-900">
                                        {{ empl }}
                                    </div>

                                    <br/>

                                    <div class="text-white text-2xs">
                                        <span>
                                            {% weekHours empl workday %}/ 
                                            {% periodHours empl workday %}
                                        </span>
                                    </div>
                                {% endwith %}
                         </div>
                            {% else %}
                                <span class="badge opacity-30 italic">{{ slot.shift }}</span>
                                <span class="mr-3 text-2xs text-zinc-400 font-extrabold bg-opacity-60 empname">NONE</span> 
                            
                        {% endif %}
                    </a>
                    <input type="hidden" 
                           id="{{slot.shift}}" 
                           name="{{slot.shift}}"/>

                    <span class="output text-light text-green-300 italic"></span>
                </label>
                </div>
                {% endfor %}
                </div>
                <div id="save-wrapper">
                    <input type="submit" id="savebutton" class="btn bg-blue-300 text-gray-300 px-2 rounded italic bg-gray-700 opacity-30"  value="Save"/>
                </div>
            {% endfor %}
        </form>
        </div>
        </div>
    </div>

       
        <div class="flex flex-row gap-3">
            <div class="grow panel">
                <h2 class="text-2xl font-light">Employees On Deck</h2>
    
                <div id="on-deck-container">

                <div class="grid grid-cols-2 gap-2">
                {% for empl in workday.on_deck %}
                        <div id= "{{empl.slug}}" 
                            draggable="true"
                            _="on dragstart set dragging to me
                                set draggingSlug to me.id
                                add .bg-orange-100 to .{{empl.slug}}-available call event.dataTransfer.getData('text') then log the result
                            on dragover if target.dataset.availableEmpls.split(';') contains $draggingSlug halt the event
                                tell target add .bg-emerald-500
                            on dragend set $draggingSlug to null set $dragging to null"
                            
                            class="rounded px-2 mx-1 text-sm text-zinc-900 bg-emerald-600">
                            <span class="font-bold text-zinc-900">
                                {{ empl }}
                            </span>

                            <div class="text-white text-2xs">
                                <span>
                                    {% weekHours empl workday %}/ 
                                    {% periodHours empl workday %}
                                </span>
                            </div>
                            <div id="context" class="hidden context-menu-wrapper">Context Menu</div>
                        </div>
                        
                {% endfor %}
                </div>
                </div>
            </div>

        <div class="panel">
            <h2 class="text-2xl font-light">Employees with PTO</h2>
            {% if workday.pto.count > 0 %}
                <div class="grid grid-cols-2 w-fc gap-2">
                    {% for empl in workday.pto %}
                        <div id= "{{empl.slug}}" 
                        draggable="true"
                        class="rounded px-2 mx-1 text-sm text-zinc-900 bg-yellow-600"
                        _ ="on mouseover add .bg-yellow-400 to me
                            on mouseleave remove .bg-yellow-400 from me
                            ">
                        <span class="font-bold text-zinc-900">
                            {{ empl.employee }}
                        </span>
                        <span>PTO</span> <i class="fa-duotone fa-alert-triangle fa-beat"></i>
                        <div class="text-white text-2xs">
                            <span>
                                {% weekHours empl.employee workday %}/ 
                                {% periodHours empl.employee workday %}
                            </span>
                        </div>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>No PTO Requests recorded</div>
            {% endif %}
        </div>

        <div class="grow panel">
            <h2 class="text-2xl font-light">Employees with Day Templated Off</h2>
            {% if workday.tdo.count > 0 %}
                    <div class="grid grid-cols-2 w-fc gap-2">

                        {% for empl in workday.tdo %}
                        <div id= "{{empl.slug}}" 
                        draggable="true"
                        class="rounded px-2 mx-1 text-sm text-zinc-900 bg-slate-600">
                        <span class="font-bold text-zinc-900">
                            {{ empl.employee }}
                        </span>
                        <span>TDO</span>
                        <div class="text-white text-2xs">
                            <span>
                                {% weekHours empl.employee workday %}/ 
                                {% periodHours empl.employee workday %}
                            </span>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>No Employees have this day templated off.</div>
            {% endif %}
        </div>    
        
        </div>
    </div>

    <div class="text text-center text-2xs opacity-75">USING TEMPLATE: LEGACY-WORKDAY </div>
    








    {% endblock content %}