{% extends 'base.html' %}

{% load tags %}
{% load wtags %}



{% block content %}

    {% include 'wday/partials/SPWD.html' %}

    <div class="w-full">
        <div class="text text-center">
            <a href="{{ workday.prevUrl }}"><i class="fa-duotone fa-circle-arrow-left"></i></a>
            <span class="text-3xl mt-2 font-semibold text-orange-500">{{workday.date}}</span>
            <span id="wdId" class="hidden">{{workday.slug}}</span>
            <a href="{{ workday.nextUrl }}"><i class="fa-duotone fa-circle-arrow-right"></i></a>
        </div>
    </div>

    

    <div class="all-shifts  grid sm:grid-cols-2 md:grid-cols-4">

        <div class="opacity-0 trashbin text-center bg-red-700 rounded-lg border border-red-800 ring ring-red-300" 
                ondragover="event.preventDefault();"
                ondragenter="dragEnterTrash(event);"
                ondragleave="dragLeaveTrash(event);"
                ondrop="dropInTrash(event);"
                ondragend="backdropDragEnd(event);"
                >
                <i class="fa-duotone fa-trash-can text-2xl"></i>
                <div class="text-2xs italic fa-beat fa-fade"> Drop here to remove...</div>
        </div>

        {% for slot in workday.slots.all %}
        <div>
            <div class="slot w-11/12 bg-zinc-600 bg-opacity-30 bg-blur flex flex-row h-20" 
                 id="{{ slot.shift }}" 
                 data-available="{% for e in slot.fillable_by %}{{ e }} {% endfor %}"
                 data-time-of-day="{{ slot.shift.group }}"
                 ondragover="dragOverVerify(event);"
                 ondrop="drop(event);"
                 ondragleave="dragLeave(event);"
                 data-popover-target="{{ slot.slug }}--popover">

                <span class="shift px-1 {% if slot.employee == None %} text-yellow-400 {%endif%}"> 
                    {{ slot.shift }} 
                </span>

                <span id="indicator-{{slot.id}}" class="htmx-indicator"> 
                    <i class="fa-duotone fa-circle-notch fa-spin fa-fade"></i>
                </span>

                {% if slot.employee %} 
                    {% with slot.employee as employee %}
                        {% include 'wday/partials/employeeChip.html' %}
                    {% endwith %}
                {% endif %}
                
            </div>
            <span id="popover-container-{{slot.id}}">{% include 'wday/partials/popover.html' %}</span> 
        </div>
        {% endfor %}

    </div>

    <hr class="text-white my-3"/>
    
    <div class="flex flex-row flex-wrap gap-4">

            <!---- Employees: ON DECK ----->
            {% for employee in workday.on_deck.all %}
                {% include 'wday/partials/employeeChip.html' %}
            {% endfor %}

            <!---- Employees: PTO ----->
            {% for empl in workday.pto.all %}
                {% with empl.employee as employee %} 
                {% with 'PTO' as desig %}
                    {% include 'wday/partials/employeeChip.html' %}
                {% endwith %} 
                {% endwith %}
            {% endfor %}
            
            
            <!---- Employees: TDO ----->
            {% for empl in workday.tdo.all %}
                {% with empl.employee as employee %}
                {% with 'TDO' as desig %}
                    {% include 'wday/partials/employeeChip.html' %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
    
        </div>
    

    <div class="text text-center text-2xs opacity-75 italic"> USING TEMPLATE: WD-DEFAULT </div>


    <script>

        var dragType = '';
        var dragSource ;
        var currentDropTarget;
        // Employee: DRAGSTART
        // 1:  amber highlights to turnarounds 
        // 2: green highlights to slots

        function employeeDragStart (event) {
            event.dataTransfer.setData('text', event.target.id);
            console.log(event.target.dataset.available.split(" "));

            // select slots with event.target.id in data-available.split(" ")
            // add class hold to each slot
            document.querySelectorAll('.slot').forEach(slot => {
                if (event.target.dataset.available.split(" ").includes(slot.id)) {
                    slot.classList.add('bg-green-400');
                    // add a visible dropzone to the edge of the slots
                }
            })
            document.querySelectorAll('.slot.bg-green-400').forEach(slot => {
                if (event.target.dataset.turnarounds.split(" ").includes(slot.dataset.timeOfDay)) {
                    slot.classList.add('bg-amber-400');
                    // add a visible dropzone to the edge of the slots
                }
            })
            }
        
        function dragEnterSlot (event) {
            if (event.target.classList.contains('slot')) {
                if (event.target.dataset.available.split(" ").includes(event.dataTransfer.getData('text'))) {
                    event.target.classList.add('ring','ring-green-300','ring-offset-2');
                    currentDropTarget = event.target;
                    console.log('currentDropTarget:', currentDropTarget.id);
                }
            }
        }
        function dragLeaveSlot (event) {
            if (event.target.classList.contains('slot')) {
                if (event.target.dataset.available.split(" ").includes(event.dataTransfer.getData('text'))) {
                    event.target.classList.remove('ring','ring-green-300','ring-offset-2');
                    currentDropTarget = null;
                    console.log('currentDropTarget:',null);
                }
            }
        }
        document.querySelectorAll('.slot').forEach(slot => {
            slot.addEventListener('dragenter', dragEnterSlot);
            slot.addEventListener('dragleave', dragLeaveSlot);
        })
        
        function dragFromSlot (event) {
            dragSource = 'slot';
        }
        function employeeDragEnd (event) {
            // remove class hold from all slots
            document.querySelectorAll('.slot').forEach(slot => {
                slot.classList.remove('bg-green-400','ring','ring-green-300','ring-offset-2','bg-amber-400');
            })
            // remove all dropzones
            document.querySelectorAll('.dropzone').forEach(dropzone => {
                dropzone.remove();
            })
        }
        function dragOverVerify (event) {
            if (event.target.classList.contains('slot')) {
                if (event.target.dataset.available.split(" ").includes(event.dataTransfer.getData('text'))) {
                    event.preventDefault();
                    event.target.classList.add('ring','ring-green-300','ring-offset-2');
                } else {
                    // dont allow a drop to occur over this
                    
                }
            }
        }
        function dragOverTrash (event) {
            if (dragSource != 'slot') {
                event.preventDefault();
                event.target.classList.add('ring','ring-red-300','ring-offset-2');
            }
            event.preventDefault();
        }
        function dragEnterTrash (event) {
            event.target.classList.add('ring','ring-red-300','ring-offset-2');
        }
        function dragLeaveTrash (event) {
            event.target.classList.remove('ring','ring-red-300','ring-offset-2');
        }
        function revealTrashbins (event) {
            if (event.target.dataset.isSlotted != "") {
                document.querySelectorAll('.trashbin').forEach(trashbin => {
                    trashbin.classList.remove('opacity-0');
                })
            }
            
        }
        function hideTrashbins (event) {
            document.querySelectorAll('.trashbin').forEach(trashbin => {
                trashbin.classList.add('opacity-0');
            })
        }
        function dragLeave (event) {
            event.target.classList.remove('ring','ring-green-300','ring-offset-2');
        }
        function drop (event) {
            event.preventDefault();
            const data = event.dataTransfer.getData('text');
            const emplObj = document.getElementById(data);
            var availableFor = emplObj.dataset.available.split(" ");

            var allowContinue = false;
            console.log(availableFor);
            availableFor.forEach(slot => {
                if (slot == event.target.id) {
                    allowContinue = true;
                }
            })

            if (allowContinue) {
                

            for (let i = 0; i < event.target.children.length; i++) {
                if (event.target.children[i].classList.contains('employee')) {
                    if (event.target.children[i].id != event.dataTransfer.getData('text')) {
                    event.target.children[i].remove();
                    }
                }
            }
            // set animation on slot being updated
            event.target.classList.add('fa-fade');
            event.target.appendChild(document.getElementById(data));

            document.querySelectorAll('.slot').forEach(slot => {
                slot.classList.remove('bg-green-400','ring','ring-green-300','ring-offset-2');
            })

            // update the database
            const slot = event.target.id;
            const employee = data;
            const url = `slot/${slot}/update/${employee}/`;

            const available = event.target.dataset.available.split(" ");
            if (available.includes(data)) {
                fetch(url)
                    .then(response => response)
                    .then(data => {
                        console.log(data);
                        // wait 750ms then reload the page
                        setTimeout(() => {
                            window.location.reload();
                        }, 750);
                    })
            } else {
                alert ('PERMISSION DENIED: Employee would be placed in a turnaround.');
                window.location.reload();
                }
            }
        }
        function emplInSlotDragStart (event) {
            event.dataTransfer.setData('text', event.target.id);
            console.log(event.target.id);
            // select slots with event.target.id in data-available.split(" ")
            // add class hold to each slot
            document.querySelectorAll('.slot').forEach(slot => {
                if (slot.dataset.available.split(" ").includes(event.target.id)) {
                    slot.classList.add('bg-green-400');
                }
            })
            document.querySelectorAll('.trashbin').forEach(trashbin => {
                trashbin.classList.remove('hidden');
            })
            dragType = 'inSlot';
        }
        function dragEnterTrash (event) {
                event.target.classList.add('bg-red-600','ring','ring-red-300','ring-offset-2');
        }
        function dragLeaveTrash (event) {
            event.target.classList.remove('bg-slate-600','ring','ring-red-300','ring-offset-2');
        }
        function backdropDragEnd (event) {
            event.target.classList.remove('bg-slate-600');
            dragType = '';
            document.querySelectorAll('.slot').forEach(slot => {
                 slot.classList.remove('bg-green-400'); 
            })
        }
        function dropInTrash (event) {

            const data = event.dataTransfer.getData('text');
            const slot = document.getElementById(event.dataTransfer.getData('text')).parentNode;
            const shift = slot.children[0].innerText;
            

           if (dragSource == 'deck'){
            event.target.classList.remove('bg-slate-600');
            // remove the .employee from the .slot it originated from 
            
            slot.removeChild(document.getElementById(event.dataTransfer.getData('text')));
            slot.classList.add('fa-fade', 'fa-beat');
            // get data from drop
            
            // get .shift that is child of .slot element 
            
            console.log('Clearing Slot: ', shift)
            document.querySelectorAll('.slot').forEach(slot => {
                slot.classList.remove('bg-green-400','ring','ring-green-300','ring-offset-2');
            })
        }
            const employee = data;
            const url = `slot/${shift}/delete/`;

            dragType = '';
            fetch(url)
                .then(response => response)
                .then(data => {
                    console.log(data);
                    // wait 750ms then reload the page
                    setTimeout(() => {
                        window.location.reload();
                    }, 750);
                })
        }
        function getPopover (event, slotId) {
            // wait 1 second then fetch $slotId/popover/ 
            const url = `/wday/partial/${slotId}/slot-popover/`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('popover-container-${slotId}').innerHTML = data;
                })
        }
    
        //get all .employee and fetch api/employee/<str:empPk>/checkPrevWd/<str:wdId>/
        document.querySelectorAll('.employee').forEach(employee => {
            const wdId = document.getElementById('wdId').innerHTML;
            const empPk = employee.id;
            const url = `/sch/api/employee/${empPk}/checkPrevWd/${wdId}/`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                  
                    if (data =='PM' || data =='XN') {
                        // remove .hidden from #ind-prev-pm
                        document.getElementById(`${empPk}-ind-prev-pm`).classList.remove('hidden');
                        employee.dataset.turnarounds += 'AM ';
                    }
                    if (data =='AM') {
                        document.getElementById(`${empPk}-ind-prev-am`).classList.remove('hidden');
                    }
                

                })
            })
        document.querySelectorAll('.employee').forEach(employee => {
            const wdId = document.getElementById('wdId').innerHTML;
            const empPk = employee.id;
            const url = `/sch/api/employee/${empPk}/checkNextWd/${wdId}/`;
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    
                    console.log(`${empPk}-ind-next-pm`);

                    if (data =='PM' || data =='XN') {
                        // remove .hidden from #ind-prev-pm
                        document.getElementById(`${empPk}-ind-next-pm`).classList.remove('hidden');
                        
                    }
                    if (data =='AM') {
                        document.getElementById(`${empPk}-ind-next-am`).classList.remove('hidden');
                        employee.dataset.turnarounds += 'PM ';
                    }
                })
            })
    </script>

{% endblock %}


{% block style %}

    <style>
        .all-shifts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 50px;
        }
        .slot {
            width: 175px;
            height: 50px;
            border: 1px solid white;
            border-radius: 10px;
            margin: 10px;
            padding-left: 10px;
            padding-top: 2px;
        }
        .employee {
            color: #aacc99;
            font-style: bold;
            margin-right: 10px;
        }
        .shift {
            font-style: italic;
            font-size: 22px;
            color: #ffffff;
            
        }
        .hold {
            opacity: 0.5;
        }

    </style>

{% endblock %}