{% extends 'base.html' %}

{% load tags %}
{% load wtags %}
{% load static %}



{% block content %}

    {% include 'wday/partials/SPWD.html' %}

    {}



    <div class="container w-full mx-auto">
        <div class="text text-center flex flex-row">
            <a href="{{ workday.prevWD.url }}" class="hover:scale-[110%]"><i class="fa-duotone fa-circle-arrow-left"></i></a>
            <div class="flex flex-col center text-center">
                <span class="text-3xl mt-2 font-semibold text-orange-500">{{workday.date}}</span>
                <span class="text-sm font-thin">{{ workday.wkd }}</span>
                <span id="wdId" class="hidden">{{workday.slug}}</span>
            </div>
            <a href="{{ workday.nextWD.url }}" class="hover:scale-[110%]"><i class="fa-duotone fa-circle-arrow-right"></i></a>
        </div>
    </div>
    
    <div class="all-shifts  grid sm:grid-cols-2 md:grid-cols-4">

        {# _____ OBJECT: TRASHCAN ______ #}
        <div class="opacity-0 trashbin text-center bg-red-700 rounded-lg" 
                ondragover="event.preventDefault();"
                ondragenter="dragEnterTrash(event);"
                ondragleave="dragLeaveTrash(event);"
                ondrop="dropInTrash(event);"
                ondragend="backdropDragEnd(event);"
                >
                <i class="fa-duotone fa-trash-can text-2xl"></i>
                <div class="text-2xs italic fa-beat fa-fade"> Drop here to remove...</div>
        </div>

        {% for slot in workday.slots.all %}
        <div>
            
            {# _____ OBJECT: SLOT ______ #}
            <div class="slot w-11/12 bg-zinc-600 bg-opacity-30 bg-blur flex flex-row h-20
                        {% if slot.employee == None %} bg-amber-800 {% endif %}" 
                 id="{{ slot.shift }}" 
                 data-available="{% for e in slot.fillable_by %}{{ e }} {% endfor %}"
                 data-time-of-day="{{ slot.shift.group }}"
                 ondragover="dragOverVerify(event);"
                 ondrop="drop(event);"
                 ondragleave="dragLeave(event);"
                 data-popover-target="{{ slot.slug }}--popover">

                <span class="shift px-1 {% if slot.employee == None %} text-yellow-400 {%endif%}"> 
                    {{ slot.shift }} 
                </span>

                <span id="indicator-{{slot.id}}" class="htmx-indicator"> 
                    <i class="fa-duotone fa-circle-notch fa-spin fa-fade"></i>
                </span>

                {% if slot.employee %} 
                    {% with slot.employee as employee %}
                        {% include 'wday/partials/employeeChip.html' %}
                    {% endwith %}
                {% else %}
                        <i data-slot="{{slot.shift.name}}"
                            data-group="{{slot.shift.group}}"
                            class="fa-duotone text-zinc-100 fa-circle-ellipsis mt-2"></i>
                {% endif %}
                
            </div>
            <span data-popover id="popover-container-{{slot.id}}">{% include 'wday/partials/popover.html' %}</span> 
        </div>
        {% endfor %}

    </div>

    <hr class="text-white my-3"/>
    
    <div class="container flex flex-rows-1 gap-[50px] bg-zinc-900 overflow-x-scroll overscroll-x-auto h-50 snap-x">

            <!---- Employees: ON DECK ----->
            {% for employee in workday.on_deck.all %}
                <div class="shrink-0 snap-start my-6">
                    {% include 'wday/partials/employeeChip.html' %}
                </div>
            {% endfor %}

            <!---- Employees: PTO ----->
            {% for empl in workday.pto.all %}
                {% with empl.employee as employee %} 
                {% with 'PTO' as desig %}
                    <div class="shrink-0 snap-start my-6">
                        {% include 'wday/partials/employeeChip.html' %}
                    </div>
                {% endwith %} 
                {% endwith %}
            {% endfor %}
            
            <!---- Employees: TDO ----->
            {% for empl in workday.tdo.all %}
                {% with empl.employee as employee %}
                {% with 'TDO' as desig %}
                    <div class="shrink-0 snap-start my-6">
                        {% include 'wday/partials/employeeChip.html' %}
                    </div>
                {% endwith %}
                {% endwith %}
            {% endfor %}
    
        </div>
    

    <div class="text text-center text-2xs opacity-75 italic"> USING TEMPLATE: WD-DEFAULT </div>

    <script src="{% static 'draggableWorkday.js' %}" type="text/javascript"></script>

{% endblock %}


{% block style %}

    <style>
        .all-shifts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 50px;
        }
        .slot {
            width: 175px;
            height: 50px;
            border: 1px solid white;
            border-radius: 10px;
            margin: 10px;
            padding-left: 10px;
            padding-top: 2px;
        }
        .employee {
            color: #aacc99;
            font-style: bold;
            margin-right: 10px;
        }
        .shift {
            font-style: italic;
            font-size: 22px;
            color: #ffffff;
            
        }
        .hold {
            opacity: 0.5;
        }

    </style>

{% endblock %}