

{% #basic_popover title=workday.date   subtitle=workday.wkd    link=workday.url   score=workday.percent %}
                                
                <div>{{ workday.days_away }} days away </div>
                
                <div class="flex flex-wrap">
                    {% for slot in workday.slots.all %}

                            {% basic_popover_child title=slot.shift  value=slot.employee %}
                            
                    {% endfor %}
                </div>
                <div class="text-xs px-5 mt-5"> {{ workday.percent }}% FILLED</div>

{% /basic_popover %}

