extends base.html
block content 

    h2.text-2xl New Schedule 

    div.bg-zinc-900.rounded.p-2 Select 

    div.dropdown.hidden.bg-sky-900.rounded-sm.border.border-sky-600.overflow-y-scroll.h-64 
        for d in dates 
            | 
            div.text-sm= d

 