

{% extends 'base.html' %}
{% load tags %}


{% block content %}

    <div class="vstack">
        <h1 class="text-2xl">{{ schedule }}</h1>
        <h3.text-lg> {{ employee.name }} PTO Request Map</h3>
    </div>

    <div class="panel">
        <form method="POST"> {% csrf_token %}
        <div class="grid grid-cols-7 gap-4">

            <div>SUN</div><div>MON</div><div>TUE</div><div>WED</div><div>THU</div><div>FRI</div><div>SAT</div>

            {% for day in schedule.workdays.all %}
                <div id="panel-{{day.slug}}" class="rounded bg-slate-400">
                    <label for="{{day.sd_id}}-pto-checkbox" class="text-xs">{{day.date}}</label>
                    <input 
                        _="on click @clickCount increment 1 end
                            if @clickCount > 1 then
                                @clickCount = 0
                                @checked = not @checked
                            end"
                        type="checkbox" 
                        name="{{day.date.year}}-{{day.date.month}}-{{day.date.day}}" 
                        id="{{day.sd_id}}-pto-checkbox"
                        {% if day.date in initial_pto_dates %} 
                            checked 
                        {% endif %}
                        {% if day.sd_id in tdos %} 
                            disabled 
                        {% endif %}/>
                </div>
             
            {% endfor %}

        </div>
        <input class="w-2/3 center border border-amber-400 rounded" type="submit" value="Submit">
        </form>
    </div>
    
{% endblock content %}
    