{% extends 'base.html' %}

{% block content %}
{% load tags %}

<a href="{{schedule.url}}"><span>{% backArrow %}</span>Back</a>


<h1 class="text-3xl text-amber 100 font-light">
{{ schedule }}
</h1>


{% for pto in schedule.pto_requests %}
    {{ pto.workday }} {{ pto.employee }}
    <br/> 
    {% if pto.conflict.exists %}
        <a  class="bg-amber-400 text-amber-700 font px-5 -extrabold text-xs rounded" 
            href="{{pto.conflict.first.url}}">
         {{ pto.conflict.first.shift }}
        </a>
    {% endif %}
    <br/><br/> 

{% endfor %}

{% endblock %}