{% load tags %}

        <div class="grid grid-cols-1 overflow-y-scroll">
        {% for slot in schedule.slots.empty %}
        <form method="POST" action="{% url 'schd:all-empty' schedule.slug %}"
            _="on mouseover send loadSignal to <option/> in me"
            class="transition">
            {% csrf_token %}   
            <div class="my-2">
                <input type="hidden" name="slot" value="{{slot.pk}}"/>
                <label class="text-xs">
                    <div class="flex flex-row">
                    <span class="font-extrabold text-slate-900 bg-slate-100 rounded-sm text-xl pl-1 w-8">{{ slot.shift }}</span> 
                    <div class="flex flex-col mx-2 px-1">
                    <span class="text-gray-600 italic w-9 mx-1"> {{ slot.workday.wkd }} </span>
                    <span>{{ slot.workday.date }}</span>
                    </div>


                    <select name="employee" 
                            id="employee"
                            _="on focus add .hidden to <input/> then remove .hidden from the next <input/> 
                                then remove .bg-indigo-900 .ring .ring-indigo-300 .p-3 .rounded from <form/>
                                then add .bg-indigo-900 .ring .ring-indigo-300 .p-3 .rounded to the closest <form/> 
                                end"
                            class="bg-zinc-900 rounded w-[200px] border-zinc-400 mr-8
                                   shadow shadow-lg"
                                {% if slot.fillable_by.count == 0 %} disabled {% endif %}
                                >
                        <option value="" selected disabled>
                            {{ slot.fillable_by.count }} options.. 
                        </option>

                        {% for employee in slot.fillable_by %}
                            <option id="{{employee}}" 
                                value="{{employee.pk}}"
                                _="init set :x to 0
                                    on loadSignal if :x == 0 fetch {% url 'sch:api-week-empl-hours' slot.week.pk employee %} then
                                        set @wk to the result then 
                                        append the result to my innerHTML
                                        then increment :x
                                    end"> 
                                {{ employee.name }}
                            </option>    
                        {% endfor %}

                    </select>
                </div>
                </label>
                <input type="submit" 
                       class="hidden bg-zinc-900 rounded w-full border-zinc-400 transition
                              shadow shadow-lg hover:bg-indigo-500 hover:transition hover:duration-1700 hover:scale-110 hover:ring hover:ring-yellow-300" 
                        id="{{slot.shift}}-{{slot.workday.slug}}-submit" 
                        value="ASSIGN" />
            </div>
        </form>
        {% endfor %}
    </div>
</div>
    
    