<!--
SCHEDULE DETAIL VIEW 
::view::sch.views2.schDetailView

-->

{% extends 'base.html' %}
{% load slippers %} {% load django_tables2 %} {% load tags %}
{% load cache %}

{% block style %}
    <style>
        body {
            background-image: url('/static/img/Geode_seamlessOlive.png');
            background-repeat: repeat;
            background-size: 30%;
        }
        .loading-dimmer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 100;
            display: none;
        }
    </style>
{% endblock style %}
    

{% block content %}




    <a href="{% url 'sch:sch-list' %}"><i class="fas">{% backArrow %}</i> Back to List</a>
    

        
        <div class="panel text text-center">
            <div>
                <a href="{{ schedule.previous.url }}">
                    <i class="fa-arrow-circle-left fa-duotone"></i>
                </a>
                <a href="{{ schedule.next.url }}">
                    <i class="fa-arrow-circle-right fa-duotone"></i>
                </a>
            </div>
            <h1 class="text-3xl text-zinc-400 text-bold">

                    {{schedule.year}}-Schedule {{schedule.number}} 
            </h1> 
            <h3 class="text-lg text-zinc-100 text-light">
            
                    VERSION {{schedule.version}}   
            </h3>
            {% if schedule.tags.count > 0 %}
                {% for tag in schedule.tags.all %}
                    <div class="bg-orange-600 rounded px-2 text-slate-900">{{ tag }}</div>
                {% endfor %}       
            {% endif %}

            <div class="text-xs text-zinc-300 italic">

            <span>
                {{ schedule.slots.filled.count }} 
                / {{ schedule.slots.all.count }} 
                SLOTS ASSIGNED 
            </span>
            {% if schedule.percent < 70 %} 
                <div>
                    <i class="text-3xl text-orange-400 fa-duotone fa-dumpster-fire"
                    title="Dumpster Fire"></i>
                </div>
            {% endif %}
        </div>
        
    

    {# --- STATS BAR ---#}
    <section id="stat-bar">

            {% include 'sch2/schedule/detail/stat-bar.html' %}

    </section>

    {# ---MAIN ICON TAB BAR ---#}
    <section id="tab-bar">

            {% include 'sch2/schedule/partials/sch-tabBar.html' %}

    </section>
   

    <hr class="bg-slate-300 mx-12 mb-4 mt-12"/>

        <div id="swap-pane"></div>
    
    <hr class="bg-slate-300 mx-12 mb-4 mt-12"/>

    
    
    <script>
        function getConfirmation () {
            var retVal = confirm("Do you want to clear this schedule?");
            if (retVal == false) {
                return false;
            }
            return true;
        }

        function loadingButton(button) {
            // reduce the opacity of the button
            button.style.opacity = 0.5;
            // create the spinner element
            var spinner = document.createElement("i");
            spinner.classList.add("fa-duotone", "fa-spinner", "fa-spin", "text-lg", "fa-beat", "ml-2");
            var buttonWidth = button.offsetWidth + 'px';
            // replace the button text with the spinner element
            button.innerHTML = "";
            button.appendChild(spinner);
            button.style.width = buttonWidth;
        }
    </script>
        
  

    

</div>
    <form method="POST">{% csrf_token %}
        <select name="view-pto-empl-select" id="view-pto-empl" 
                class="bg-amber-100 pl-3 pr-7 font-light text-slate-700" 
                onchange="location = this.value;">
            <option value="">
                View Employee Schedule PTO 
            </option>
        {% for employee in employees %}
            <option class="px-3 font-light text-slate-700"
                value="{% url 'sch:v2-schedule-empl-pto' schedule.pk employee.pk %}">
                {{ employee }}'s PTO Requests
            </option>
        {% endfor %}
        </select>
    </form>

    <form 
    method="POST" 
    action="{% url 'sch:sch-time-pref-fill' schedule.pk %}"> 

        {% csrf_token %}

        <input 
        type="submit" 
        value="Perform Time-Preference Aware Fill"/>

    </form>

    <div class="bg-zinc-900 text-zinc-600 text-2xs jbm p-5">{{ schedule.action_log }}</div>
</div>



    
{% endblock content %} 
    