<!--
SCHEDULE DETAIL VIEW 
::view::sch.views2.schDetailView

-->

{% extends 'base.html' %}
{% load slippers %} {% load django_tables2 %} {% load tags %}
{% load cache %}

{% block style %}
    <style>
        body {
            background-image: url('/static/img/Geode_seamlessOlive.png');
            background-repeat: repeat;
            background-size: 30%;
        }
        .loading-dimmer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: 100;
            display: none;
        }
    </style>
{% endblock style %}
    

{% block content %}




    <a href="{% url 'sch:sch-list' %}"><i class="fas">{% backArrow %}</i> Back to List</a>
    
    <div class="panel text text-center">
        <h1 class="text-3xl text-amber-600 text-bold">

                {{schedule.year}}-Schedule {{schedule.number}}
                    
        </h1> 
        <h3 class="text-lg text-amber-300 text-light">
        
                    VERSION {{schedule.version}}   
        </h3>

        <div class="text-xs text-gray-300 italic">

        <span>
            {{ schedule.slots.filled.count }} 
            / {{ schedule.slots.all.count }} 
            SLOTS ASSIGNED 
        </span>
        

    </div>

    {% include 'sch2/schedule/detail/stat-bar.html' %}

    <hr class="bg-slate-300 mx-12 mb-4 mt-12"/>

    <select name="select-for-compare" id="select-for-compare"
            class="bg-sky-100 pl-2 pr-7 font-extralight text-sky-900 hover:bg-sky-200"
            onchange="location= this.value; loadingButton(this);">
            <option value="" selected disabled>Select a schedule for Layover Comparison...</option>
            {% for sch in otherSchedules %}
                <option value="{% url 'sch:compare-schedules' schedule.slug sch.slug %}" class="text-xs font-light">
                    {{ sch.year }}: Schedule {{ sch.number }} 
                    (Version {{ sch.version }})
                </option>
            {% endfor %}
    </select>
    

    <hr class="bg-slate-300 mx-12 mb-4 mt-12"/>

    <div class="flex flex-row center center-content center-self gap-5 space-between"
         id="alt-view-linkbox">
        <a  href="{% url 'sch:v2-schedule-as-empl-grid' schedule.slug %}" 
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs"
            onclick="loadingButton(this)">
        VIEW AS EMPLOYEE GRID </a>
        <a  href="{% url 'sch:v2-schedule-as-shift-grid' schedule.slug %}" 
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs"
            onclick="loadingButton(this)">
            <i class="spinner-flop hidden"></i>
        VIEW AS SHIFT GRID </a>
        <a  href="{% url 'sch:sch-fte-percents' schedule.slug %}"
            class="bg-slate-900 p-2 rounded ring hover:bg-amber-800 hover:ring-amber-100 text-2xs"
            onclick="loadingButton(this)">
        VIEW FTE-SCHEDULED RATIOS </a>
    </div>
    
    <script>
        function loadingButton(button) {
            // reduce the opacity of the button
            button.style.opacity = 0.5;
            // create the spinner element
            var spinner = document.createElement("i");
            spinner.classList.add("fas", "fa-spinner", "fa-spin");
            var buttonWidth = button.offsetWidth + 'px';
            // replace the button text with the spinner element
            button.innerHTML = "";
            button.appendChild(spinner);
            button.style.width = buttonWidth;
        }
    </script>
        
    <div>
        <div class="hidden md:block md:float-right mx-6">
                <form method="POST"> 
                    {% csrf_token %}
                    {{ actionDropdown }}
                </form> 
        </div>
    </div>
    <div class="flex basis-1 shrink text text-center">
        <div class="overflow-x-auto"> 
                {# ========= SCHEDULE TABLE ========= #}
                {% include 'sch2/schedule/complex-table.html' %}
        </div>
    </div>   

</div>
    <form method="POST">{% csrf_token %}
        <select name="view-pto-empl-select" id="view-pto-empl" 
                class="bg-amber-100 pl-3 pr-7 font-light text-slate-700" 
                onchange="location = this.value;">
            <option value="">
                View Employee Schedule PTO 
            </option>
        {% for employee in employees %}
            <option class="px-3 font-light text-slate-700"
                value="{% url 'sch:v2-schedule-empl-pto' schedule.pk employee.pk %}">
                {{ employee }}'s PTO Requests
            </option>
        {% endfor %}
        </select>
    </form>

    <form method="POST" action="{% url 'sch:sch-time-pref-fill' schedule.pk %}"> 
        {% csrf_token %}
        <input type="submit" value="Perform Time-Preference Aware Fill"/>
    </form>



    
{% endblock content %} 
    