{% extends 'base.html' %}

{% block style %}
{% load tags %}

<style>
  body {
    background-image: url('/static/img/ScienceExperiments_seamless_1.png');
    background-repeat: repeat;
    background-size: 40%;
  }
</style>

{% endblock style %} 

{% block content %}



    <div class="float-right w-50 mt-3 mr-3">

        {% #toggle-section title="New Schedule" %}

            <div class="border-2 border-slate-300 rounded">
                <div class="w-50 px-3 py-2 bg-gray-800 rounded">
                    <h2 class="text-lg ">Generate New Schedule</h2>
                </div>

                <div class="px-3 py-2 bg-slate-700">
                    <p class="w-56">
                        Select the start date for a new schedule 
                        to Generate. <span class="info"> Note, you can have 
                        more than one schedule for the same date range 
                        in order to test multiple scenarios. </span>
                    </p>
                </div>

                <form method="POST" class="pl-3" action=""> {% csrf_token %}
                    {{ new_schedule_form }}
                    <input type="submit" value="Generate"/>
                </form>
            </div>

        {% /toggle-section %}

    </div>
    <div class="hidden md:block">
        <table class="table">
            <tr>
                <th>Schedule</th>
                <th>Version</th>
                <th>Start Date</th>
                <th>Slots Filled</th>
                <th>Draft Status</th>
            </tr>

            {% for sch in schedules %}
                <tr>
                    <td><a href="{{sch.url}}">Schedule {{sch.slug}}</a></td>
                    <td><span class='text-sky-600 text-2xs mx-3'>{{sch.version}}</span></td>
                    <td>{{ sch.start_date }}</td>
                    <td class="p-1"><span class="text-indigo-200 border-indigo-200 border-1 px-4 text-2xs">{{sch.slots.filled.count}}/{{sch.slots.all.count}}</span><div class="my-1">{% progressBar sch.percent 'indigo'  %} </div></td>
                    <td>{% if sch.status == 0 %} DRAFT {% elif sch.status == 1 %} FINAL {% endif %} </td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="block md:hidden">
        <div class="flex flex-row flex-wrap">

            {% for sch in schedules %}
            <a  href="{{ sch.url }}"
                class="panel hover:bg-slate-500 hover:ring-indigo-400 hover:ring">
                <h3 class="text-indigo-400 font-extrabold text-shadow">
                    Schedule {{sch.slug}}</h3>
                <div class="h-8 w-8 text-xs pt-2 ring ring-offset-2 text-slate-300 font-light text-center align-text rounded-full">
                    {{ sch.percent }}%</div>
                <div class="text-xs">
                    {{ sch.start_date }} </div>
                <div>
                    {{ sch.status }} </div>
            </a>
            {% endfor %}

        </div>
    </div>
    
{% endblock content %}
    