

{% extends 'base.html' %}
{% load tags %}


{% block style %}

    <style>
        tr td:nth-child(7n+1) {
            border-right: 1px solid #444444;
        }     
        .pie {
            border: 1px solid #ffffff;
        }
        .stl {
            position: sticky;
            left: 0
          }
        .stt {
            position: sticky;
            top: 0
        }
    </style>

 
    
{% endblock style %}


{% block content %}


    <a href="{% url 'sch:v2-schedule-detail' schedule.slug %}" class="hstack">
        <div>{% backArrow %}</div>
        <div>Back</div>
    </a>

    <h2 class="text-xl text-slate-300 font-extrabold jbm">
        Schedule {{ schedule.number }}, {{ schedule.year }}
    </h2>

    <div class="overscroll-x-auto overflow-x-auto">
        <div id="schedule-grid">
            <table class="table table-auto">
                <thead>
                    <th class="bg-zinc-900 stl px-2"></th>
                    {% for workday in schedule.workdays.all %}
                    <th class="sticky-top text-2xs">{{ workday.date }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for shift, assignments in schedule.as_shift_dict.items %}
                        <tr>
                            <th class="stl bg-zinc-900 px-2">{{ shift }}</th>
                            {% for assignment in assignments %}
                                <td><a class="bg-inherit font-light text-2xs text-slate-400" href="{{assignment.url|default:'#'}}">{{ assignment.employee|default:"." }}</a></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}
    