{% extends 'base.html' %}

{% block content %}

        <h1 class="h1 text-3xl">{{schedule}}</h1>
        
        <div class="panel">
            <p>
                Schedule is currently being analyzed 
                and slots are being assigned. 
                You will be automatically redirected
                once the solution is optimized.
            </p>
            <p class="text-xs tex-gray-400 italic">
                Currently solutions can vary widely in
                the amount of time it takes to process 
                them. Occasionally the process may take 
                several minutes. Please be patient and 
                don't refresh the page.
            </p>
        </div>