<!--
SCHEDULE DETAIL VIEW 
::view::sch.views2.schDetailView

-->

{% extends 'base.html' %}
{% load slippers %} {% load django_tables2 %} {% load tags %}


{% block style %}
<style>
        @import url(https://fonts.googleapis.com/css?family=Lato:700);

        // -- vars
        $bg-color: #34495e;
        $default-size: 1em;
        $label-font-size: $default-size / 4;
        $label-font-size-redo: $default-size * 4;

        // -- mixins
        @mixin size($width, $height) {
        height: $height;
        width: $width;
        }

        @mixin draw-progress($progress, $color) {
        .pie {
            .half-circle {
            border-color: $color;
            }

            .left-side {
            transform: rotate($progress * 3.6deg);
            }

            @if $progress <= 50 {
            .right-side {
                display: none;
            }
            } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
            }
        }
        }

        @mixin draw-progress--solid($progress, $color, $bg-color) {
        background: linear-gradient(to right, $color 50%, $bg-color 50%);
        
        &:before {
            @if $progress <= 50 {
            background: $bg-color;
            transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
            } @else {
            background: $color;
            transform: rotate((100 - $progress) / 100 * 360deg);
            }
        }
        }


        .charts-container {
        &:after {
            clear: both;
            content: '';
            display: table;
        }
        }

        .pie-wrapper {
        @include size($default-size, $default-size);
        float: left;
        margin: 15px;
        position: relative;
        
        &:nth-child(3n + 1) {
            clear: both;
        }

        .pie {
            @include size(100%, 100%);
            clip: rect(0, $default-size, $default-size, $default-size / 2);
            left: 0;
            position: absolute;
            top: 0;

            .half-circle {
            @include size(100%, 100%);
            border: ($default-size / 10) solid #3498db;
            border-radius: 50%;
            clip: rect(0, $default-size / 2, $default-size, 0);
            left: 0;
            position: absolute;
            top: 0;
            }
        }

        .label {
            background: $bg-color;
            border-radius: 50%;
            bottom: $label-font-size-redo / 10;
            color: #ecf0f1;
            cursor: default;
            display: block;
            font-size: $label-font-size;
            left: $label-font-size-redo / 10;
            line-height: $label-font-size-redo * .70;
            position: absolute;
            right: $label-font-size-redo / 10;
            text-align: center;
            top: $label-font-size-redo / 10;

            .smaller {
            color: #bdc3c7;
            font-size: .45em;
            padding-bottom: 20px;
            vertical-align: super;
            }
        }

        .shadow {
            @include size(100%, 100%);
            border: $default-size / 10 solid #bdc3c7;
            border-radius: 50%;
        }

        &.style-2 {
            .label {
            background: none;
            color: #7f8c8d;

            .smaller {
                color: #bdc3c7;
            }
            }
        }

        &.progress-30 {
            @include draw-progress(30, #3498db);
        }

        &.progress-60 {
            @include draw-progress(60, #9b59b6);
        }

        &.progress-90 {
            @include draw-progress(90, #e67e22);
        }

        &.progress-45 {
            @include draw-progress(45, #1abc9c);
        }

        &.progress-75 {
            @include draw-progress(75, #8e44ad);
        }

        &.progress-95 {
            @include draw-progress(95, #e74c3c);
        }
        }

        .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;

        &:before {
            border-radius: 0 100% 100% 0 / 50%;
            content: '';
            display: block;
            height: 100%;
            margin-left: 50%;
            transform-origin: left;
        }
        
        .label {
            background: transparent;
        }
        
        &.progress-65 {
            @include draw-progress--solid(65, #e67e22, $bg-color);
        }
        
        &.progress-25 {
            @include draw-progress--solid(25, #9b59b6, $bg-color);
        }
        
        &.progress-69 {
            @include draw-progress--solid(69, #3498db, $bg-color);
        }
        }

</style>

{% endblock %}


{% block content %}




    <a href="{% url 'schd:list' %}"> <i class="fa-duotone fa-arrow-cirlce-left"></i>  Back to List</a>
    

        
        <div class="panel text text-center">
            <div>
                <a class="transition hover:scale-105" href="{{ schedule.previous.url }}">
                    <i class="fa-arrow-circle-left fa-duotone transition hover:scale-105"></i>
                </a>
                <a class="transition hover:scale-105"  href="{{ schedule.next.url }}">
                    <i class="fa-arrow-circle-right fa-duotone"></i>
                </a>
            </div>
            <h1 class="text-3xl text-zinc-400 text-bold">
                {{schedule.year}}-Schedule {{schedule.number}} 
            </h1> 
            <h3 class="text-lg text-zinc-100 text-light">
                VERSION {{schedule.version}}   
            </h3>

            {% include 'sch2/schedule/partials/action-btn.pug' %}
      

            <div class="text-xs text-zinc-300 italic">

            <span>
                {{ schedule.slots.filled.count }} 
                / {{ schedule.slots.all.count }} 
                SLOTS ASSIGNED 
            </span>

            {% if schedule.percent < 70 %} 

    <div><a href="{% url 'sch:v1-schedule-detail' schedule.pk %}">ALTERNATE VIEW</a></div>
    
    <div>
    <div class="float-right">
            <form method="POST"> {% csrf_token %}
            {{ actionDropdown }}
                {# ACTIONS DROPDOWN BUTTON #} 
                {#______SOLVE W/ALGORITHM___#}
                {#______SOLVE w/MACH.LEARNING___#}
                {#______DELETE SCHEDULE SLOTS___#}
            </form> 
    </div>
    </div>
    <div class="panel">
    
    

    {% for period in schedule.periods.all %}

        <h3 class="text-lg text-blue-700 text-semibold">
                    
        {{ period }}

        </h3>

        <div 
        class="sm:vstack lg:hstack">

            {% for week in period.weeks.all %}
                <div class="vstack">

                    <div><a href="{{week.url}}">{{week}}</a></div>
                
                    <div class="hstack">
                        {% for workday in week.workdays.all %}
                        
                        <a href="{{ workday.url }}" 
                           class="bg-slate-200 rounded-full w-14 h-14 pt-3 text text-center items-center">
                            <div class="text-2xs italic text-slate-700">{{ workday.weekday }}</div>
                            <div class="text-slate-900 font-bold jbm">{{ workday.percent }}%</div>
                        </a>
                        
                        {% endfor workday %}
                    </div>

                </div>
            {% endfor week %}

            {% endif %}
        </div>
        
    

    {# --- STATS BAR ---#}
        <section id="stat-bar">

            {% include 'sch2/schedule/partials/stat-bar.html' %}

        </section>

    {# ---MAIN ICON TAB BAR ---#}
        <section id="tab-bar">

                {% include 'sch2/schedule/partials/sch-tabBar.html' %}

        </section>

    <!-- LOADING INDICATOR -->
        <div id="grid-indicator" class="htmx-indicator my-1">
            <i class="fa-duotone fa-spinner fa-spin"></i>
            <span class="fa-fade mx-2">Loading...</span> 
        </div>

    <!-- SWAPPING PANE -->
        <div id="swap-pane">
            <div class="opacity-60 text-2xs font-light italic">
                Choose an option above to view additional content about this schedule...
            </div>
        </div>
    
        <hr class="bg-slate-300 mx-12 mb-4"/>

</div>

 
</div>



    
{% endblock content %} 
    