

{% extends 'base.html' %}
{% load tags %}



{% block content %}

    <a href="{% url 'sch:v2-schedule-detail' schedule.slug %}" class="hstack">
        <div>{% backArrow %}</div>
        <div>Back</div>
    </a>

    <h2 class="text-xl text-slate-300 font-extrabold jbm">
        Schedule {{ schedule.number }}, {{ schedule.year }}
    </h2>

    <div class="overscroll-x-auto overflow-x-auto">
        <div id="schedule-grid">
            <table class='table'>
                <thead>
                    <th></th>
                    {% for workday in schedule.workdays.all %}
                    <th>{{ workday.date.day }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for employee, assignments in schedule.as_empl_dict.items %}
                    <tr>
                        <th>{{ employee }}</th>
                        {% for assignment in assignments %}
                            <td><a class="bg-inherit font-light text-2xs text-slate-400
                                            {% if assignment.pto_conflicts.exists %} bg-red-200 shadow w-2 h-2 bg-opacity-40 text-shadow text-red-300 font-bold pl-1 {% endif %}"
                                    href="{{assignment.url|default:'#'}}">{{ assignment.shift|default:"." }}</a></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'sch2/schedule/sch-analyze-unprefs.html' %}

{% endblock content %}
    