<div class="relative rounded-xl overflow-auto p-8">

    <div class="overflow-hidden relative max-w-sm 
            mx-auto bg-zinc-800 border border-zinc-500 shadow-lg ring-1 ring-black/5 
            rounded-xl flex items-center gap-6 dark:bg-slate-800 
            dark:highlight-white/5">
      <img class="absolute -left-6 w-24 h-24 rounded-full shadow-lg" src="/static/img/CuteRobot-01.png">
      <div class="flex flex-col py-5 pl-24">
        <strong class="text-slate-900 text-sm font-medium dark:text-slate-200">Solve</strong>
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400"> Using AI Method trained on previous Schedule Data</span>
      </div>
    </div>
  </div>