{% extends 'base.html' %}

{% block head %}
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
<script>

    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        new Sortable(sortable, {
            animation: 150,
            ghostClass: 'blue-background-class'
        });
        }
    })

</script>
{% endblock %}
{% block style %}
    <style>
        body {
            background-image: url('/static/img/ZionRocks_seamless_1.webp');
            background-repeat: repeat;
            background-size: 30%;
        }
        .blue-background-class {
            @apply bg-blue-900 ring ring-blue-700;
        }
    </style>
{% endblock style %}
    
{%block content %}



<div class="vstack md:hstack center items-center text-center">

    <h1> {{employee.name}} Shift Preferences</h1>
    <p>Drag to sort your shift preferences from most preferable on the left, to least on the right.</p>
    <div class="vstack">
    <div class="htmx-indicator">Updating...</div>
    <p>If applicable, your shifts occuring during 
        your preferred work hours window will
        appear in navy.</p>

    
            <form method="post"> 
                    {% csrf_token %}
            <div class="sortable hstack
                        h-20 mx-10 p-20">
                {% for shift in favorableShifts %}
                        <div class="border-2 rounded px-2 border-slate-700 
                                    shadow shadow-black shadow-md
                                    w-20 h-20 my-2">
                            <input  type='hidden' 
                                    name='{{shift}}' 
                                    value='{{shift.pk}}'/> 
                            {{shift.shift.name }} 
                        </div>
                {% endfor %}
            </div>
            </div>
            <div class="vstack">
            <div class="htmx-indicator">Updating...</div>
            <p>and your 'unpreferable' shifts occuring outside 
                of your preferred work hours will appear 
                in yellow.</p>
            <div class="sortable hstack
                        h-20 mx-10 p-20">
                {% for shift in unfavorableShifts %}
                        <div class="border-2 rounded px-2 bg-yellow-500 border-slate-700 
                                    shadow shadow-black shadow-lg
                                    w-20 h-20 my-2">
                        <input type='hidden' name='{{shift}}' value='{{shift.pk}}'/> {{shift.shift.name }} </div>
                {% endfor %}
            </div>
            </div>

        </div>
    
    <div class="hstack m-40 w-full">
        <a href="{{ employee.url }}"  
            class="px-32 py-2 shadow-yellow rounded-lg bg-blue-900 border border-yellow-400 text-yellow-300 hover:bg-blue-600 hover:text-yellow-100">
            Cancel</a>
        <input 
            type="submit" 
            class="px-32 py-2 bg-yellow-700 rounded-lg border border-blue-200 text-yellow-300 hover:bg-yellow-400 hover:text-blue-900"
            value="Submit"/>
    </div>


</form>
</div>
{% endblock %}

