{% extends 'base.html' %}



{% block content %}


    <section style="vstack" style="align-content:center;">
        <h1 style="font-size:32px;">All Weeks</h1>
        <div class="hstack" style="align-items:flex-start;">
            <div class="vstack">
            <a href="/sch/day/all/" class="inactive-tab">BY WORKDAY</a>
            <div class="active-tab">BY WEEK</div>
            </div>
        
        <div class="panel" style="width:32%;">
            {% for week in weeks %}
            <div>
                <h4><a href="/sch/week/{{week.date__year}}/{{week.iweek}}/">Week {{week.date__year }}-{{week.iweek}}</a></h4>
            </div>     
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}