{% extends 'base.html' %}



{% block content %}
    <section style="vstack" style="align-content:center;">
        <a href="/"> HOME </a>
        <h1>All Weeks</h1>
        <div class="hstack">
            <a href="/sch/day/all/" class="inactive-tab">BY WORKDAY</a>
            <div class="active-tab">BY WEEK</div>
        </div>
        <div class="panel" style="width:32%;">
            {% for week in weeks %}
            <div>
                <h4><a href="/sch/week/{{week.date__year}}/{{week.iweek}}/">Week {{week.date__year }}-{{week.iweek}}</a></h4>
            </div>     
            {% endfor %}
        </div>
    </section>
{% endblock content %}