{% extends 'base.html' %}


{% block style %} 

    <style>
        html {
            background-image: url("https://media.discordapp.net/attachments/1024277464945537044/1024871705937707058/jsteinbecker_picturesque_Colorado_landscape_photography_light_s_0171caac-5cb2-4eda-95d7-70ae5577de4a.png?width=2566&height=1283");
            background-repeat: repeat;
            background-size: 60%;
        }
    </style>

{% endblock style %}

{% block content %}


    <section style="vstack" style="align-content:center;">
        <h1 style="font-size:32px;">All Weeks</h1>
        <div class="hstack" style="align-items:flex-start;">
            <div class="vstack">
            <a href="/sch/day/all/" class="inactive-tab">BY WORKDAY</a>
            <div class="active-tab">BY WEEK</div>
            </div>
        
        <div class="panel" style="width:32%;">
            {% for week in weeks %}
            <div>
                <h4><a href="/sch/week/{{week.date__year}}/{{week.iweek}}/">Week {{week.date__year }}-{{week.iweek}}</a></h4>
            </div>     
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}