{% extends 'base.html' %}


{% block content %}
<a href="/sch/week/{{year_num}}/{{week_num}}/">< WEEK</a>

<h2>Unfilled Slots</h2>
<h1>Week {{year_num}}--{{week_num}}</h1>


<div class="panel">
    <h3>Manage Slots</h3>
    <div class="grid-4-col">
    {% for slot in unfilled_slots %}
        <a href="/sch/day/{{slot.0.slug}}/{{slot.1}}/new/"
           style="text-decoration:none;" class="">
        <div class="panel {% if slot.2 < 3 %} panel-red {% endif %}">
            <div class="hstack">
            <div class="vstack">
                <div>{{slot.0}}</div>
                <div>{{slot.2}} Can Currently Fill</div>
            </div>
                <div class="emph" style="font-size:24px;">[{{slot.1}}]</div>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
</div>
    
{% endblock content %}
    