{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}


{% block content %}

<a href="/sch/day/all/">Back to Days</a>

<h1> Week {{week_num}} </h1>

<a href="fill-template/">Fill Templated Slots for Week</a>

{% if total_unfilled != 0 %}
<p>
    {{total_unfilled}} unfilled slots for this week
</p>
{% endif %}

<div class="hstack">
    {% for day in workdays %}
        <div class="panel">
            <h3>
                <a href="/sch/day/{{day.slug}}"> {{day}} </a>
            </h3>
            
            {{ day.table }}
            
        </div>
    {% endfor %}
</div>

<div class="panel w-fc mt-10">
    <h3>Weekly Hours</h3>
    <table>
        {% for employee in wk_hrs %}
            <tr>
                <th>{{employee.name}}</th>
                <td>{{ employee.weekly_hours }} hrs.</td>
               
            </tr>
        {% endfor %}
    </table>   
    {% for empl in hrsTable %}
    <div>
        <span class="green">{{empl.0 }}</span>
        <span>{{ empl.1.hours }} hrs.</span>
    </div>
    {% endfor %}
</div>



{% endblock content %}

    