{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}


{% block content %}


<div class="hstack" style="width:100%;justify-content:space-evenly;">

    <a href="/sch/week/{{year}}/{{prevWeek}}/">
        {% backArrow %}</a>

    <div class="vstack" style="align-items:center;">
        <h1 class="text-3xl"> Week {{week_num}} </h1>
        <a href="/sch/pay-period/{{year}}/{{pay_period}}/"><h2 class="btn btn-sm" style="background-color:coral padding:2px 4px;">PAY PERIOD {{pay_period}}</h2></a>
    </div>

    <a href="/sch/week/{{year}}/{{nextWeek}}/">
        {% forwardArrow %}</a>

</div>

<div class="panel hstack" 
     style="justify-content:space-between;">



    {% if total_unfilled != 0 %}
    
    <a href="unfilled-slots/">
        <div class="vstack light-button" 
             style="align-items:center;
                   border:1px solid #aaa3;
                   padding:10px 20px 10px 20px;
                   border-radius:6px;gap:1px;">
            <span style="padding:0px;margin:0px;">
                {{total_unfilled}} unfilled slots for this week</span>
            <span style="font-size:9px;letter-spacing:1.5px;">
                CLICK TO MANAGE</span>
        </div>
    </a>
    {% endif %}
    {% if pto_requests %}
    <div class="vstack light-button"
         style="align-items:center;
                   border:1px solid #aaa3;
                   padding:10px 20px 10px 20px;
                   border-radius:6px;gap:1px;">
        <span style="padding:0px;margin:0px;">
            {{pto_requests|length}} PTO requests</span>
        <span style="font-size:9px;letter-spacing:1.5px;">
            CLICK TO MANAGE</span>
    </div>
    {% endif %}

    <div class="vstack" style="align-items:center;float:end;">
    <div class="hstack">
        <div class="tooltip" data-tip="FILL Templated Slots">
            <a class="btn btn-neutral" href="fill-template/">{% fillTemplateIcon %} </a>
        </div>

        <div class="tooltip" data-tip="RUN Assignment Solver">
            <a class="btn btn-neutral" href="solve/">{% robotIcon %} </a>
        </div>
        <div class="tooltip" data-tip="SORT & SWAP To Improve Schedule">
            <a href="swap-bot/" class="btn btn-neutral" color="text-accent">{% sortingHatIcon %}</a>
        </div>
        <div class="tooltip" data-tip="CLEAR & RETRY Low Preference Slots">
            <a href="clear-low-score-slots/" class="btn btn-neutral" style="background-color:yellow;color:black;">{% posionIcon %}</a>
        </div>
        <div class="tooltip" data-tip="CLEAR All Slots This Week">
            <a class="btn btn-danger" href="clear-slots-form/">{% clearIcon %}</a>
        </div>
    </div>
    <div class="text-2xs">TOOLBOX</div>
    </div>
</div>



<div class="hstack" style="justify-content:space-between;">
    {% for day in workdays %}
        <div class="panel inline-flex relative vstack p-3 text-sm font-medium text-center text-white" style="height:320px;">
            {%if day.nPTO%}<div class="inline-flex absolute -top-2 -right-2 justify-center items-center w-6 h-6 text-xs font-bold text-white bg-blue-500 rounded-full border-2 border-white dark:border-gray-900">{{day.nPTO}}</div>{%endif%}
            <h3 style="color:orange;font-family:Raleway;font-size:24px;">
                <a href="/sch/day/{{day.slug}}"> {{day.date}} </a>
            </h3>
            <div class="overflow-x-auto">
            {{ day.table }}
            </div>
            <div class="tooltip" data-tip="Employee avg Shift Preference">
                <span class="badge badge-xs" style="background-color:darkslateblue;color:black;">{% favoriteIcon '14px' '14px' '#333333' %}{{day.prefScore}}%</span>
            </div>
            
        </div>
    {% endfor %}
</div>

<div class="panel w-fc mt-10" style="width:100%;background-color:#abf2;">
    <div class="hstack">
        <h3>Weekly Hours</h3>
    </div>
    <div class="grid-4-row">
        {% for empl in hrsTable %}
        <div class="form-control">
            
            <label class="label">
              <span class="label-text"><a href="/sch/employee/{{empl.0}}/generate-schedule/{{dateFrom}}/{{dateTo}}/"></span>
            </label>
            <label class="input-group">
                {% if empl.1.hours <= 40 %} 
                    <div class="btn btn-neutral"> {{ empl.1.hours }} hr</div>
                {% else %}
                    <div class="btn bg-orange-600" style="color:white;">0 hr</div>
                {% endif %}
              <span style="font-size:10px;">{{empl.0 }}</span>
            </label>
        </a>
       
          </div>
          {% endfor %}
    
            
    </div>
</div>



{% endblock content %}

    