{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load tags %}


{% block content %}

<a href="/sch/day/all/">
    Back to Days</a>

<div class="panel hstack" 
     style="justify-content:space-between;">

    <div class="hstack">

        <a href="/sch/week/{{year}}/{{prevWeek}}/">
            {% backArrow %}</a>

        <div class="vstack" style="align-items:center;">
            <h1 style="font-size:20px;"> Week {{week_num}} </h1>
            <a href="/sch/pay-period/{{year}}/{{pay_period}}/"><h2 style="font-size:11px;letter-spacing:2px;color:indianred;">PAY PERIOD {{pay_period}}</h2></a>
        </div>

        <a href="/sch/week/{{year}}/{{nextWeek}}/">
            {% forwardArrow %}</a>

    </div>

    {% if total_unfilled != 0 %}
    
    <a href="unfilled-slots/">
        <div class="vstack light-button" 
            style="align-items:center;
                   border:1px solid #aaa3;
                   padding:10px 20px 10px 20px;
                   border-radius:6px;gap:1px;">
            <span style="padding:0px;margin:0px;">
                {{total_unfilled}} unfilled slots for this week</span>
            <span style="font-size:9px;letter-spacing:1.5px;">
                CLICK TO MANAGE</span>
        </div>
    </a>

    {% endif %}
    <div class="hstack">
        <a style="float:left;" href="fill-template/" title="Fill Templated Slots">
            {% fillTemplateIcon %} 
        </a>
        <a href="solve/" title="Run Assignment Solver">
            {% robotIcon %}
        </a>
        <a href="clear-slots-form/" title="Clear All Slots This Week">
            {% clearIcon %}
        </a>
    </div>

</div>



<div class="hstack" style="justify-content:space-between;">
    {% for day in workdays %}
        <div class="panel" style="height:320px;">
            <div style="float:right;">{% nDaysAwaySmall day.date %}</div>
            <h3 style="color:orange;font-family:Raleway;font-size:24px;">
                <a href="/sch/day/{{day.slug}}"> {{day.date}} </a>
            </h3>
            
            {{ day.table }}
            
        </div>
    {% endfor %}
</div>

<div class="panel w-fc mt-10" style="width:100%;background-color:#abf2;">
    <div class="hstack">
        <h3>Weekly Hours</h3>
    </div>
    <div class="grid-3-row">
        {% for empl in hrsTable %}
        <div>
             {% if empl.1.hours <= 40 %} <span class="green-glow"> <a href="{{empl.0.url}}">{{empl.0 }}</a> </span> 
             {% else %}                  <span class=  "red-glow">{{empl.0 }}</span>  {% endif %}
                                         <span>                   {{ empl.1.hours }} hrs. </span>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}

    