


{% block content %}
{% with "bg-gray-200 h-10 w-10" as slot_CSS %}
{% with "fa-duotone fa-person-circle-question text-amber-500 text-2xl" as missing_ICON %}
{% with "bg-green-200 text-emerald-800 font-bold h-10 w-10" as filled_CSS %}
{% with "fa-duotone fa-face-kiss-closed-eyes text-emerald-600 text-2xl" as missing_ICON %}



    {# EMPLOYEES #}
    {% for employee in workday.on_deck %}
            <button>{{ employee.slug }}</button>
    {% endfor %}


    {# SLOTS -- EMPTY ONLU #}
    {% for slot in workday.slots.empty  %}
            <div class="{{ slot_CSS }}"> {{ slot.shift.name }}
                <i class="{{ missing_ICON }}"></i>
            </div>
    {% endfor %}

    {% for slot in workday.slots.filled  %}
            <div class="{{ filled_CSS }}"> {{ slot.shift.name }}
                <i class="{{ filled_ICON }}"></i>
            </div>
    {% endfor %}



    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    
{% endblock content %}
    
