{% extends 'base.html' %}
{% load tags %}






<!----------------------------
TEMPLATE VARIABLES
    *   workday
------------------------------>

{% block content %}

    <div class="vstack center items-center">

        <div class="hstack h-30">
            <a href="{{workday.week.url}}" class="rounded-md p-5 hover:bg-blue-800 text text-center vstack text-center">
                <div class="text-2xs text-gray-400">WEEK</div>
                <div class="text-xl text-blue-200">{{workday.week.number}}</div>
            </a>
            <a href="{{workday.period.url}}" class="rounded-md p-5 hover:bg-indigo-800 text text-center vstack text-center"">
                <div class="text-2xs text-gray-400">PAY PERIOD</div>
                <div class="text-xl text-indigo-200">{{workday.period.number}}</div>
            </a>
            <a href="{{workday.schedule.url}}" class="rounded-md p-5 hover:bg-purple-800 text text-center vstack text-center">
                <div class="text-2xs text-gray-400">SCHEDULE</div>
                <div class="text-xl text-purple-200">{{workday.schedule.number}}</div>
            </a>
        </div> 

        <hr/>


        <div class="flex flex-row">

            <a class="text-3xl rounded bg-transparent animate fa-animate hover:bg-amber-300 transition" href="{{workday.prevWD.url}}">
                <i class="fa-duotone fa-chevrons-left hover:bg-amber-300 rounded w-15 h-15 hover:bg-opacity-10 transition p-1 hover:scale-105 active:fa-pulse "></i>
            </a>

            <div class="rounded-lg  w-9/12 shadow shadow-lg px-3 py-1 m-3 mb-12 border border-slate-300 bg-zinc-900 lg:w-[70%]">
                <span class="shrink text-3xl font-semibold text-blue-400 text-shadow"> 
                Schedule
                <span class="text-lg font-light text-white">
                    for {{ workday.date}}
                </span>
                </span>
            
                <div id="workday-schedule"
                    class="text text-center">
                
                {% regroup workday.slots.all by cls as slots_list %}

                    <form method="POST"> {% csrf_token %}
                    {% for cls in slots_list %}
                        {{ cls.grouper }}
                        <div class="grid grid-cols-2 md:grid-cols-3 w-full my-10">


                        <!-----   SLOT ELEMENT   ----->
                        {% for slot in cls.list %}

                        <div  
                            draggable='false'
                            class= "slot 
                                    {{ slot.css__all }} 
                                    rounded   
                                    p-1   
                                    m-2 "
                            _="on checkEmpFillability (emp) 
                                        fetch '/sch/v2/slot/slot-check-emp-fillability/{{slot.pk}}/${emp}/'
                                            then set :canFill  to the result 
                                            if :canFill
                                                then log 
                                                    '!!Success ${emp} capable of filling SLOT: {{ slot.workday.daye }}[{{ slot.workday.shift.name }}]'
                                        if not :canFill 
                                        then log 
                                            `!!Warn ${emp} unable to fill {{ slot.workdy.date }}[{{ slot.workday.shift.name }}]`

                                        then if :canFill == 'True' 
                                            set :willAcceptDrop 
                                                to 'True'
                                            then add 
                                                .bg-green-900 
                                                .bg-opacity-20 
                                                .border
                                                .border-green-300
                                                    to me
                                        then if :canFill == 'False'
                                            set :willAcceptDrop 
                                                to 'False'
                                            then add 
                                                .bg-red-900 
                                                .bg-opacity-20 
                                                .border
                                                .border-red-300
                                                    to me
                                    end
                                
                                    on dragEndingNoises call hearDragEndEvent(event);
                                   
                                    
                                    on dragover
                                        halt the event then 
                                        add .bg-opacity-100 
                                            .bg-emerald-400 
                                        to the first <span.shift-label/> 
                                            in me
                                        then add .bg-green-900 .bg-opacity-70
                                            to me
                                    end


                                    on dragleave
                                        remove 
                                            .bg-green-900 
                                            .bg-opacity-70
                                            from me
                                    end
                                    
                                    on drop 
                                        call checkEmpFillability (emp:id)
                                        then if :canFill == 'True'
                                            set :willAcceptDrop 
                                                to 'True'
                                            then add 
                                                .bg-green-900 
                                                .bg-opacity-20 
                                                .border
                                                .border-green-300
                                                    to me
                                        then if :canFill == 'False'
                                            set :willAcceptDrop 
                                                to 'False'
                                            then add 
                                                .bg-red-900 
                                                .bg-opacity-20 
                                                .border
                                                .border-red-300
                                                    to me
                                        end

                                        if :willAcceptDrop == 'True'
                                            then log 'will accept drop'
                                            then halt the event
                                            then set :willAcceptDrop to 'False'
                                            then remove .bg-green-900 .bg-opacity-70
                                            from me
                                        then if :willAcceptDrop == 'False'
                                            then remove .bg-red-900 .bg-opacity-20 .border .border-red-300
                                                from me
                                            then halt the event
                                            then set :willAcceptDrop to 'False'
                                        end
                                    end
                                    
                                    
                                    " 
                        >
                            <a href="{{ slot.url }}">

                                {% if slot.employee %}
                                    <span class="shift-label bg-slate-200 px-2 rounded-sm m-1 text-slate-800">{{ slot.shift }}</span><br/>
                                    <button 
                                        _="on dragstart 
                                            set id to my@id then log id 
                                            then trigger checkEmpFillability(emp:id) on <div.slot/> 
                                            end

                                        on dragend 
                                            halt the event then
                                            trigger dragEndingNoises on <div.slot/> 
                                            then
                                            remove .bg-opacity-100 .bg-emerald-400 
                                            from <span.shift-label/> 
                                            then remove .bg-green-900 .bg-opacity-70
                                            end"
                                    
                                        id="{{ slot.employee.slug }}" 
                                        draggable="true"
                                        class="text-indigo-300 font-light mr-3 empname"
                                        ondragstart="dragStart(event);"
                                        ondragend="dragEnd(event);"
                                        class="employee">

                                    {{ slot.employee }}
                                    </button> 

                                        {% else%}
                                            <span class="shift-label bg-slate-200 px-2 rounded-sm m-1 text-slate-800 opacity-30 italic">{{ slot.shift }}</span>
                                            <span class="mr-3 text-2xs text-zinc-400 font-extrabold bg-opacity-60 empname">NONE</span> 
                                {% endif %}
                            </a>
                            <input type="hidden" id="{{slot.shift}}" name="{{slot.shift}}"/>
                            <span class="output text-light text-green-300 italic"></span></label>
                        </div>
                        {% endfor %}
                        </div>
                        <input type="submit" id="savebutton" class="btn bg-blue-300 text-gray-300 px-2 rounded italic bg-gray-700 opacity-30"  value="Save"/>
                    {% endfor %}
                    </form>
                </div>
            </div>

            <a class="text-3xl rounded bg-transparent animate fa-animate hover:bg-amber-300 transition" href="{{workday.nextWD.url}}">
                <i class="fa-duotone fa-chevrons-right hover:bg-amber-300 rounded w-15 h-15 hover:bg-opacity-10 transition p-1 hover:scale-105 active:fa-pulse "></i>
            </a>
        </div>
    </div>

       
        <div class="flex flex-row gap-3">
            <div class="grow panel">
                <h2 class="text-2xl font-light">Employees On Deck</h2>
    
                <div class="grid grid-cols-2 w-fc"
                id="on-deck">


                <!-- object -->
                <!-- EMPLOYEE OBJECT -->
                {% for empl in workday.on_deck %}
                        <button _ ="
                        
                            on dragstart 
                                set :id to my@id 
                                then send checkEmpFillability(emp:id) 
                                    to .slot
                            end

                            on dragend or drop
                                halt the event then
                                trigger dragEndingNoises on <div.slot/> 
                                then
                                remove 
                                    .bg-opacity-100 
                                    .bg-emerald-400 
                                from 
                                    .shift-lable
                                end

                            on drop 
                                call checkEmpFillability (emp:id)
                                then if :canFill == 'True'
                                    set :willAcceptDrop 
                                        to 'True'
                                    then add 
                                        .bg-green-900 
                                        .bg-opacity-20 
                                        .border
                                        .border-green-300
                                            to me
                                then if :canFill == 'False'
                                    set :willAcceptDrop 
                                        to 'False'
                                    then add 
                                        .bg-red-900 
                                        .bg-opacity-20 
                                        .border
                                        .border-red-300
                                            to me
                                end

                                if :willAcceptDrop == 'True'
                                    then log 'will accept drop'
                                    then halt the event
                                    then set :willAcceptDrop to 'False'
                                    then remove .bg-green-900 .bg-opacity-70
                                    from me
                                then if :willAcceptDrop == 'False'
                                    then remove .bg-red-900 .bg-opacity-20 .border .border-red-300
                                        from me
                                    then halt the event
                                    then set :willAcceptDrop to 'False'
                                end
                            end"
                            
                            id       = "{{empl.slug}}" 
                            type     = "button"
                            draggable= "true"
                            class=     "rounded 
                                        px-2 mx-1 
                                        ext-sm text-zinc-900 
                                        bg-emerald-600" >
                            {{ empl }}
                            <div class="text-2xs text-green-200">
                                <span>{% emplWeekAndPeriodHours empl workday %}</span>
                            </div>
                        </button>
                {% endfor %}

                </div>
                <output></output>
            </div>

        <div class="flex flex-col grow panel">
            <h2 class="text-2xl font-light">Employees with PTO Requests</h2>
            {% if workday.pto.count > 0 %}
                <div class="grid grid-cols-2 w-fc">
                    {% for pto in workday.pto %}
                        <a href="{{ slot.url }}">
                                <span class="rounded px-2 mx-1 text-sm text-slate-700 bg-amber-300">PTO</span><br/>
                                <span class="text-amber-400 font-light mr-3">{{ pto.employee }}</span> 
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div>No PTO Requests recorded</div>
            {% endif %}
        </div>

        <div class="grow panel">
            <h2 class="text-2xl font-light">Employees Templated Off</h2>
            {% if workday.tdo.count > 0 %}
                <div class="grid grid-cols-2 w-fc"
                    _="on dragstart call event.dataTransfer.setData('text/html', target.id)
                        log the result"
                    id="tdo-panel">

                    {% for tdo in workday.tdo %}
                        <button value="{{empl.slug}}"
                                employee="{{empl.slug}}"
                                dayState="tdo"
                                draggable="true"
                                ondragstart="dragStart(event);"
                                ondragend="dragEnd(event);"
                                class="employee">
                               
                                <span class="text-amber-500 border border-amber-500 rounded px-2 pr-3 font-light mr-3"> 
                                    <span class="rounded px-2 mx-1 text-sm text-zinc-900 bg-amber-600">TDO</span>
                                    {{ tdo.employee }}
                                </span> 
                        </button>
                    {% endfor %}
                </div>
            {% else %}
                <div>No Employees have this day templated off.</div>
            {% endif %}
        </div>    
        
        </div>
    </div>

    <div class="float-right">
        <a href="{% url 'sch:beta-day' workday.slug %}" class="italic text-sm font-zinc-500 hover:border hover:border-b hover:font-zinc-300">Switch to Beta View</a>
    </div>


    <script>

        const dropzones = document.querySelectorAll('.drop-zone');
        dropzones.forEach(dropzone => {
            dropzone.addEventListener('dragenter', dragEnter);
            dropzone.addEventListener('dragleave', dragLeave);
            dropzone.addEventListener('dragover', dragOver);
            dropzone.addEventListener('drop', drop);
        });

        const employees = document.querySelectorAll('.employee');
        employees.forEach(employee => {
            employee.addEventListener('dragstart', dragStart);
            employee.addEventListener('dragend', dragEnd);
        });
    
        function dragEnter(ev) {
            ev.preventDefault();
            ev.target.style.background = "lightblue";
        }
    
        
        function dragStart(ev) {
            
            ev.dataTransfer.setData("text", ev.target.id);
            console.log ("${ev.dataTransfer.getData('text')}");
            ev.dataTransfer.effectAllowed = "move";
          }

          function dragLeave(ev) {
            ev.preventDefault();
            ev.target.style.background = "";
          }
          
          function dragOver(ev) {
            console.log(`dragOver: dropEffect = ${ev.dataTransfer.dropEffect} ; effectAllowed = ${ev.dataTransfer.effectAllowed}`);
            ev.preventDefault();
          
          }

          function dragEnd(ev) {
            console.log(`dragEnd: dropEffect = ${ev.dataTransfer.dropEffect} ; effectAllowed = ${ev.dataTransfer.effectAllowed}`);
            ev.preventDefault();
            ev.target.style.background = "";
          }

          function drop(ev) {
            ev.preventDefault();
            ev.target.style.background = "";
          
            // Get the id of the target and add the moved element to the target's DOM
            const data = ev.dataTransfer.getData("text/html");
            
            // if the data is in #tdo-panel or #on-deck, remove it from there
            const tdoPanel = document.getElementById('tdo-panel');
            const onDeck = document.getElementById('on-deck');
            
            if (tdoPanel.contains(document.getElementById(data))) {
                tdoPanel.removeChild(document.getElementById(data));
            } else if (onDeck.contains(document.getElementById(data))) {
                onDeck.removeChild(document.getElementById(data));
            }
           
            ev.target.appendChild(document.getElementById(data)); {
              // get the next input in the DOM and set its value to shift value 
              const nextInput = ev.target.nextElementSibling;
              nextInput.value = data;
              // if all inputs have values, show the submit button
              const allInputs = document.querySelectorAll('input[type="hidden"]');
              const allInputsHaveValues = Array.from(allInputs).every(input => input.value);
              
            document.getElementById('sort-submit').hidden = false;
            }
          }

    </script>

    <scriptb type="text/hyperscript"> 

    def hearDragEndEvent 
        remove  .bg-gray-900 
            .bg-opacity-20 
            .border
            .border-gray-300 
        from me
        then set :willAcceptDrop to false
    end

    </scriptb>
    

    {% endblock content %}

    



    