{% extends 'base.html' %}




{% block content %}
        <a href="{{shift.url}}">Back</a>

        <div class="panel text text-center">
                <h1 class="text-3xl">{{shift}} Training</h1>
        </div>

        <div class="panel">
            <form method="post"> 
            {% csrf_token %}
                <table>
                {% for empl in empls %}
                <tr>    {# ---------DISPLAY NAME--------- #}
                        <td><label for="{{empl}}-trained">
                                {{ empl }}
                            </label>
                        </td>
                        
                        {# -------IS EMPLOYEE TRAINED--------- #}
                        {% with empl.shifts_trained.filter as trained %}
                        <td><input type="checkbox" name="{{empl.slug}}-trained"
                                        {% if trained %}   checked   {% endif %}/></td> 
                        {% endwith %}

                        {# -------IS EMPLOYEE AVAILABLE------- #}
                        {% with empl.shifts_available.filter as available %}
                        <td><input type="checkbox" name="{{empl.slug}}-available" 
                                        {% if available %}  checked   {% endif %}/></td> 
                        {% endwith %}
                </tr>
                {% endfor %}
                </table>
                {# ----- SUBMIT BUTTON ------ #}
                <input  type="submit" 
                        class="text-indigo-400 rounded ring ring-indigo-300 hover:text-indigo-200 hover:ring-white hover:ring-2"
                        value="Update Training Information"/>
            </form>
        </div>

    
{% endblock content %}

    