{% extends 'base.html' %}




{% block content %}
        <a href="{{shift.url}}">Back</a>

        <div class="panel text text-center">
                <h1 class="text-3xl">{{shift}} Training</h1>
        </div>

        <div class="panel">
            <form method="post"> 
            {% csrf_token %}
                <table>
                {% for empl in empls %}
                <tr>
                        <td><label for="{{empl}}-trained">
                                {{empl}}
                            </label>
                        </td>
                        
                        {% with empl.shifts_trained.filter as trained %}
                        <td><input type="checkbox" name="{{empl}}-trained"
                                        {% if trained %}   checked   {% endif %}/></td> 
                        {% endwith %}

                        {% with empl.shifts_available.filter as available %}
                        <td><input type="checkbox" name="{{empl}}-available" 
                                        {% if available %}  checked   {% endif %}/></td> 
                        {% endwith %}
                </tr>
                {% endfor %}
                </table>
                <input type="submit" value="Update Training Information"/>
            </form>
        </div>

    
{% endblock content %}

    