{% extends 'base.html' %}

{% load tags %}


{% block style %}

    <style>
        .helv {
            font-family: 'Helvetica Neue', Arial, sans-serif!important;
        }
    </style>

    
{% endblock style %}



{% block content %}

    <a href="{{shift.url}}"><i class="fas">{% backArrow %}</i> Back </a>

    <h1 class="text-3xl text-slate-300 font-bold leading-tight">
        {{ shift }} Templating
    </h1>
    <form method="POST"> {% csrf_token %}

        <div class="grid grid-cols-7 gap-1">
            {% for i, day in days.items %}
                <div class="bg-zinc-900 shadow shadow-lg rounded m-1 px-2">
                    <label for= "{{i}}"  class="text-xs text-zinc-300 helv ls-1">
                        Schedule Day {{ i|add:1 }}
                    </label>
                    <select id="{{i}}" name="{{i}}" 
                            class="w-full text-xs text-blue-900 bg-zinc-400 font-bold uppercase" 
                            {% if day.shift_on_sd_id == False %} disabled {% endif %}>
                        <option class="text-xs text-zinc-700" value=""> -- </option>
                        {% for employee in day.available %}
                            <option class="text-xs text-blue-900 font-bold uppercase" value="{{ employee.slug }}"
                                {% if day.initial.employee == employee %} selected {% endif %}>
                                    {{ employee }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Submit" class="bg-blue-900 w-40 text-zinc-300 font-bold uppercase 
                                                   text-xs px-2 py-1 mx- rounded m-1
                                                   hover:transition hover:bg-sky-700 hover:text-white hover:scale-125">
    </form>


{% endblock content %}


    
