
<div class="shadow-lg rounded-xl p-4 bg-slate-900">
    <div class="flex items-center">
        <span class="rounded-full relative p-4 bg-green-400">
            <svg width="40" fill="currentColor" height="40" class="text-purple-500 h-4 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
               
            </svg>
        </span>
        <p class="text-md text-black dark:text-white ml-2">
            {{title}}
        </p>
    </div>
    <div class="flex flex-col justify-start">
        <p class="text-gray-700 dark:text-gray-100 text-4xl text-left font-bold my-4">
            {{figure}}
            <span class="text-sm">
                {{unit}}
            </span>
        </p>
        <div class="flex items-center text-green-500 text-sm">
            <svg width="20" height="20" fill="currentColor" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">
                </path>
            </svg>
            <span>
                {{percComplete}}
            </span>
            <span class="text-gray-400 pl-3">
                Complete / {{tot}}
            </span>
        </div>
    </div>
</div>
