{% load tags %}

{# iconCard Template #}

<a
  class="block rounded-xl border border-gray-800 bg-gray-900 p-8 shadow-xl"
  href="{{ cardUrl }}"
>
  {% moonIcon '45px' '45px' '#ffffffaa' %}

  <h3 class="mt-3 text-xl font-bold text-white">{{title}}</h3>

  <p class="mt-4 text-sm text-gray-300">
    <div class="flex flex-wrap">
    {% for item in body%}
        <span
          class="inline-flex items-center justify-center rounded-full bg-purple-900 px-2.5 py-0.5 text-purple-500"
        >
         <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="-ml-1 mr-1.5 h-4 w-4"
          >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <p class="whitespace-nowrap text-sm text-purple-300">{{item}}</p>
      </span>
    {% endfor %} 
    </div>
    {% if badge != "" %}
      <span class="badge badge-primary">{{badge}}</span>
    {% endif %}
  </p>
</a>