.pie-chart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eee;
    position: relative;
  }
  
  .pie-chart__slice {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(0deg);
  }
  
  .pie-chart__slice--1 {
    background: inherit;
  }
  
  .pie-chart__slice--2 {
    background: #000000;
  }
  
  .pie-chart__slice:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
    clip: rect(0, 100%, 100%, 50%);
  }
  
  .pie-chart__slice--1:before {
    transform: rotate(calc(var(--percentage, 0) * 1deg));
  }
  
  .pie-chart__slice--2:before {
    transform: rotate(calc(var(--percentage, 0) * 1deg));
  }
  