{% extends 'base.html' %}
{% load tags %}


{% block style %}

    
{% endblock style %}

    

{% block content %}

    <div><i class="fas">{%backArrow%}</i>Back</div>

    <h1 class="text-3xl text-amber-500 font-bold gap-5 m-20">{{ employee }}'s Schedule Views</h1>
        
    
    <div class="panel">
        
        {% for schedule in schedules %}
            <a href="{% url 'sch:empl-schedule-detail' employee.slug schedule.slug  %}"
                class="bg-slate-300 m-20 w-40 h-12   
                       text-slate-800 font-light 
                       rounded shadow shadow-lg">

                {% if schedule.status == 'D' %}
                    <div class="bg-amber-700 rounded 
                                px-2 py-1 m-1">
                        DRAFT
                    </div>
                {% endif %}
                
                Schedule # {{schedule.number }} - {{ schedule.year }} 
                
                <span class="text-2xs text-gray-600">
                    (starts {{ schedule.start_date }})
                </span>
            </a>
        {% endfor %}
            

    </div>

{% endblock content %}
    