{% load tags %}

    <a href="{{employee.url}}"
       class="rounded-lg shadow drop-shadow-sm px-3 py-1 m-3 border border-slate-600 bg-slate-800 
       hover:bg-slate-700 hover:ring-2 hover:ring-slate-300 hover-scale-125 hover:translate-y-7 hover:transition">
        <span class="shrink text-3xl font-semibold text-amber-500 text-shadow
                    {% if employee.time_pref == 'Evening' %} 
                        text-blue-400 
                    {% elif employee.time_pref == 'Overnight' %}
                        text-indigo-600
                    {% endif %}"> 
                {{ employee.name }}

                    {% if employee.time_pref == "PM" %} 
                      <span> {% moonIcon '10px' '10px' '#5090ffaa' %} </span> 
                    {% elif employee.time_pref == "Overnight" %}
                      <span> {% moonIcon '20px' '10px' '#5090ffaa' %} </span> 
                    {% endif %} 
        </span>

        <p class="my-5 text-xs text-gray-500 px-20">
          
            <div class="text-xs">
              <span class="badge badge-xs text-2xs mr-3">
                FTE
              </span>
              {{ employee.fte }}
            </div> 

            <div class="text-2xs">
              <span class="badge badge-xs text-2xs mr-3 italic">
                SLOT COUNT
              </span>
              {{ employee.slots.all.count }}
            </div> 

        </p>
    </a>
    
