{% load tags %}
    <a href="{{employee.url}}">
      <div class="rounded-lg shadow drop-shadow-sm px-3 py-1 m-3 border border-slate-600 bg-slate-800 hover:bg-slate-700 hover:ring hover:ring-slate-300">
        <span class="shrink text-3xl font-semibold text-amber-500
                    {% if employee.time_pref == 'PM' %} text-blue-400 {% endif %}"> {{ employee.name }} 
                    {% if employee.time_pref == "PM" %} 
                      <span> {% moonIcon '10px' '10px' '#5090ffaa' %} </span> 
                      {% endif %} 
        </span>
        <p class="my-5 text-xs text-gray-500 px-20">
            <div class="text-xs"><span class="badge badge-xs text-2xs mr-3">FTE</span>{{ employee.fte }}</div> 
            <div class="text-xs"><span class="badge badge-xs text-2xs mr-3">SLOT COUNT</span>{{ employee.slots.all.count }}</div> 
        </p>
      </div>
    </a>
    
