{% extends 'base.html' %}
{% load tags %}

{% block style %}

  <style>
      .selected {
        border: 4px white solid;
        width: 38px!important;
        height: 38px!important;
      }
  </style>
    
{% endblock style %}




{% block content %}

    <a href="{{ employee.url }}">
        <i class="fas">{% backArrow %}</i>
        Back
    </a>

    <div class="text text-center">
        <h1 class="text-3xl">{{ employee }}</h1>
        <h2 class="text-xl"> Sort Shift Preferences</h2>
    </div>



    <form method="POST">
    
    {% csrf_token %}

    <div id="sorted-bin"
        class="panel center-items"
         _="init 
              set $selectedType to null 
              end
            on click
              remove .selected from .shift 
              end
            on click set $selectedType to null ">

        <div class="hstack">
                {% for n in nTotal %}

                    <div id="bin-{{ n }}" 
                        class="bin-empty bin bg-sky-900 ring-sky-200 ring-2 h-12 w-12 rounded text-center" 
                        ondrop="drop(event)"
                        ondragover="dragOver(event)"
                        ondragleave="dragLeave(event)"
                        data-shift=""
                        _="on click 
                              if $selectedType == `shift` 
                                remove .bin-empty from me then 
                                set selected to .selected then 
                                set @data-shift to selected@value then
                                set (next .shift-input)@value to selected@value then
                                put selected at the end of me
                                end
                              end">
                        {{ n }}
                    </div>
                    <input class="shift-input" type="hidden" name="bin-{{n}}" value="">
                    
                {% endfor %}
        </div>

    </div>
   

    <div id="unsorted-bin"
        class="hstack bg-slate-600 rounded-lg ring-4 ring-zinc-200 p-8 w-fc m-4">

        {% for shift in employee.shifts_available.all %}
            <div id="shift-{{ shift }}" 
                class="shift bg-indigo-500 h-6 w-6 rounded text-center p-1 text-xs ml-3
                        hover:bg-indigo-400 hover:ring-indigo-300 hover:ring-2"
                draggable="true"
                ondragstart="dragStart(event)"
                value= "{{ shift }}"
                _="on click 
                      if I match .selected 
                        set $selectedType to null then 
                        remove .selected from me 
                      else
                        set $selectedType to `shift` then 
                        remove .selected from .shift then
                        add .selected to me 
                        end
                      end">
                {{ shift }}
            </div>
        {% endfor %}

        <input id="sort-submit" 
            type="submit" 
            value="Submit" 
            class="submit-btn 
                  hidden
                  bg-transparent border border-3 border-yellow-400 
                  rounded-lg px-4 py-1 m-2 
                  transition text-yellow-400 
                  hover:bg-yellow-400 hover:text-black hover:scale-105 hover:fa-pulse"
            _="on click from (.bin or .hstack)
                set emptyShifts to .bin-empty.length 
                then log emptyShifts then
                if emptyShifts == 0 
                  remove .hidden from me
                  end
                end"/>

    </div>

    </form>

    <script>
        function dragStart(ev) {

            console.log(`dragStart: dropEffect = ${ev.dataTransfer.dropEffect} ; effectAllowed = ${ev.dataTransfer.effectAllowed}`);
        
            // Add this element's id to the drag payload so the drop handler will
            // know which element to add to its tree
            ev.dataTransfer.setData("text", ev.target.id);
            ev.dataTransfer.effectAllowed = "move";

          }

          function dragLeave(ev) {
            ev.target.style.background = "";
          }
          
          function dragOver(ev) {
            console.log(`dragOver: dropEffect = ${ev.dataTransfer.dropEffect} ; effectAllowed = ${ev.dataTransfer.effectAllowed}`);
            ev.preventDefault();
            // make the target background lighter 
            ev.target.style.background = "lightblue"; 
            // Set the dropEffect to move
            ev.dataTransfer.dropEffect = "move"
          }

          function drop(ev) {
            ev.preventDefault();
            ev.target.style.background = "";
          
            // Get the id of the target and add the moved element to the target's DOM
            const data = ev.dataTransfer.getData("text");
          
            // If the target already has a child element, and the child element is not a text node, remove it and append it to the unsorted bin
            if (ev.target.lastChild && ev.target.lastChild.nodeType !== Node.TEXT_NODE) {
              document.getElementById('unsorted-bin').appendChild(ev.target.lastChild);
            }
            ev.target.appendChild(document.getElementById(data)); {
              // get the next input in the DOM and set its value to shift value 
              const nextInput = ev.target.nextElementSibling;
              nextInput.value = data;
              // if all inputs have values, show the submit button
              const allInputs = document.querySelectorAll('input[type="hidden"]');
              const allInputsHaveValues = Array.from(allInputs).every(input => input.value);
              if (allInputsHaveValues) {
                document.getElementById('sort-submit').hidden = false;
              }
            }
          }
          
          
          

          function reloadPage() {
            location.reload();
          }
        </script>
 



{% endblock content %}
    